<div class='d-inline-flex w-100 header'>
  <div class='d-flex w-100 justify-content-between'>
    <div class='font-weight-bold ml-sm-5'
         *ngFor='let col of settings.columns; let index = index'>
      {{col.title}}
    </div>
  </div>
  <div class='pl-sm-3'>
    <button class='border-0 bg-transparent'>
      <img src="../../../../assets/icons/three-dots.svg" alt="">
    </button>
  </div>
</div>

<hr class='m-0'>

<!--row-->
<div class='bg-white' *ngFor='let row of settings.data; let rowIndex = index'>

  <div class='pb-1 pr-1 pt-1'>

    <div id='row' class='d-flex w-100 justify-content-between'>
      <div class='d-inline-flex ml-1 mt-1 mr-sm-2' *ngFor='let item of settings.columns; let rowDataIndex= index'>
        <img *ngIf='rowDataIndex === 0 && row.isExpanded' class='mr-1' src='assets/icons/plus_fill.svg'
             alt='plus_square' width='18' (click)='clicked(rowIndex)' />
        <img *ngIf='rowDataIndex === 0 && !row.isExpanded' class='mr-1' src='assets/icons/plus_square.svg'
             alt='plus_square' width='18' (click)='clicked(rowIndex)' />
        <div class='pr-4'>{{row[item.dataFieldKey]}}</div>
      </div>
    </div>

    <div *ngIf='row.isExpanded' class='vertical_line mb-1'>
      <p class='sub_info_p' *ngFor='let item of row.rowSubData; let index = index'><span
        class='sub_info_span ml-3 pl-1'>
      <span class='mr-2 detail_color' *ngFor='let item of row.rowSubData'>{{item}}</span>
      </span></p>
    </div>

  </div>
  <hr class='m-0 p-0'>
</div>
