<div class="statistic-card" *ngIf="activeTab == 'Request List'">
  <app-filter [setting]='filterCard1'></app-filter>
</div>
<div class="statistic-card" *ngIf="activeTab == 'My Order'">
  <app-filter [setting]='filterCard2'></app-filter>
</div>
<div class="component_wrapper p-0">
  
  <div class="table-container">
    <div class="card-table-header card-table-header--fluid">
      <div class="search-box">
        <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
        <button>
          <img src="../../../assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" disabled>
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button class="btn-primary-small" *ngIf="activeTab == 'My Order'"routerLink="add-order-list"><i>+</i><a>{{ 'forms.order' | translate }}</a></button>
    </div>
    <app-tab-view (selectedIndex)="activeTab = $event">
      <div title='part_store.order_list.request_list'>
        <app-table [setting]='requestList_Table'></app-table>
      </div>
      <div title='part_store.order_list.my_order'>
        <app-table [setting]='myOrder_Table'></app-table>
      </div>
      <div title='part_store.order_list.suppliers'>
        <app-table [setting]='suppliers_Table'></app-table>
      </div>
    </app-tab-view>
  </div>
</div>
