.table-container {
  padding: 15px 15px 15px 0;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #0000003d;
}
.card-table-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

