@import 'projects/uae-fms/src/themes/green-theme';

.toolbar {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;

  mat-toolbar {
    height: 4em;
    font-family: '29LT Bukra';
    font-size: 1em;
    ::ng-deep {
      .mat-icon-button {
        font-family: '29LT Bukra';
        font-size: 1em;
        width: 2.6em;
        height: 100%;
      }
    }
    .role_label {
      font-size: 0.7em;
      font-weight: bold;
    }
    img.police-logo {
      width: 7.5em;
    }
    .menus {
      button {
        margin: 2px;
        img {
          width: 2.6em;
        }
      }

      .search {
        border: 1px solid #fff;
        border-radius: 25px;
        color: #fff;
        padding: 2px;
        background: transparent;
        padding-left: 15px;
        font-size: 1rem;
        height: 24px;
        align-self: center;
        width: 100%;
        margin: 2px;
      }

      .search-icon {
        color: #fff;
        margin-left: -28px;
        font-size: 1rem;
        align-items: center;
        align-self: center;
        align-content: center;
      }
    }
  }

  .nav-button {
    margin: 0 10px 0 0;
  }

  .branding {
    cursor: pointer;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;

    &.center {
      text-align: center;
    }

    img {
      position: relative;
      width: 30px;
      height: 30px;
    }

    .brand-image {
      display: inline-block;
      padding: 7px;
      background: #fff;
      border-radius: 9px;
      margin-right: 16px;
      margin-top: -4px;
    }
  }

  .police-brand {
    align-items: flex-end;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
  }

  .mat-stroked-button {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-select {
    margin: 0 0 0 20px;
    width: 40px;
    font-size: 14px;
  }

  //   @media (max-width: map-get($grid-breakpoints, lg)) {
  //     .nav-button {
  //       min-width: 0;
  //       padding: 0 10px;
  //     }
  //   }
}

::ng-deep {
  .overlay-panels {
    .p-overlaypanel-content {
      padding: 0;
    }
    .language-panel {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          display: flex;
          padding: 0.5em 1.5em;
          cursor: pointer;
          &:hover {
            background-color: $fms-green-body1-bg;
          }
          p {
            margin: 0 0 0 1em;
          }
        }
      }
    }
  }
}

// @media (max-width: $toolbar-breakpoint) {
//   .content {
//     margin-top: 56px !important;
//   }
// }

.label {
  position: absolute;
  top: 39px;
}

.role_label {
  top: 1.3em;
}

.name_surname_label {
  top: -0.5em;
}
