<ng-template [ngIf]="show">
  <div class="form-section">
    <div class="row form-section__row justify-content-between">
      <div class="col-12 col-md-8">
        <div class="d-flex">
          <h3 class="mx-2 form-section__title">Filter Setting</h3>
          <div class="mx-4 form-section__title">
            <svg-icon src='assets/icons/filter.svg'
                      [svgStyle]="{ 'width.px':'20' ,'height.px':'20', 'fill': '#9F9F9F'}"></svg-icon>
            <p id="customizeFilterBox-show__button" class="mx-1 pointer" (click)="customizeFilterBox_show = !customizeFilterBox_show">Customize</p>
            <div class="row customize-column" id="customizeFilterBox-show__box" [class.hidden]="!customizeFilterBox_show">
              <ng-container *ngFor="let col of allColumns">
                <ng-template [ngIf]="col['lable'] != ''">
                  <div class="form-group form-check col-6">
                    <input [id]="col.name" type="checkbox" [value]="col.name" (change)="updateColumn($event)"
                           [checked]="checkedColumn(col.name)"
                           class="custom-checkbox">
                    <label [for]="col.name">{{
                      col['lable'] | translate }}</label>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
          <div class="mx-4 form-section__title">
            <svg-icon src='assets/icons/down-arrow.svg'
                      [svgStyle]="{ 'width.px':'20','height.px':'20',  'fill': '#9F9F9F'}"></svg-icon>
            <p class="mx-1 pointer" (click)="saveFilter()">Save Filter</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex" style="direction: rtl">
          <button class="btn-primary-small mx-1 pointer" (click)="applyFilter()">Apply</button>
          <p class="mx-1 clear-filter pointer" (click)="clearFilter()"><u>Clear Filter All</u></p>
        </div>
      </div>
    </div>
    <div class="row form-section__row">
      <ng-container *ngFor="let item of customizeFilter">
        <ng-template [ngIf]="true" [ngSwitch]="item?.filterType">
          <ng-template [ngSwitchCase]="filterType.list">
            <div class="col-12 col-md-3 p-field form-section__field">
              <div class="autocomplete-select">
                <span class="p-float-label">
                  <p-autoComplete [(ngModel)]="item.value" (completeMethod)="searchInput($event,  item.name)"
                                  [suggestions]="searchInputFiltered[item.name]" field="name" [minLength]="1"
                                  (onSelect)="searchInputChanged($event, item.name)"
                                  [dropdown]="true">
                  </p-autoComplete>
                  <i class="pi pi-search"></i>
                  <label>{{ item.lable | translate}}</label>
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="filterType.checkbox_list">
          </ng-template>
          <ng-template [ngSwitchCase]="filterType.string">
            <div class="col-12 col-md-3 p-field form-section__field">
              <span class="p-float-label">
                <input pInputText placeholder="{{ item.lable | translate}}" [(ngModel)]="item.value" type="text">
                <label class="pointer">{{ item.lable | translate}}</label>
              </span>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="filterType.number">
            <div class="col-12 col-md-3 p-field form-section__field">
              <span class="p-float-label">
                <input pInputText placeholder="{{ item.lable | translate}}" [(ngModel)]="item.value" type="number">
                <label class="pointer">{{ item.lable | translate}}</label>
              </span>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="filterType.boolean">
            <div class="col-12 col-md-3 p-field form-section__field options-select">
              <span class="p-float-label">
                <p-dropdown id="booleanInput" inputId="booleanInput" [autoDisplayFirst]="false"
                            [options]="itemsBoolean" optionLabel="name"></p-dropdown>
                <label for="booleanInput">{{ item.lable | translate}}
                </label>
              </span>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="filterType.date">
            <div class="col-12 col-md-3 p-field form-section__field
            date-input">
              <span class="p-float-label">
                <p-calendar inputId="basic" [(ngModel)]="item.value"></p-calendar>
                <svg-icon class="date-icon" src='assets/icons/calendar-alt-regular.svg' [svgStyle]="{ 'width.px':'20' , 'fill': 'rgb(161 161 161)' ,'height': '100%'}"></svg-icon>
                <label>{{ item.lable | translate}}
                </label>
              </span>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="filterType.range_date">
            <div class="col-12 col-md-3 p-field form-section__field
            date-input">
              <span class="p-float-label">
                <p-calendar inputId="basic" selectionMode="range" [(ngModel)]="item.value"></p-calendar>
                <svg-icon class="date-icon" src='assets/icons/calendar-alt-regular.svg' [svgStyle]="{ 'width.px':'20' , 'fill': 'rgb(161 161 161)' ,'height': '100%'}"></svg-icon>
                <label>{{ item.lable | translate}}
                </label>
              </span>
            </div>
          </ng-template>
          <ng-template ngSwitchDefault>
            {{item | json}}
            <div class="col-12 col-md-3 p-field form-section__field">
              <span class="p-float-label">
                <input pInputText placeholder="{{ item.lable | translate}}" [(ngModel)]="item.value" type="text">
                <label class="pointer">{{ item.lable | translate}}</label>
              </span>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>
