@import '../../../../../assets/scss/mixins/dashboard.scss';
.item-flex{
    display: flex;
    flex-direction: column;
    .item{
        & > p {
            flex: 0 0 50%;
        }
        & > span {
            display: flex;
            flex: 0 0 50%;
            & > p{
                flex: 0 0 50%;
                align-self: center;
            }
        }
    }
}
.box_show_more{
    font-size:.8em;
    text-decoration: underline;
    cursor: pointer;
}
p-dialog {
    font-size: .85em;
    ::ng-deep {
      .p-dialog {
        width: 50vw;
      }
    }
}
.item-flex .col-item:nth-child(even){
    border-left:1px solid #eaeaea;
    padding-left: 3em;
}

.text-end{
    text-align: end;
}