<div class="app-table-wrapper">
  <p-table [value]="setting.data" (mouseleave)='rowIndexTable= -1' (sortFunction)="handleSort($event, setting)"
    [customSort]='true'>
    <ng-template pTemplate="header">
      <tr>
        <th style="height:100% ; width: 1px" class="p-0 m-0"></th>
        <th *ngFor="let col of setting.columns" [style]="col.width &&
          isNumber(col.width) ? 'width:'+col.width+'px' :'width:'+col.width" [pSortableColumn]='col.field'
          [pSortableColumnDisabled]='!col.sortable'>
          <div class="d-flex">
            <ng-template [ngIf]="col.sortable">
              <img [class.sort]='col.isAsc === false' class="icon-dorp" src="assets/icons/sort-down-solid.svg" alt="">
            </ng-template>
            <ng-template [ngIf]="!col.isIconLable" [ngIfElse]="iconType">
              <p class="m-0 p-0" pTooltip='{{col.lable | translate}}' tooltipPosition='bottom' title=''>{{col.lable|translate}}</p>
            </ng-template>
            <ng-template #iconType>
              <div class="iconLable" [innerHTML]="col.lable"></div>
            </ng-template>
          </div>
        </th>
        <th *ngIf="foundStatusColor(setting.data)" style="width:0px;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex">
      <tr (mouseover)='rowIsHover(i)' [class]="'tableRow'+(setting.rowSettings?.onClick?' clickable':'')"
        [ngStyle]="{'background': isSelected(i) ? data.statusColor : null }">
        <span style="height:100% ; width: 5px; position: relative;display: table-cell;">
          <div class="statusColor with-renderer-table" *ngIf="data.statusColor"
            [style]="'background:'+data.statusColor+';'"></div>
        </span>
        <td [ngStyle]="{'background': isSelected(i) ? 'transparent' : null }" *ngFor="let col of setting.columns"
          (click)="click(col,data)" [attr.style]="col.textColor?'color:'+col.textColor+';':''">
          <div *ngIf="!col.renderer">
            <div class="d-flex">
              <span class="p-column-title">{{col.lable}}</span>
              <span class="column-data">
                {{ getCol(col,data) }}
                <ng-template [ngIf]="col.type && col.type == 2 && data[col.thumbField]" [ngIfThen]="thumb" [ngIfElse]="dataField"></ng-template>
                <ng-template #thumb>
                  <div class='d-inline-flex cell-with-image'>
                    <img class='thumb' [src]="col.override ? 'assets/' + col.override : baseFileServer + data[col.thumbField]" onerror="this.src='assets/thumb.png'">
                    <p class='text-of-cell-with-image'>
                      {{data[col.field]}}
                      </p>
                  </div>
                </ng-template>
                <ng-template #dataField>{{ data[col.field] }}</ng-template>
              </span>
            </div>
          </div>
          <div *ngIf="col.renderer=='userRenderer'">
            <table-user-renderer [user]="data"></table-user-renderer>
          </div>
          <div *ngIf="col.renderer=='vehicleRenderer'">
            <table-vehicle-renderer [vehicle]="data[col.field]"></table-vehicle-renderer>
          </div>
          <div *ngIf="col.renderer=='assetRenderer'">
            <table-asset-renderer [asset]="data"></table-asset-renderer>
          </div>
          <div *ngIf="col.renderer=='doubleLineRenderer'">
            <table-double-line-renderer [user]="data" [column]="col"></table-double-line-renderer>
          </div>
          <div *ngIf="showButton(col,i)">
            <table-general-button-renderer [setting]="setting.rowSettings" [row]="data[i]" [button]="data" [col]="col">
            </table-general-button-renderer>
          </div>
          <div *ngIf="col.renderer == 'subtextRenderer'">
            <table-subText-renderer [data]="data[col.field]"></table-subText-renderer>
          </div>
          <div *ngIf="col.renderer == 'informationRenderer'">
            <table-information-renderer [data]="data[col.field]"></table-information-renderer>
          </div>
          <div *ngIf="col.renderer == 'statusRenderer'">
            <table-status-renderer [status]="data"></table-status-renderer>
          </div>
          <div *ngIf="col.renderer == 'thumbTextRenderer'">
            <table-thumb-text-renderer [data]="data"></table-thumb-text-renderer>
          </div>
          <div *ngIf="col.renderer == 'booleanRenderer'">
            <table-boolean-renderer [setting]="setting.rowSettings" (selectTR)="selectTR($event)" [allData]="data"
              [data]="data[col.field]" [indexTR]="i" [hover]="rowIndexTable"></table-boolean-renderer>
          </div>
          <div *ngIf="col.renderer == 'externalLinkRenderer'">
            <table-external-link-renderer [link]="data[col.field]"></table-external-link-renderer>
          </div>
          <div *ngIf="col.renderer == 'routeLinkRenderer' && i == rowIndexTable">
            <table-route-link-renderer [link]="data['id']"></table-route-link-renderer>
          </div>
          <div *ngIf="col.renderer=='assetsRenderer'">
            <table-assets-renderer [data]="data[col.field]"></table-assets-renderer>
          </div>
          <div *ngIf="col.renderer=='fuelCardRenderer'">
            <fuel-card-renderer [data]="data[col.field]"></fuel-card-renderer>
          </div>
          <div *ngIf="col.renderer=='companyRenderer'">
            <table-company-renderer [company]="data"></table-company-renderer>
          </div>
          <div *ngIf="col.renderer=='assignNow'">
            <table-assign-now-renderer [data]="data"></table-assign-now-renderer>
          </div>
          <div *ngIf="col.renderer == 'priorityRenderer'">
            <table-priority-renderer [data]="data[col.field]"></table-priority-renderer>
          </div>
          <div *ngIf="col.renderer=='floatButton' && i == rowIndexTable">
            <float-button-renderer [lang]="activeLang" [col]="col" [setting]="setting.rowSettings" [data]="data">
            </float-button-renderer>
          </div>
          <div *ngIf="col.renderer=='colorize'">
            <table-colorize-renderer [lang]="activeLang" [data]="data[col.field]" [options]="col.rendererOptions">
            </table-colorize-renderer>
          </div>
          <div *ngIf="col.renderer=='trimColorRenderer'">
            <table-trim-color-renderer [colors]="data[col.field]"></table-trim-color-renderer>
          </div>
          <div *ngIf="col.renderer=='checkboxRenderer'">
            <table-checkbox-renderer (onChange)="updatedSelectedIds($event,col.field)" [data]='data' [field]="col.field"></table-checkbox-renderer>
            <!-- <table-checkbox-renderer (onChange)="updatedSelectedIds($event)" [data]='data[col.field]'></table-checkbox-renderer> -->
          </div>

          <div *ngIf="col.renderer=='downloadButtonRenderer'">
            <table-download-button-renderer [link]='data[col.field]'></table-download-button-renderer>
          </div>

          <div *ngIf="col.renderer=='radialBar'">
            <radialBar-renderer [percent]='data[col.field]'></radialBar-renderer>
          </div>

        </td>
        <div [class]="'statusColor'+ (hasRendere(setting.columns)?'with-renderer-table':' simple-table')"
          *ngIf="data.statusColor" [style]="'background:'+data.statusColor+';'"></div>
      </tr>
    </ng-template>
  </p-table>
  <ng-template [ngIf]="pagination && showPagination">
    <div class="paginator">
      <div class="show-entries">
        <span>{{ 'tables.pagination.show' | translate }}</span>
        <select [(ngModel)]="ipp" (change)="paginationEvent('rowCount')">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
        <span>{{ 'tables.pagination.entries' | translate }}</span>
      </div>
      <div class="pagination">
        <div class="pagination-caption">
          <p>{{ trackingShowRow() }} {{ 'tables.pagination.of' | translate }} {{count}}</p>
        </div>
        <div class="pagination-action">
          <span class="pagination-action__previous" (click)="paginationEvent('previous')">
            <svg-icon [src]="arrowIcon" [svgStyle]="{ 'transform': 'rotate(90deg)', 'width.px':'23' , 'fill': activePage == 0 ? '#bbb': '#000' , 'height': '100%'}"></svg-icon>
          </span>
          <span class="pagination-action__next" (click)="paginationEvent('next')">
            <svg-icon [src]="arrowIcon" [svgStyle]="{ 'transform': 'rotate(-90deg)', 'width.px':'23' , 'fill': pagesCount > activePage ? '#000': '#bbb' , 'height': '100%'}"></svg-icon>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
