<div class="app-table-wrapper">
  <p-table [value]="tableData ? (tableData | async) : (setting.data)" (mouseleave)='rowIndexTable= -1' (sortFunction)="handleSort($event, setting)"
    [customSort]='true'>
    <ng-template pTemplate="header">
      <tr>
        <th style="height:100% ; width: 1px" class="p-0 m-0"></th>
        <th *ngFor="let col of setting.columns" [style]="col.width &&
          isNumber(col.width) ? 'width:'+col.width+'px' :'width:'+col.width" [pSortableColumn]='col.field'
          [pSortableColumnDisabled]='!col.sortable' [hidden]='col.isHeaderHidden'>
          <div class="d-flex">
            <ng-template [ngIf]="col.sortable">
              <img [class.sort]='col.isAsc === false' class="icon-dorp" src="assets/icons/sort-down-solid.svg" alt="">
            </ng-template>
            <ng-template [ngIf]="!col.isIconLable" [ngIfElse]="iconType">
              <p class="m-0 p-0" pTooltip='{{col.lable | translate}}' tooltipPosition='bottom' title=''>{{col.lable|translate}}</p>
            </ng-template>
            <ng-template #iconType>
              <div class="iconLable" [innerHTML]="col.lable"></div>
            </ng-template>
          </div>
        </th>
        <th *ngIf="foundStatusColor(setting.data)" style="width:0px;"></th>
      </tr>
    </ng-template>
    <ng-template *ngIf="!setting?.rowSettings?.renderer || setting?.rowSettings?.renderer==''" pTemplate="body" let-data let-i="rowIndex">
      <tr (mouseover)='rowIsHover(i)' [class]="'tableRow'+(setting.rowSettings?.onClick?' clickable':'')"
        [ngStyle]="{'background': isSelected(i) ? data.statusColor : null,'border-inline-start': (dropdownItemSelected == i && subTable) ? '4px solid #008755': null }">
        <span style="height:100% ; width: 5px; position: relative;display: table-cell;">
          <div class="statusColor with-renderer-table" *ngIf="data.statusColor"
            [style]="'background:'+data.statusColor+';'"></div>
        </span>
        <td [ngStyle]="{'background': isSelected(i) ? 'transparent' : null }" *ngFor="let col of setting.columns"
          (click)="click(col,data)" [attr.style]="col.textColor?'color:'+col.textColor+';':''">
          <div *ngIf="!col.renderer">
            <div class="d-flex">
              <span class="p-column-title">{{col.lable}}</span>
              <span class="column-data" [class.pl-5]='col.hasPadding5' [class.pl-3]='col.hasPadding3'>
                {{ getCol(col,data) }}
                <ng-template [ngIf]="col.type && col.type == 2 && data[col.thumbField]" [ngIfThen]="thumb"></ng-template>
                <ng-template #thumb>
                  <div class='d-inline-flex cell-with-image'>
                    <img class='thumb' [src]="col.override ? 'assets/' + col.override : baseFileServer + data[col.thumbField]" onerror="this.src='assets/thumb.png'">
                    <p class='text-of-cell-with-image'>
                      {{data[col.field]}}
                      </p>
                  </div>
                </ng-template>
                <ng-template [ngIf]="col.type && col.type == 2 && !data[col.thumbField]" #dataField>{{ data[col.field] }}</ng-template>
              </span>
            </div>
          </div>
          <div *ngIf='col.renderer && col.renderer !== ""'>
            <anms-column-renderer [col]='col' [setting]='setting' [data]='data' [context]='currentContext' [index]="i"></anms-column-renderer>
          </div>
        </td>
        <div [class]="'statusColor'+ (hasRendere(setting.columns)?'with-renderer-table':' simple-table')"
          *ngIf="data.statusColor" [style]="'background:'+data.statusColor+';'"></div>
      </tr>
      <tr [ngStyle]="{'border-inline-start': '4px solid #008755'}" *ngIf="dropdownItemSelected == i && subTable">
        <td class="p-0" [colSpan]="setting.columns.length + 1">
          <app-table [setting]="subTable"></app-table>
        </td>
      </tr>
    </ng-template>
    <ng-template  *ngIf="setting?.rowSettings?.renderer && setting?.rowSettings?.renderer!=''" pTemplate="body" let-data let-i="rowIndex">
      <tr>
        <td class='p-0 row-hover'>
          <anms-row-renderer-component [data]="data" [setting]="setting" [rowSetting]="setting?.rowSettings"></anms-row-renderer-component>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template [ngIf]="pagination && showPagination">
    <div class="paginator">
      <div class="show-entries">
        <span>{{ 'tables.pagination.show' | translate }}</span>
        <select [(ngModel)]="ipp" (change)="paginationEvent('rowCount')">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
        <span>{{ 'tables.pagination.entries' | translate }}</span>
      </div>
      <div class="pagination">
        <div class="pagination-caption">
          <p>{{ trackingShowRow() }} {{ 'tables.pagination.of' | translate }} {{count}}</p>
        </div>
        <div class="pagination-action">
          <span class="pagination-action__previous" (click)="paginationEvent('previous')">
            <svg-icon [src]="arrowIcon" [svgStyle]="{ 'transform': 'rotate(90deg)', 'width.em':'1.4' , 'fill': activePage == 0 ? '#bbb': '#000' , 'height': '100%'}"></svg-icon>
          </span>
          <span class="pagination-action__next" (click)="paginationEvent('next')">
            <svg-icon [src]="arrowIcon" [svgStyle]="{ 'transform': 'rotate(-90deg)', 'width.em':'1.4' , 'fill': pagesCount > activePage ? '#000': '#bbb' , 'height': '100%'}"></svg-icon>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
