:host ::ng-deep {
  thead {
    tr th > div > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tableRow:hover > td {
    background: #e6f7ef !important;
  }
}

.thumb {
  max-width: 80px;
  max-height: 80px;
}

.tableRow {
  img {
    float: left;
  }

  p {
    float: right;
  }
}

.clickable {
  cursor: pointer;
}

.iconLable {
  width: 24px;
  height: 24px;
}
.sort-icon {
  margin-right: 10px;
}
.icon24px {
  width: 24px;
  height: 24px;
}

.statusColor {
  width: 0.4em;
  position: absolute;
  left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.simple-table {
  height: 45px;
  margin-top: 5px;
}

.with-renderer-table {
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}

.icon-dorp {
  width: 1.5em;
  height: 1.5em;
  margin: 0px 5px;
}

.sort {
  transform: rotate(180deg);
}

//  handling responsive
:host ::ng-deep {
  .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

.paginator {
  display: flex;
  justify-content: space-between;
  font-size: 1.05em;
  .pagination {
    display: flex;
    margin: 0 1em;
    .pagination-caption {
      margin: 1em;
      p {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
    .pagination-action {
      &__previous {
        padding: 1em;
        cursor: pointer;
      }
      &__next {
        padding: 1em;
        cursor: pointer;
      }
    }
  }
  .show-entries {
    align-self: center;
    margin: 0 1em;
    select {
      margin: 0 1em;
      padding: 4px 25px 4px 9px;
      border: 1px solid #bbb;
      border-radius: 5px;
      -webkit-appearance: none;
      background: url(../../../assets/icons/angle-left.svg) no-repeat right 0.3em top 50%;
      background-size: .5em !important;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
    .p-datatable {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        display: block;

        .p-column-title {
          flex: 1;
          display: inline-flex;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }
}

.row-hover:hover {
  background: #e6f7ef !important;
}
