::ng-deep .ng-star-inserted {
  text-overflow: ellipsis;
  overflow: hidden;
}

.thumb {
  max-width: 45px;
  max-height: 45px;
}

.tableRow {
  img {
    float: left;
  }

  p {
    float: right;
  }
}

.clickable {
  cursor: pointer;
}

.iconLable {
  width: 24px;
  height: 24px;
}
.sort-icon {
  margin-right: 10px;
}
.icon24px {
  width: 24px;
  height: 24px;
}
