::ng-deep .ng-star-inserted {
  text-overflow: ellipsis;
  // overflow: hidden;
}

.thumb {
  max-width: 45px;
  max-height: 45px;
}

.tableRow {
  img {
    float: left;
  }

  p {
    float: right;
  }
}

.clickable {
  cursor: pointer;
}

.iconLable {
  width: 24px;
  height: 24px;
}
.sort-icon {
  margin-right: 10px;
}
.icon24px {
  width: 24px;
  height: 24px;
}

.statusColor {
  width: 6px;
  position: absolute;
  left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.simple-table {
  height: 45px;
  margin-top: 5px;
}

.with-renderer-table {
  height: 60px;
  margin-top: 20px;
}

.icon-dorp {
  width: 23px;
  height: 23px;
  margin: 0px 5px;
}

.sort {
  transform: rotate(180deg);
}
