<div class="app-table-wrapper">
  <p-table [value]="setting.data">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of setting.columns" [style]="col.width?'width:'+col.width+'px':''">{{col.lable}}</th>
        <th *ngIf="foundStatusColor(setting.data)" style="width:0px;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr [class]="'tableRow'+(setting.rowSettings?.onClick?' clickable':'')">
        <td *ngFor="let col of setting.columns" (click)="click(col,data)"
          [attr.style]="col.textColor?'color:'+col.textColor+';':''">
          <div *ngIf="!col.renderer" [innerHtml]="getCol(col,data)"></div>
          <div *ngIf="col.renderer=='userRenderer'">
            <table-user-renderer [user]="data"></table-user-renderer>
          </div>
          <div *ngIf="col.renderer=='vehicleRenderer'">
            <table-vehicle-renderer [vehicle]="data[col.field]"></table-vehicle-renderer>
          </div>
          <div *ngIf="col.renderer=='assetRenderer'">
            <table-asset-renderer [asset]="data"></table-asset-renderer>
          </div>
          <div *ngIf="col.renderer=='doubleLineRenderer'">
            <table-double-line-renderer [user]="data" [column]="col"></table-double-line-renderer>
          </div>
          <div *ngIf="col.renderer == 'subtextRenderer'">
            <table-subText-renderer [data]="data[col.field]"></table-subText-renderer>
          </div>
          <div *ngIf="col.renderer == 'informationRenderer'">
            <table-information-renderer [data]="data[col.field]"></table-information-renderer>
          </div>
          <div *ngIf="col.renderer == 'booleanRenderer'">
            <table-boolean-renderer [data]="data[col.field]"></table-boolean-renderer>
          </div>
          <div *ngIf="col.renderer == 'externalLinkRenderer'">
            <table-external-link-renderer [link]="data[col.field]"></table-external-link-renderer>
          </div>
        </td>
        <div class="statusColor" *ngIf="data.statusColor" [style]="'background:'+data.statusColor+';'"></div>
      </tr>
    </ng-template>

  </p-table>
</div>
