body,
html {
  height: 100%;
  background: #f3f3f3;
}

.icon24px {
  width: 24px;
  height: 24px;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.hidden-item {
  display: none;
}

.app-table-wrapper {
  .cell-with-image {
    align-items: center;
  }

  .thumb {
    padding: 0px 10px;
  }

  .text-of-cell-with-image {
    margin: 0px;
    padding: 0px;
  }
}

/* RTL Arabic */
[dir='rtl'] {
  body {
    direction: rtl;
    text-align: right;
  }
  .wrapper .card-table-header {
    padding-right:auto;
    padding-left:15px;
    .search-box button{
      left: 0;
      right: auto;
      border-radius: 0.25em 0 0 0.25em;
    }
  }

  /* dashboard */
  .dashboard-card {
    .card-header {
      text-align: right;
    }
    .progress-bar-container {
      small {
        left: 0;
        right: auto !important;
      }
    }
    .head .right-button {
      text-align: left !important;
    }
  }

  /* Navbar */
  .toolbar {
    .police-brand {
      margin-right: auto;
      margin-left: 0 !important;
    }
    .mat-button-wrapper {
      .label {
        margin-right: 0.5rem;
      }
    }
  }
  .overlay-panels .language-panel ul li p {
    margin: 0 1em 0 0;
  }

  /* forms */
  .button-container {
    left: 0;
    right: auto !important;
  }
  
  .calculate-button{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25em !important;
    border-bottom-left-radius: .25em !important;
  }
  .input-money-pipe{
    left: 10px;
    right: auto !important;
  }
  .btn-primary-small.calculate-button{
    & ~ .input-money-pipe {
      left: 25%;
    }
  }
  .form-section {
    &__field {
      .p-float-label {
        input ~ label,
        .p-inputwrapper-filled ~ label,
        p-dropdown ~ label,
        p-autocomplete ~ label,
        p-calendar ~ label {
          left: auto !important;
          right: 0.5rem;
        }
      }
    }
    .form-check input[type='radio'] ~ label {
      margin-right: 2em;
      margin-left: 0;
    }
    .form-check input[type='checkbox'] ~ label {
      margin-right: 1em;
      margin-left: 0;
    }
    .autocomplete-select {
      .pi-search {
        left: 10px;
        right: auto !important;
      }
      .p-inputgroup-addon:last-child{
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .p-inputgroup input:first-child{
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .form-section__field  .search-btn.addon-primary{
        left:0;
        right: auto !important;
      }
    }
    p-calendar ~ .date-icon {
      left: 4%;
      right: auto !important;
    }
    .p-inputgroup-addon:last-child {
      border-radius: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .p-inputgroup input:first-child {
      border-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .yearly{
      right:auto !important;
      left:25px;
    }
  }

  /* Tables */
  p-table {
    .p-datatable .p-datatable-tbody > tr > td {
      text-align: right;
    }
    .statusColor {
      left: auto !important;
      right: 0;
      border-radius: 5px 0px 0px 5px !important;
    }
  }
  app-fuel-card-table {
    .vertical_line {
      border-right: 2px solid #475f7b;
      margin-right: 12px;
      border-left: none !important;
      margin-left: 0 !important;
    }
    .sub_info_span {
      margin: 0 !important;
      padding: 0 !important;
      margin-right: 15px !important;
      span {
        margin: 0 !important;
        padding-right: 5px !important;
        &:nth-child(1) {
          margin: 1rem !important;
        }
      }
    }
  }

  /* Stepper */
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    &:not(:last-child)::before,
    &:not(:first-child)::after {
      border-top-width: 5px !important;
    }
  }

  /* Drag and Drop  */
  .upload-file-name{
    &>span{
      right: auto;
      left: 10px;
    }
  }
  /* Other Detail */
  .wrapper{
    .edit-box{
      &__box--first{
        border-right: 3px solid #828acd;
        border-left:0;
        border-radius: 0 5px 5px 0
      }
      &__box--last{
        border-radius: 5px 0 0 5px;
      }
    }
    anms-part-list{
      .p-inputgroup {
        .p-inputgroup-addon.search-btn{
          left: 0;
          right: auto !important;
        }
      }
    }
    .part-overview{
      .component_wrapper .btn-download{
        left: 16px;
        right: auto !important;
      }
    }
  }

  /* Sidebar */
  .menu .has-child {
    &::after {
      right: unset !important;
      left: 10px;
    }
  }

  /* Statistics */
  .filter-wrapper-container {
    .parent {
      &:last-child {
        margin-right: unset !important;
        margin-left: 0 !important;
      }
      &:first-child {
        margin-left: unset !important;
        margin-right: 0 !important;
      }
    }
  }

  /* role and permission */
  .body_div {
    padding: 2em 1em 2em 0 !important;
  }
  .curved_right_tag {
    border-radius: 0 100px 100px 0 !important;
  }
  /* Dialog */
  p-dialog {
    .p-dialog-footer{
      text-align: left;
    }
  }
}

/* END RTL Arabic */
