@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';

@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';
@import './themes/green-theme';

@import 'styles-reset.scss-theme';
@import './app/template/template.component.scss-theme';

@import './assets/scss/mixins/form-section';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-green-theme);
  @include custom-components-theme($anms-green-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);

  .menu-wrapper .container {
    background-color: $fms-black-body-bg !important;

    .menuItem {
      svg {
        fill: $fms-black-body-color !important;
      }

      .menu-item-name {
        color: $fms-black-body-color !important;
      }
    }
  }

  .wrapper {
    background-color: $fms-black-body-bg !important;
  }

  @include form-section(
    $fms-black-inactive-input-label,
    $fms-black-inactive-input-border,
    $fms-black-focused-input-label,
    $fms-black-focused-input-placeholder,
    $fms-black-focused-input-border,
    $fms-black-hovered-input-label,
    $fms-black-hovered-input-border,
    $fms-black-disabled-input-label,
    $fms-black-disabled-input-border,
    $fms-black-disabled-placeholder,
    $fms-black-invalid-input-label,
    $fms-black-invalid-input-border,
    $fms-black-form-addon,
    $fms-black-form-addon-border,
    $fms-black-form-input-toggle
  );
}

.nature-theme {
  @include angular-material-theme($anms-nature-theme);
  @include custom-components-theme($anms-nature-theme);
}

.green-theme {
  @include angular-material-theme($anms-green-theme);
  @include custom-components-theme($anms-green-theme);

  .wrapper {
    background-color: $fms-green-body-bg !important;
  }

  @include form-section(
    $fms-green-inactive-input-label,
    $fms-green-inactive-input-border,
    $fms-green-focused-input-label,
    $fms-green-focused-input-placeholder,
    $fms-green-focused-input-border,
    $fms-green-hovered-input-label,
    $fms-green-hovered-input-border,
    $fms-green-disabled-input-label,
    $fms-green-disabled-input-border,
    $fms-green-disabled-placeholder,
    $fms-green-invalid-input-label,
    $fms-green-invalid-input-border,
    $fms-green-form-addon,
    $fms-green-form-addon-border,
    $fms-green-form-input-toggle
  );
}
