.menu {
  margin-top: 76px;
  padding: 10px;

  .active-menu {
    color: #0da06e;
    font-weight: 900;
  }


  .menuItem {
    display: block;
    position: relative;
    list-style: none;
    line-height: 2rem;
    padding: 5px;
    cursor: pointer;

    .sub-menuItem{
      max-height: 100rem;
      overflow: hidden;
      transition: max-height 1s;
    }

    .menu-item-name{
      padding: 5px;
    }

    svg {
      margin-left: 5px;
      margin-right: 5px;
    }

    .hidden {
      overflow: hidden;
      max-height: 0rem;
      transition: max-height 1s;
    }

    .active_submenu {
      color: #0da06e;
      font-weight: 900;
      font-size: 1.2em;
    }

    .active-child {
      color: #0da06e;
      font-weight: 900;
    }

    .not-active{
      color: #535353;
    }
  }

  .has-child {
    &::after {
      content: url('../../../assets/icons/arrow-down.svg');
      position: absolute;
      right: 10px;
      top: 10px;
      bottom: 0;
      height: 20px;
      width: 20px;
      transition: 400ms;
      transition-timing-function: ease-in-out;
    }
    &.active-menu {
      &::after {
        content: url('../../../assets/icons/arrow-down-active.svg');
        transform: rotate(180deg);
        color: #0da06e;
      }
    }
  }
}

.menuItems{
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  ul{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.active_menu_line{
  width: 5px;
  border-radius: 3px;
  left: 32px;
  background: #0DA06E;
  height: auto;
}
