.menu {
  position: relative;
  display: block;
  height: 100%;
  margin-top: 60px;
  transition: width 1s cubic-bezier(0.68, -0.14, 0.07, 0.94);
  background-color: #f3f3f3;
}

.margin-transition {
  transition: margin 1s cubic-bezier(0.68, -0.14, 0.07, 0.94);
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  transition: 400ms ease-in-out;
  overflow-y: auto;
  max-height: calc(100vh - 3rem);
  .container {
    display: flex;
    flex-direction: column;
    flex: 1 65%;
    li {
      position: relative;
      //line-height: 40px;
      ul li {
        //line-height: 34px;
        li {
          line-height: 10px;
        }
      }
    }
    .has-child {
      &::after {
        content: url('../../../assets/icons/arrow-down.svg');
        position: absolute;
        right: 10px;
        top: 10px;
        bottom: 0;
        height: 20px;
        width: 20px;
        transition: 400ms;
        transition-timing-function: ease-in-out;
      }
      &.active {
        &::after {
          content: url('../../../assets/icons/arrow-down-active.svg');
          transform: rotate(90deg);
          color: #0da06e;
        }
      }
    }
    .menuItem {
      padding: 0.5em;
      cursor: pointer;
      list-style: none;
      .menu-item-icon {
        margin: 5px;
        color: #1f1f1f;
        font-size: 15px;
      }
      .menu-item-name {
        margin: 1em;
        color: #000000de;
      }
      .sub-menuItem {
        overflow: hidden;
        max-height: 0;
        padding-left: 18px;
        margin-left: 12px;
        margin-top: 8px;
        border-left: 0.25em solid #0da06e;
        transition: max-height 400ms;
        transition-timing-function: ease-in-out;
        list-style: none;
        .menu-item-icon {
          //margin: 5px;
          opacity: 0.35;
          font-size: 12px;
        }
        .menu-item-name {
          margin: 1em;
        }
        .sub-menuItem-child {
          margin-top: 8px;
          margin-left: 8px;
          padding-left: 16px;
          list-style: none;
          border-left: 0.25em solid #0da06e;
          .menu-item-name {
            margin: 5px;
          }
        }
      }
      &.active {
        & > .menu-item-icon,
        & > .menu-item-name {
          color: #0da06e;
        }
        .sub-menuItem {
          max-height: 100rem;
        }
      }
      ul {
        padding-inline-start: 0;
      }
    }
    .menu-item-name {
      transition: 400ms ease-in-out;
    }
  }

  app-user-mini-component {
    flex: 2 35%;
    cursor: pointer;
  }
}

.closed-menu-wrapper {
  width: 85px;
  transition: width 400ms ease-in-out;
  .container {
    padding: 25px 15px;
  }
  .has-child {
    &::after {
      transition: 1s ease-in-out;
      display: none;
    }
  }
  .menuItem {
    padding: 12px !important;
    .menu-item-icon {
      margin: 0 10px !important;
    }
  }
  .menu-item-name {
    display: none;
  }
}
