@import '../../../../../../assets/scss/form-section.scss';

.toggle-select label {
  margin-right: 0.8em;
  margin-bottom: 0;
}

.right_tag {
  max-width: 24px;
  min-height: available;
  background: #bac4ce 0 0 no-repeat padding-box;
  border-radius: 0 4px 4px 0;
  opacity: 0.77;
}

.curved_right_tag {
  min-width: 20px;
  background: #475f7b58 0 0 no-repeat padding-box;
  border-radius: 100px 0 0 100px;
  opacity: 1;
}

.down_icon {
  position: sticky;
  top: 0;
  bottom: 0;
  filter: invert(1);
  transform: rotate(180deg);
}

.top_icon {
  position: sticky;
  top: 0;
  bottom: 0;
  filter: invert(1);
}

.bottom_icon {
  position: sticky;
  top: 0;
  bottom: 0;
  filter: invert(1);
  transform: rotate(180deg);
}

.card {
  background: transparent;
}
