
<h4 class="card-title">Technical Inspection</h4>
<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rerum quisquam ea tempore quidem, laborum eius aspernatur, consequatur accusantium corporis eum quas culpa inventore dolorem impedit non voluptatum beatae nesciunt.</p>
<div class="status-container mt-2">
    <div class="item">
        <p class="item-title">Status</p>
        <p>Out of Policy</p>
    </div>
    <div class="item">
        <p class="item-title">Source</p>
        <p>Insurance</p>
    </div>
    <div class="item">
        <p class="item-title">Created By</p>
        <p>Sam Smith</p>
    </div>
    <div class="item">
        <p class="item-title">cost</p>
        <p>123456 AED</p>
    </div>
    <div class="item">
        <p class="item-title">Insurance Value</p>
        <p>123456 AED</p>
    </div>
    <div class="item">
        <p class="item-title">Action</p>
        <p>Repair</p>
    </div>
</div>

<detail-decision></detail-decision>