
<h4 class="card-title">{{ 'workshop.technical_inspection.technical_inspection' | translate }}</h4>
<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rerum quisquam ea tempore quidem, laborum eius aspernatur, consequatur accusantium corporis eum quas culpa inventore dolorem impedit non voluptatum beatae nesciunt.</p>
<div class="status-container mt-2">
    <div class="item">
        <p class="item-title">{{ 'tables.column.status' | translate }}</p>
        <p>Out of Policy</p>
    </div>
    <div class="item">
        <p class="item-title">{{ 'tables.column.source' | translate }}</p>
        <p>Insurance</p>
    </div>
    <div class="item">
        <p class="item-title">{{ 'tables.column.by' | translate }}</p>
        <p>Sam Smith</p>
    </div>
    <div class="item">
        <p class="item-title">{{ 'tables.column.cost' | translate }}</p>
        <p>123456 AED</p>
    </div>
    <div class="item">
        <p class="item-title">{{ 'tables.column.insurance_value' | translate }}</p>
        <p>123456 AED</p>
    </div>
    <div class="item">
        <p class="item-title">{{ 'tables.column.action' | translate }}</p>
        <p>Repair</p>
    </div>
</div>
