@import '~@angular/material/theming';

$app-green: (
  50: #00ffa2,
  100: #00df8d,
  200: #02b976,
  300: #009e64,
  400: #008755,
  500: #008755,
  600: #006b44,
  700: #005838,
  800: #004b2f,
  900: #004129,
  A100: #18db94,
  A200: #14a771,
  A400: #0b6d49,
  A700: #07412c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white
  )
);

$anms-green-primary: mat-palette($app-green, 500);
$anms-green-accent: mat-palette($app-green, 200);
$anms-green-warn: mat-palette($app-green, 900);

$anms-green-theme: mat-light-theme(
  $anms-green-primary,
  $anms-green-accent,
  $anms-green-warn
);

/* Design System */

/* Colors */

//  primary colors
$fms-primary-color1: #005844;
$fms-primary-color2: #008755;

// seconday colors
$fms-secondary-color1: #f2b06e;
$fms-secondary-color2: #60dfd0;
$fms-secondary-color3: #9967d9;
$fms-secondary-color4: #d0e86c;

// gradient colors
$fms-gradadient-color-start1: #fab75d;
$fms-gradadient-color-end1: #fab75d;
$fms-gradadient-color-start2: #9967d9;
$fms-gradadient-color-end2: #6fd5e4;
$fms-gradadient-color-start3: #9967d9;
$fms-gradadient-color-end3: #7968dc;
$fms-gradadient-color-start4: #a8e878;
$fms-gradadient-color-end4: #d0e86c;

// forms
$fms-form-label: #939393;
$fms-form-label-disabled: #bcbcbc;
$fms-form-input: #abafb3;
$fms-form-input-hover: #0da06e;
$fms-form-input-switch: #707070;
$fms-form-input-border: #d3d3d3;
$fms-form-input-error: #665958;
$fms-form-addon: #0da06e;
$fms-form-addon-border: #009c62;
