<div class="statistic-card">
  <app-filter [setting]='filterCard'></app-filter>
</div>
<div class="table-container component_wrapper">
  <div class="table-wreapper">
    <app-tab-view (selectedIndex)="activeTab = $event">
      <span class="search-container card-table-header">
        <div class="search-box">
            <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
            <button>
                <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
            </button>
        </div>
        <button class="btn-download" disabled>
            <svg-icon [src]="downloadBtn"></svg-icon>
        </button>
      </span>
      <div title="{{ 'tabs.asset' | translate }}">
        <app-table [setting]='trafficFine_Table'></app-table>
      </div>
      <div title="{{ 'tabs.asset_traffic_fine' | translate }}">
        <app-table [setting]='assetTraffic_Table'></app-table>
      </div>
    </app-tab-view>
  </div>
</div>

