.actionButtons {
  display: flex;
  position: absolute;
  right: 70px;
  top: 28px;
  .item {
    margin: 0 5px;
    color: #ffffff;
  }
  .export {
    border: 2px solid #a2a2a2;
  }
  .add {
    background-color: #0da06e;
    border: 2px solid #0da06e;
    width: 150px;
    height: 45px;
  }
  .search-btn {
    background-color: #a2a2a2;
    border: 2px solid #a2a2a2;
  }
  .search-input {
    border: 2px solid #a2a2a2;
    height: 100%;
  }
}
.info {
  background-color: #ffffff;
  box-shadow: 0 0 2px #00000029;
  border-radius: 2px;
}

@media all and (max-width: 1440px) {
  .info {
    padding-top: 60px !important;
  }
  .actionButtons {
    right: 50px;
  }
}

@media all and (max-width: 1220px) {
  .actionButtons {
    right: 20px;
    left: 20px;
  }
}
