<div class='row' style="position: relative" *hasPermission="['ORGANIZATION_VIEW_DETAILS' , 'ORGANIZATION_VIEW_USERS' , 'ORGANIZATION_VIEW_TRAFFIC_FINES' , 'ORGANIZATION_VIEW_MOVEMENT_HISTORY']">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" routerLink="/fleet/department">{{ 'forms.back' | translate }}</button>
    <button class="btn-primary-medium add" [routerLink]="['/fleet/department/edit-department/' + itemId]">{{ 'forms.edit' | translate }}</button>
  </div>
  <div class='col-lg-3'>
    <div class='component_wrapper form-section'>
      <div class='flex-lg-column person'>
        <div class='col-lg-12 text-center'>
          <img class='operator-avatar-border' src='assets/icons/airbnb.png' width='89' />
        </div>
        <hr>
        <div class='col-lg-12 p-0'>
          <div class='text-center header'>
            {{ detailsOrg?.organizationName }}
          </div>
          <div class='text-center mt-3'>
            {{ detailsOrg?.id }}
          </div>
          <div class='text-center mt-3 p-0'>
            <ng-template *ngFor="let tag of detailsOrg?.tags">
              <button class='ml-1 mr-1 btn-primary-small col-md-2'>{{ tag }}</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class='component_wrapper form-section'>
      <div *ngFor='let section of detailsOrg?.departments; let index = index'>
        <div (click)='onSectionSelect(index)' class='bg-green green mb-2 p-2 text-light cursor-pointer'>
          {{section.name}}
        </div>
        <div *ngIf='section["isSelected"]' class='d-flex mt-3 mb-2'>
          <div class='parent' [ngStyle]='(activeLang === "en")? {"margin-left": "30px"}: {"margin-right": "30px"}'>
            <div class='child'>
              <div *ngFor='let location of section.locationAddresses' class='dot dot-mt dot-mb'>
              </div>
            </div>
          </div>
          <div [class.ml-3]='activeLang === "en"' [class.mr-3]='activeLang === "ar"'>
            <div *ngFor='let location of section.locationAddresses' class='location-text dot-mb'>
              {{location}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-9'>
    <div class='statistic-card'>
      <ng-container *hasPermission="['ORGANIZATION_VIEW_USERS']">
        <app-filter *ngIf='selectedTab === "userTab"' [setting]='userTabFilter' ></app-filter>
      </ng-container>
      <ng-container *hasPermission="['ORGANIZATION_VIEW_TRAFFIC_FINES']">
        <app-filter *ngIf='selectedTab === "trafficFineTab"' [setting]='trafficFineFilter' ></app-filter>
      </ng-container>
    </div>
    <div class='component_wrapper table-container'>
      <app-tab-view (selectedIndex)='selectedTab=$event' [count]='[undefined, count.$UserTable, count.$TrafficFineTable, count.$MovementHistoryTable]'>
        <div title="{{ 'tabs.overview' | translate }}" id='overviewTab' *hasPermission="['ORGANIZATION_VIEW_DETAILS']">
          <anms-overview-tab *ngIf="detailsOrg" [data]="detailsOrg"></anms-overview-tab>
        </div>
        <div title="{{ 'tabs.user' | translate }}" id='userTab' *hasPermission="['ORGANIZATION_VIEW_USERS']">
          <app-table [setting]='userTable'></app-table>
        </div>
        <div title="{{ 'tabs.traffic_fine' | translate }}" id='trafficFineTab' *hasPermission="['ORGANIZATION_VIEW_TRAFFIC_FINES']">
          <app-table [setting]='trafficFineTable'></app-table>
        </div>
        <div title="{{ 'tabs.movement_history' | translate }}" id='movementHistoryTab' *hasPermission="['ORGANIZATION_VIEW_MOVEMENT_HISTORY']">
          <app-table [setting]='movementTable'></app-table>
        </div>
      </app-tab-view>
    </div>
  </div>
</div>
