<!-- <div class="row">
    <div class="col-4">
        <div id="chart" class="chart-custom">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [plotOptions]="chartOptions.plotOptions"
                [colors]="chartOptions.colors">
            </apx-chart>
        </div>
    </div>
    <div *ngIf="percent == 100" class="col-8">
        <span>
            <svg-icon
                [src]="checkIcon"
                [svgStyle]="{ 'width.em': 1.4, fill: '#0DA06E', height: '100%'
                }"></svg-icon>
        </span>
        <span class="title">Completed</span>
    </div>
</div> -->
<div>
    <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [colors]="chartOptions.colors">
    </apx-chart>
</div>