@import '../../../../../themes/green-theme';
@import '../../../../../assets/scss/form-section';

.sub_title {
  font-size: 11px;
  opacity: 57%;
}

.title {
  color: #475f7b;
}

.label {
  position: absolute;
  top: 39px;
}

.role_label {
  top: 10px;
}

.name_surname_label {
  top: -10px;
}

.logout {
  color: #0da06e;
}

.phone_number {
  color: #707070;
}

.user_profile_edit_button {
  border: 2px solid #0da06e;
  border-radius: 5px;
  padding: 5px;
}

.blue_color {
  color: #475f7b;
}

.sub_info {
  opacity: 67%;
}

.people_button {
  background: #b1c1e4;
}

.email_button {
  background: #b1e4e3;
}

.phone_button {
  background: #c7e4b1;
}

.form-check label {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}
.col-9 {
  padding-left: 10px !important;
}
label {
  margin-bottom: 0 !important;
}
