
.color-circle {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgb(116, 116, 116);
  display: block;
  cursor: pointer;
  flex-wrap: wrap;
  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .4)), to(rgba(0, 0, 0, 0)));
  }
}

.car-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
