<div class="row wrapper">
    <div class="category col-3">
        <div class="dashboard-card w-100">
            <dashboard-job-card></dashboard-job-card>
        </div>
    </div>
    <div class="category col-6">
        <div class="dashboard-card w-100">
            <dashboard-workshop-performance></dashboard-workshop-performance>
        </div>
    </div>
    <div class="category col-3">
        <div class="dashboard-card w-100">
            <dashboard-job-type></dashboard-job-type>
        </div>
    </div>
</div>