<div class="component_cus_wrapper">
    <div class="row">
        <div class="col-3 mb-4 component_sec_wrapper">
            <anms-sub-asset-detail [data]="subAssetdata$"></anms-sub-asset-detail>
            <div class="location">
                <h6 class="mx-3">{{ 'sub_asset.location' | translate }} </h6>
                <div class="map">
                  <app-map-view-core [miniMap]="true" [iServeVehicles]="[]"
                                     [location]="{latitude:25.014743,longitude:55.070165}">
                  </app-map-view-core>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="component_sec_wrapper px-2 pt-3 pb-5">
                <div class="lifecycle py-4">
                    <app-life-cycle-chart></app-life-cycle-chart>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-4">
                    <div class="component_sec_wrapper table-container">
                        <anms-reminder [title]="'sub_asset.reminders' | translate" [data]="reminderData"></anms-reminder>
                    </div>
                    <div class="component_sec_wrapper table-container">
                        <anms-history [title]="'sub_asset.workshop_history' | translate" [data]="workshopHistoryData"></anms-history>
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="component_sec_wrapper table-container" >
                        <div class="p-3">
                            <div class="component-title pb-3">
                                {{ 'sub_asset.review_your_policy_plan' | translate }}
                            </div>
                            <app-table [setting]="reviewPlaneSettingTable"></app-table>
                            <br><br>
                            <app-table [setting]="reviewPlaneSettingTable2" class="mt-5"></app-table>
                        </div>
                        <div class="row table-field pb-4">
                            <div class="col-12 col-md-8  p-field form-section__field">
                                <span class="p-float-label d-flex">
                                  <input pInputText [placeholder]=" 'assets.estimate_market_value' | translate"  type="text" value="21000">
                                  <label>{{ 'assets.estimate_market_value' | translate }}</label>
                                  <span class="input-money-pipe">AED</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="component_sec_wrapper table-container pb-3" >
                        <div class="p-3 ">
                            <div class="component-title pb-3">
                                {{ 'sub_asset.review_your_maintenance_plan' | translate }}
                            </div>
                            <app-table [setting]="reviewMaintenancePlan"></app-table>
                        </div>
                    </div>
                    <div class="component_sec_wrapper table-container pb-3" >
                        <div class="p-3 ">
                            <div class="component-title pb-3">
                                {{ 'sub_asset.review_your_warranty_plan' | translate }}
                            </div>
                            <app-table [setting]="reviewWarrantyPlan"></app-table>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>