@import '../../../../../assets/scss/form-section.scss';

.add-button {
  border: 1px solid #009c62;
  border-radius: 3px;
  cursor: pointer;
}

.flex-with-button {
  flex: 1 0 85%;
  overflow: visible;
}
.overflow-visible {
  overflow: visible;
}
.location-item {
  display: flex;
  > div {
    margin: 0 5px;
  }
}
.button-container{
  top:-4em !important;
}

.active-jobcard{
  color:Red;
}