<form [formGroup]="inputForm" (ngSubmit)="addRequest()">
<div class="row">
  <div class="col-12">
    <div class="form-section mt-3">
      <h3 class="form-section__title">AssetId</h3>
      <div class="row form-section__row">

        <div class="col-12 col-md-6 p-field form-section__field options-select">
          <span class="p-float-label">
            <p-dropdown (onChange)="selectAsset($event)" inputId="asset" [autoDisplayFirst]="false"
              [options]="assets$|async" formControlName="assetId" optionValue="id"
              optionLabel="name"></p-dropdown>
            <label for="asset">{{ 'workshop.body_shop.job_card.id' | translate }}</label>
          </span>
          <anms-error
            [showError]="hasError('assetId',inputForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </div>
      </div>
    </div>
    <div class="table-container">
      <div class="card-table">
        <div class="row px-2">
          <p class="title col-md-4 d-flex align-self-center" style="color: rgba(0, 140, 255, 1) !important; font-weight:bold;">{{ 'workshop.body_shop.job_card.select_request' | translate }}</p>
          <span class="search-container card-table-header">
            <div class="search-box">
            <input type="text" placeholder="{{'search.search_in_columns' | translate}}">
            <button>
              <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
            </button>
          </div>
            <button class="btn-download">
              <svg-icon [src]="downloadBtn"></svg-icon>
            </button>
            <button class="btn-primary-small btn-scondary-green" type="button"(click)="cancelForm()"><a >{{'forms.cancel' | translate}}</a></button>
            <button class="btn-primary-small mx-1"><a>{{'forms.save' | translate}}</a></button>
          </span>
        </div>
        <app-table [setting]="addJobCard_Table" [tableData]="relatedRequests$" (onSelectItems)="getSelectedRequestIds($event)"></app-table>
      </div>
    </div>
    <div class="form-section mt-3">
      <h3 class="form-section__title">{{ 'workshop.body_shop.job_card.describe_job_card' | translate }}</h3>
      <div class="row form-section__row">
        <div class="col-lg-12">
          <div class="form-group p-field form-section__field">
            <div class="input-group">
              <span class="p-float-label w-100">
                <input type="text" class="form-control" placeholder="{{ 'workshop.body_shop.requests.description' | translate }}"
                  formControlName="description">
                <label>{{ 'workshop.body_shop.requests.description' | translate }}</label>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-9 p-field form-section__field options-select">
          <span class="p-float-label">
            <p-dropdown inputId="location" [autoDisplayFirst]="false"
              [options]="locations$|async" formControlName="wsLocationId" optionValue="id"
              optionLabel="name"></p-dropdown>
            <label for="location">{{ 'workshop.body_shop.technician.location' | translate }}</label>
          </span>
          <anms-error
            [showError]="hasError('wsLocationId',inputForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </div>

      </div>
    </div>
    <div class="form-section" formArrayName="tasks">
      <div class="row mt-3 mx-0">
        <span class="d-flex mb-4">
          <span class="p-inputgroup-addon mr-3 add-button" (click)="addTask()"><i class="pi pi-plus"></i></span>
          <h3 class="form-section__title align-self-center m-0">{{ 'workshop.body_shop.job_card.task' | translate }}</h3>
        </span>

      </div>
      <div class="row">
        <div class="col-12">
          <ng-container *ngFor="let task of
              inputForm.get('tasks')['controls']; let i=index; let last=last; let first=first;"
                        [formGroupName]="i">

            <div class="row overflow-visible">
              <!-- <div class="col-12 col-md-3 p-field form-section__field">
                <div class="autocomplete-select">
                  <span class="p-float-label">
                    <p-autoComplete formControlName="employeeNumber"
                      (completeMethod)="getEmployee($event)"
                      [suggestions]="employees$|async" field="name" [minLength]="1"
                      (ngModelChange)="employeeNumberChanged($event)"
                      required [disabled]="isEdit"></p-autoComplete>
                    <i class="pi pi-search"></i>
                    <label>{{ 'configuration.users.employee_number' | translate }} *</label>
                  </span>
                  <anms-error
                    [showError]="hasError('employeeNumber',form.get('portalInformation'),submited)"
                    error="forms.feedback.required">
                  </anms-error>
                </div>
              </div> -->
              <!-- <div class="col-12 col-md-3 p-field form-section__field">
                <div class="autocomplete-select">
                  <span class="p-float-label">
                    <p-autoComplete formControlName="department"
                      (completeMethod)="filterDepartments($event)"
                      [suggestions]="departments" field="name" [minLength]="1"
                      [disabled]="isEdit"></p-autoComplete>
                    <i class="pi pi-search"></i>
                    <label>{{ 'configuration.users.department' | translate }} *</label>
                  </span>
                  <anms-error
                    [showError]="hasError('department',form.get('portalInformation'),submited)"
                    error="forms.feedback.required"></anms-error>
                </div>
              </div> -->
              <div class="mx-3" *ngIf="!last || !first">
                <span  class='remove-icon p-inputgroup-addon' (click)="removeTask(i)">
                  <svg-icon src='assets/icons/add.svg'
                            [svgStyle]="{ 'width.px':18 , 'fill': '#F75A4A' , 'height': '100%', 'transform': 'rotate(45deg)'}"></svg-icon>
                </span>
              </div>
              <div class="col-3">
                <div class="form-group p-field form-section__field">
                  <div class="input-group">

                    <div class="autocomplete-select w-100">
                        <span class="p-float-label">
                            <p-autoComplete
                              [suggestions]="taskFiltered"
                              formControlName="taskMasterId"
                              (completeMethod)="searchTaskMaster($event)"
                              field="name"
                              [minLength]="1"
                              [dropdown]="true"
                            ></p-autoComplete>
                                <i class="pi pi-search"></i>
                          <!-- [class.invalid]="!inputForm.get('taskMasterId').valid
                          && submited" -->
                            <label>{{ 'workshop.body_shop.job_card.task' | translate }} *</label>
                        </span>
                    </div>
                    <anms-error
                      [showError]="hasError('taskMasterId',tasks.at(i),submited)"
                      error="forms.feedback.required">
                    </anms-error>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3 p-field form-section__field options-select">
                  <span class="p-float-label">
                    <p-dropdown inputId="priority" [autoDisplayFirst]="false"
                                [options]="priorities" formControlName="priorityOrder" optionValue="id"
                                optionLabel="name"></p-dropdown>
                    <label for="priority">{{ 'workshop.body_shop.requests.priority' | translate }}</label>
                  </span>
                  <anms-error
                  [showError]="hasError('priorityOrder',tasks.at(i),submited)"
                  error="forms.feedback.required">
                  </anms-error>
              </div>
              <div class="col-12 col-md-3 p-field form-section__field options-select">
                  <span class="p-float-label">
                    <p-dropdown inputId="technician" [autoDisplayFirst]="false"
                                [options]="technicians$|async" formControlName="technicianId" optionValue="id"
                                optionLabel="name"></p-dropdown>
                    <label for="technician">{{ 'workshop.body_shop.job_card.technician' | translate }}</label>
                  </span>
                  <anms-error
                    [showError]="hasError('technicianId',tasks.at(i),submited)"
                    error="forms.feedback.required">
                  </anms-error>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


</form>

<alert-dialog [settings]="dialogSetting" [displayModal]="dialogModal"
  (confirm)="dialogConfirm($event)"></alert-dialog>
<alert-dialog [settings]="errorDialogSetting" [displayModal]="errorDialogModal"
  (confirm)="errorDialogModal=false"></alert-dialog>
