<form [formGroup]="fleetStatusForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" routerLink="..">Cancel</button>
    <button class="btn-primary-medium add" (click)="submit()">Add</button>
  </div>
  <div class="form-section form-section--inline mx-0">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <h3 class="form-section__title">Type Category</h3>
          </div>
          <div class="col-12 col-md-8 mb-2 p-field align-self-center">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="form-check col-6">
                    <input class="form-check-input" formControlName="typeCategory" type="radio" name="typeCategory" id="asset" value ="asset">
                    <label class="form-check-label" for="asset">Asset</label>
                  </div>
                  <div class="form-check col-6">
                    <input class="form-check-input" formControlName="typeCategory" type="radio" name="typeCategory" id="subAsset" value ="subAsset">
                    <label class="form-check-label" for="subAsset">Sub Asset</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="statusCategory" [autoDisplayFirst]="false"
            [options]="statusCategories"
            formControlName="statusCategory" optionLabel="name"></p-dropdown>
          <label for="statusCategory">Status Category *</label>
          <anms-error
            [showError]="hasError('statusCategory',fleetStatusForm,submited)"
            error="fms.errors.required">
          </anms-error>
        </span>
      </div>

      <div class="col-12 col-md-3 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="statusName" pInputText
            placeholder="Status Name *" required type="text">
          <label>Status Name *</label>
          <anms-error
            [showError]="hasError('statusName',fleetStatusForm,submited)"
            error="fms.errors.required">
          </anms-error>
        </span>
      </div>

    </div>
  </div>
</form>
<div class="component_wrapper table-container">
  <app-table [setting]='tableSetting'></app-table>
</div>
