<form [formGroup]="subAssetForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" routerLink="..">Cancel</button>
    <button class="btn-primary-medium add" type="submit" (click)="submit()">Add</button>
  </div>

  <div class="form-section component_wrapper">
    <h3 class="form-section__title">Sub Asset Specification</h3>

    <div class="row form-section__row">
      <div class="col-12 col-md-4 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="subAssetType" [autoDisplayFirst]="false"
            [options]="subAssetTypes"
            formControlName="subAssetType" optionLabel="name"></p-dropdown>
          <label for="subAssetType">Sub Asset Type * </label>
        </span>
        <anms-error
            [showError]="hasError('subAssetType',subAssetForm,submited)"
            error="forms.feedback.required"></anms-error>
      </div>
    </div>
    <div class="row form-section__row">
      <div class="col-12 col-md-3 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="make" [autoDisplayFirst]="false"
            [options]="makes"
            formControlName="make" optionLabel="name"></p-dropdown>
          <label for="make">Make * </label>
        </span>
        <anms-error
            [showError]="hasError('make',subAssetForm,submited)"
            error="forms.feedback.required"></anms-error>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="model" [autoDisplayFirst]="false"
            [options]="models"
            formControlName="model" optionLabel="name"></p-dropdown>
          <label for="model">Model * </label>
        </span>
        <anms-error
            [showError]="hasError('model',subAssetForm,submited)"
            error="forms.feedback.required"></anms-error>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="year" [autoDisplayFirst]="false"
            [options]="years"
            formControlName="year" optionLabel="name"></p-dropdown>
          <label for="year">Year * </label>
        </span>
        <anms-error
            [showError]="hasError('year',subAssetForm,submited)"
            error="forms.feedback.required"></anms-error>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="origin" [autoDisplayFirst]="false"
            [options]="origins"
            formControlName="origin" optionLabel="name"></p-dropdown>
          <label for="origin">Origin * </label>
        </span>
        <anms-error
            [showError]="hasError('origin',subAssetForm,submited)"
            error="forms.feedback.required"></anms-error>
      </div>
    </div>


  </div>
  <div class="form-section component_wrapper">
    <h3 class="form-section__title">Financial</h3>
    <div class="row form-section__row">
      <div class="col-12 col-md-5 p-field form-section__field dropdown-select">
        <span class="p-float-label">
          <p-dropdown inputId="policyType" [autoDisplayFirst]="false"
            [options]="policyTypes"
            formControlName="policyType" optionLabel="name"></p-dropdown>
          <label for="policyType">Policy Type * </label>
        </span>
        <anms-error
            [showError]="hasError('policyType',subAssetForm,submited)"
            error="forms.feedback.required"></anms-error>
      </div>

      <div class="col-12 col-md-5 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="purchaseValue" pInputText
            placeholder="Purchase Value*"  type="text">
          <label>Purchase Value*</label>
        </span>
        <anms-error
        [showError]="hasError('purchaseValue',subAssetForm,submited)"
        error="forms.feedback.required">
      </anms-error>
      </div>
    </div>
  </div>
  <div class="form-section component_wrapper" formArrayName = "warranties">
    <h3 class="form-section__title"><span class='plus-icon' (click)="addWarranty()">
      <svg-icon src='../../../../../assets/icons/add.svg'
        [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height':
        '100%'}"></svg-icon>
    </span>Warranty Items</h3>
    <div class="row form-section__row" [formGroupName]="i" *ngFor="let item of subAssetForm.get('warranties')['controls']; let i = index;">
      <div class="col-12 col-md-3 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="item" pInputText
            placeholder="Item"  type="text">
          <label>Item</label>
        </span>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field
        dropdown-select-input">
         <div class="row">
           <div class="col-5 pr-0">
            <p-dropdown inputId="unit" [options]="units" formControlName="year"
            optionLabel="name"></p-dropdown>
           </div>
           <div class="col-7 pl-0">
            <span class="p-float-label">
              <input formControlName="duration" pInputText
                placeholder="Duration"  type="text">
              <label>Duration</label>
            </span>
           </div>
         </div>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field date-input">
        <span class="p-float-label">
            <p-calendar inputId="basic" formControlName="startDate"></p-calendar>
            <svg-icon class="date-icon"
            src='../../../../../assets/icons/calendar-alt-regular.svg'
            [svgStyle]="{ 'width.px':20 , 'fill': 'rgb(161 161 161)' ,
            'height': '100%'}"></svg-icon>
            <label>Start Date * </label>
            <!-- <anms-error
            [showError]="hasError('startDate',subAssetForm.get('warranties')[i],submited)"
            error="forms.feedback.required">
          </anms-error> -->
        </span>
    </div>
    <div class="col-12 col-md-3 p-field form-section__field">
      <div class='upload-box'>
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <label (click)="openFileSelector()" style="cursor: pointer;">
                <small calss="drag-and-drop">Drag and Drop A Warranty Doc Or Click Here</small>
            </label>
          </ng-template>
        </ngx-file-drop>
      </div>
    </div>
    </div>
  </div>

  <div class="form-section component_wrapper">
    <div class="row form-section__row">
      <div class="col-12 col-md-12 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="description" pInputText
            placeholder="Description"  type="text">
          <label>Description</label>
        </span>
      </div>
    </div>



  </div>



</form>
