<form>
    <div class="row">
        <div class="button-container">
        <button [routerLink]="['..']" class="btn-primary-medium btn-scondary-green">
          {{ 'forms.cancel' | translate }}
        </button>
        <button class="btn-primary-medium add">
          {{ 'forms.add' | translate }}
        </button>
      </div>
        <div class="col-12 col-md-3 pr-0" style="margin-top: 0 !important;">
            <part-store-asset-type></part-store-asset-type>
            <part-store-category></part-store-category>
        </div>
        <div class="col-12 col-md-9 pl-0">
            <!-- form-section -->
            <div class="form-section component_wrapper" [formGroup]="partForm" style="margin: 10px 0px 0px 10px !important;">
                <h3 class="form-section__title">{{ 'part_store.parts_list.item_info' | translate }}</h3>

                <div class="row form-section__row">
                    <div class="col-12 col-md-3 p-field form-section__field">
                        <span class="p-float-label">

                            <input pInputText placeholder="{{ 'part_store.part_list.quantity' | translate }}" required type="text" formControlName="quantity">
                            <label>{{ 'part_store.part_list.quantity' | translate }}</label>

                            <anms-error
                            [showError]="hasError('quantity')"
                            error="fms.errors.required"
                            ></anms-error>
                        </span>
                    </div>
                    <div class="col-12 col-md-4 p-field form-section__field">
                        <span class="p-float-label">

                            <input pInputText placeholder="{{ 'part_store.part_list.price' | translate }}" required type="text" formControlName="price">
                            <label>{{ 'part_store.part_list.price' | translate }}</label>

                            <anms-error
                            [showError]="hasError('price')"
                            error="fms.errors.required"
                            ></anms-error>
                        </span>
                    </div>
                    <div class="col-12 col-md-5 p-field form-section__field calendar-select">
                        <span class="p-float-label">
                            <p-calendar formControlName="warrantyExpiryDate"></p-calendar>
                            <label for="icon">{{ 'part_store.part_list.warranty_expire_date' | translate }}</label>
                        </span>
                    </div>
                </div>

                <div class="row form-section__row">
                    <div class="col-12 col-md-12 p-field form-section__field">
                        <span class="p-float-label">

                            <input class="ng-touched ng-invalid" pInputText placeholder="{{ 'part_store.part_list.description' | translate }}" required type="text">
                            <label>{{ 'part_store.part_list.description' | translate }}</label>

                        </span>
                    </div>
                </div>
            </div>
            <!-- end form-section -->

            <!-- form-section form-section--inline-->
            <div class="form-section component_wrapper form-section--inline" [formGroup]="partForm" style="margin: 10px 0px 0px 10px !important;">
                <div class="row">
                    <div class="col-12 col-md-2">

                        <h3 class="form-section__title">{{ 'part_store.part_list.storage_location' | translate }}</h3>

                    </div>

                    <div class="col-12 col-md-10">

                        <div class="row">
                            <div class="col-12 col-md-3 p-field form-section__field options-select">
                                <span class="p-float-label">
                                    <p-dropdown inputId="room" [autoDisplayFirst]="false" [options]="locations"
                                        formControlName="room" optionLabel="name"></p-dropdown>

                                    <label for="room">{{ 'part_store.part_list.room' | translate }}</label>

                                </span>
                            </div>
                            <div class="col-12 col-md-3 p-field form-section__field options-select">
                                <span class="p-float-label">
                                    <p-dropdown inputId="aisle" [autoDisplayFirst]="false" [options]="locations"
                                        formControlName="aisle" optionLabel="name"></p-dropdown>

                                    <label for="aisle">{{ 'part_store.part_list.aisle' | translate }}</label>

                                </span>
                            </div>
                            <div class="col-12 col-md-3 p-field form-section__field options-select">
                                <span class="p-float-label">
                                    <p-dropdown inputId="shelf" [autoDisplayFirst]="false" [options]="locations"
                                        formControlName="shelf" optionLabel="name"></p-dropdown>

                                    <label for="shelf">{{ 'part_store.part_list.shelf' | translate }}</label>

                                </span>
                            </div>
                            <div class="col-12 col-md-3 p-field form-section__field options-select">
                                <span class="p-float-label">
                                    <p-dropdown inputId="box" [autoDisplayFirst]="false" [options]="locations"
                                        formControlName="box" optionLabel="name"></p-dropdown>

                                    <label for="box">{{ 'part_store.part_list.box' | translate }}</label>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end form-section form-section--inline-->
        </div>
    </div>
</form>
