<div class="statistic-card">
  <app-filter [setting]='filterCard'></app-filter>
</div>

<div>
  <div class="table-container p-0">
    <div class="form-section m-0">
      <div class="row form-section__row m-0">
        <div class="p-field form-section__field options-select year-filter m-0">
          <span>
            <span class="p-float-label">
            <p-dropdown inputId="year" [autoDisplayFirst]="false"
              [options]="years"
              optionLabel="name"></p-dropdown>
              <label for="room">Year</label>
          </span>
          </span>
        </div>
        <div class="p-field form-section__field options-select make-filter m-0">
          <span >
            <span class="p-float-label">
            <p-dropdown inputId="make" [autoDisplayFirst]="false"
              [options]="makes"
              optionLabel="name"></p-dropdown>
              <label for="room">Make</label>
          </span>
          </span>
        </div>
        <div class="p-field form-section__field options-select model-filter m-0">
          <span >
            <span class="p-float-label">
            <p-dropdown inputId="model" [autoDisplayFirst]="false"
              [options]="models"
              optionLabel="name"></p-dropdown>
              <label for="room">Model</label>
          </span>
          </span>
        </div>
        <div class="p-field form-section__field search-filter m-0">
          <span class="p-float-label">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText
                  placeholder="{{ 'search.search' | translate }}">
                <label>{{ 'search.search' | translate }}</label>
              </span>
              <span class="p-inputgroup-addon search-btn addon-primary">
                {{ 'search.go' | translate }}
              </span>
            </div>
          </span>

        </div>
        <div class="form-section__field m-0">
          <div class="card-table-header card-table-header p-0 m-0">
            <span class="search-container">
                <button class="btn-download" disabled>
                    <svg-icon [src]="downloadBtn"></svg-icon>
                </button>
                <button class="btn-primary-small" [routerLink]="'./add'"><i>+</i><a>{{ 'search.add' | translate }}</a></button>
            </span>
        </div>
        </div>
      </div>
    </div>
    <app-table [setting]='partList_Table'></app-table>
  </div>
</div>
