@import '../../../../assets/scss/form-section.scss';

:host ::ng-deep {
  .card.parent {
    height: 45px;
    margin: 20px 20px 20px 0px;
  }
  mat-card {
    box-shadow: 0px 0px 2px #0000003d !important;
    mat-card-title {
      font-weight: bold;
    }
    span.border {
      position: absolute;
      width: 100%;
      left: 0;
      border: none !important;
      background: #e9ecef;
      height: 1px;
    }
  }
}
.card-table-header {
  font-weight: bold;
  font-size: 20px;
}
.card-table {
  background: #ffff;
  box-shadow: 0px 0px 2px #0000003d;
  border-radius: 4px;
}
.card-table-header {
  position: relative;
  display: flex;
  padding-left: 25px;
}
.search-container {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  margin-right: 15px;
  height: 45px;
  align-self: center;
  .btn-primary-green {
    background-color: #0da06e;
    border: 2px solid #0da06e;
    border-radius: 4px;
    width: 155px;
    height: 45px;
    position: relative;
    a {
      color: #ffff;
      font-size: 1.2rem;
      font-weight: bold;
    }
    i {
      color: #ffff;
      font-size: 1.7rem;
      font-weight: bold;
      position: absolute;
      top: -3px;
      left: 20%;
    }
  }
  .btn-download {
    width: 45px;
    border: 2px solid #a2a2a2;
    margin: 0 5px;
    border-radius: 4px;
    position: relative;
    background: #ffff;
    a {
      background: url('../../../../assets/icons/download-solid.svg');
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      top: 5px;
      left: 6px;
    }
  }

  .search-box {
    width: 320px;
    position: relative;
    input {
      height: 100%;
      width: 100%;
      box-shadow: 0px 0px 2px #00000029;
      border: 2px solid #a2a2a2;
      border-radius: 4px;
      padding: 15px;
      max-height: 45px;
      &::placeholder {
        padding-left: 15px;
      }
    }
    button {
      height: 100%;
      width: 45px;
      position: absolute;
      right: 0;
      background: #a09999;
      border-radius: 0 4px 4px 0;
      border: none;
    }
    .icon {
      color: #fff;
      font-size: 20px;
    }
  }
}

.form-buttons {
  position: absolute;
  top: 20px;
  right: 30px;
  button {
    width: 180px;
    height: 50px;
    font-size: 17px;
    margin: 0 2px;
  }
  .add {
    background: transparent linear-gradient(180deg, #07c880 0%, #0da06e 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 0px 1px #000000;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    border: 0;
  }
  .cancel {
    box-shadow: 0px 0px 1px #00000066;
    border: 2px solid #0da06e;
    border-radius: 4px;
    opacity: 1;
    color: #0da06e;
  }
}
