@import '../../../../themes/green-theme.scss';
@import '../../../../assets/scss/form-section.scss';
.row {
  margin-top: 10px !important;
  .form-section:first-child {
    margin-top: 0 !important;
  }
}

.calendar-select {
  .p-float-label label {
    width: auto;
  }
}

::ng-deep .p-calendar {
  width: 78%;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .p-calendar {
    width: 100%;
  }
}
