<div class="login-component">
  <div [class]="activeLang === 'en'
    ? 'login-loading-container login-loading-container' + '-left'
    : 'login-loading-container login-loading-container' + '-right'">
    <div class="login-loading d-flex justify-content-center align-items-center">
      <img src="assets/login/DubaiPoliceVLogo.svg" [class]="activeLang === 'en'
        ? 'img_login-logo img_login-logo' + '-left'
        : ' img_login-logo img_login-logo' + '-right'" />
    </div>
  </div>
  <div class="login-card-wrapper">
    <div class="card login text-center align-items-center d-flex
      justify-content-center flex-column">
      <div class="login-content">
        <div class="background-mobile"></div>
        <div class="d-flex justify-content-start align-items-center
          logo-container">
          <img src="assets/login/JSP-002-IMS-Login-Icone-54.svg" alt="Dubai Police Logo" class="logo w-50" />
          <div class="d-flex flex-column align-items-start justify-content-center
            logo-text">
            <span>{{ 'login.fleet' | translate }}</span>
            <span>{{ 'login.management' | translate }}</span>
            <span>{{ 'login.system' | translate }}</span>
          </div>
        </div>
        <div class="m-card-content">
          <form [formGroup]="credentialsFG" (ngSubmit)="login()">
            <div class="form-group has-feedback">
              <div class="form-field">
                <div class="field-group">
                  <div class="field-icon">
                  </div>
                  <div class="field-input">
                    <input type="text" class="w-100" placeholder="{{ 'login.user_name' | translate }}" formControlName="username" />
                  </div>
                </div>
              </div>
              <span class="form-control-feedback" *ngIf="credentialsFG.controls.username.hasError('incorrect')">
                {{ 'login.incorrect_username' | translate }}
              </span>
            </div>

            <div class="form-group has-feedback">
              <div class="form-field">
                <div class="field-group">
                  <div class="field-icon">
                  </div>
                  <div class="field-input">
                    <input (keyup.enter)="login()" type="password" class="w-100 input_component" placeholder="{{ 'login.password' | translate }}"
                      formControlName="password" />
                  </div>
                </div>
              </div>
              <span class="form-control-feedback" *ngIf="credentialsFG.controls.password.hasError('incorrect')">
                {{ 'login.incorrect_password' | translate }}
              </span>
            </div>
            <div class="m-card-options">
              <button type="submit" class="w-75 fw-400 font-weight-bold button-login">
                {{ 'login.login' | translate }}
              </button>
              <button type="button" (click)="changeLanguage(activeLang == 'en' ? 'ar' : 'en')"  class="fw-400 font-weight-bold button-language">
                <ng-template [ngIf]="activeLang == 'en'" [ngIfElse]="english">
                  العربية
                </ng-template>
                <ng-template #english>English</ng-template>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
