<!-- <div class="filter-container">
  <app-filter *ngIf="selectedTab === 'jobcardTab'" [setting]="jobCardTabFilterSetting"></app-filter>
</div> -->
<div class="table-container component_wrapper">
  <app-tab-view (selectedIndex)="selectedTab=$event"  [count]="[requestCount$ , jobCardCount$ , technicianCount$, locationCount$]">
    <span class="search-container card-table-header">
      <div class="search-box">
        <input id="searchInput" type="text" placeholder="{{'search.search_in_columns' | translate}}">
        <button>
          <img src="assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" (click)='exportTable()'>
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button  class="btn-primary-small" (click)="addClicked($event)" ><i>+</i><a>{{(selectedTab == 'jobcardTab'? 'search.job_card' :'search.add') | translate}}</a></button>
    </span>
    <div title="tabs.requests" id="requestTab">
      <app-table searchInput="searchInput" (onPagination)="eventPagination_request()" pagination="service-shop_request" [setting]="table1Setting" [tableData]="requestData$"></app-table>
    </div>
    <div title="tabs.job_card" id="jobcardTab">
      <!-- <app-table searchInput="searchInput" (onPagination)="eventPagination_jobcard()" pagination="service-shop_jobcard" [setting]="table2Setting" [tableData]="jobCardData$"></app-table> -->
      <app-table searchInput="searchInput" (onPagination)="eventPagination_jobcard()" pagination="service-shop_jobcard" [setting]="table2Setting" [tableData]="jobCardData$"></app-table>
    </div>
    <!-- <div title="tabs.technician" id="technicianTab">
      <app-table searchInput="searchInput" (onPagination)="eventPagination_technician()" pagination="service-shop_technician" [setting]="table3Setting" [tableData]="technicianData$"></app-table>
    </div>
    <div title="tabs.location" id="locationTab"  [attr.count]="locationCount$ | async">
      <app-table searchInput="searchInput" (onPagination)="eventPagination_location()" pagination="service-shop_location" [setting]="table4Setting" [tableData]="locationData$"></app-table>
    </div> -->
  </app-tab-view>
</div>
