.person-detail {
  padding: 2em;

  &__fullname {
    font-size: 20px;
    color: #008755;
    font-weight: bold;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      font-size: 12px;
      padding: 0.7em 0;
      span {
        width: 50%;
        font-weight: bold;
      }
      span:first-child {
        color: #707070;
        min-width: 160px;
        display: inline-block;
      }
      span:last-child {
        color: #005844;
      }
    }
  }
}
.fit-height {
  height: calc(100% - 2em);
}

.toolbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 22px;
  padding-top: 0px;
  img {
    width: 29px;
  }
}

.operator-avatar-border {
  border-radius: 50%;
  padding: 5px;
  border: 1px dashed #f2b06e;
}

.people-border {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #42d0d9;
  width: 35px;
  height: 34px;
}

.mail-border {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #f2b06e;
  width: 35px;
  height: 34px;
}

.tel-border {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #f66d5e;
  width: 35px;
  height: 34px;
}

.header {
  font-size: 1.3em;
  color: #0da06e;
  font-weight: bold;
}

.box-shadow-none {
  box-shadow: none !important;
}
