
<div class="row" *hasPermission="['USER_OPERATOR_VIEW_DETAILS_GENERAL' , 'USER_OPERATOR_VIEW_DETAILS_TRAFFIC_FINE' , 'USER_OPERATOR_VIEW_DETAILS_MOVEMENT_HISTORY']">

  <div class="col-3">
    <user-detail-side [hasActivate]="true" [data$]="operator$" [position]="'operator.overview.operator'"></user-detail-side>
  </div>
  <div class="col-lg-9">
    <div class="statistic-card">
      <app-filter *ngIf="selectedTab == '1'" [setting]='trafficFinFilterCard'></app-filter>
    </div>
    <div class="component_wrapper table-container box-shadow-none">
      <app-tab-view returnId="index" (selectedIndex)="selectedTab=$event" [count]='[undefined, trafficFineCount$, movementHistoryCount$]'>
        <span class="card-table-header search-container" *ngIf="selectedTab != '0'">
          <div class="search-box">
            <input placeholder="{{'search.search_in_columns' | translate}}"
              type="text">
            <button>
              <img [src]="search" alt="">
            </button>
          </div>
          <button class="btn-download" disabled>
            <svg-icon [src]="downloadBtn"></svg-icon>
          </button>
        </span>
        <span *ngIf='selectedTab == "0"' class='card-table-header search-container'>
          <img src='assets/icons/printer.png' alt=''>
        </span>
        <div title="{{ 'tabs.overview' | translate }}" id='overviewTab'  *hasPermission="['USER_OPERATOR_VIEW_DETAILS_GENERAL']">
          <anms-overviewtab></anms-overviewtab>
        </div>
        <div count="3456" title="{{ 'tabs.traffic_fine' | translate }}" id='trafficFileTab' *hasPermission="['USER_OPERATOR_VIEW_DETAILS_TRAFFIC_FINE']">
          <app-table [setting]="trafficFine_Table" [tableData]='trafficFineTableData'></app-table>
        </div>
        <div count="3456" title="{{ 'tabs.movement_history' | translate }}" id='movementHistoryTab' *hasPermission="['USER_OPERATOR_VIEW_DETAILS_MOVEMENT_HISTORY']">
          <app-table [setting]='movementHistoryTable' [tableData]='movementHistoryTableData'></app-table>
        </div>
      </app-tab-view>
    </div>
  </div>
</div>
