<div class="box p-4">
    <div class="row">
        <div class="col-6">
            <p class="box_title">
                {{title}}
            </p>
            <p class="box_sub_number">
                250
            </p>
        </div>
        <div class="col-6">
            <span class="item__progress">
                <pie-chart-mini [series]="data" [labels]="labels"></pie-chart-mini>
            </span>
        </div>
    </div>
    <div class="d-flex justify-content-between footer-card chart-labels">
        <div class="">
            <a [routerLink]="[routerLink.router]">{{routerLink.title}}</a>
        </div>
      <ng-container *ngFor="let label of labels">
        <div class="chart-label">
          <p class="f-label">{{ label }}</p>
        </div>
      </ng-container>
    </div>
</div>
