<mat-card>
    <mat-card-header>
        <mat-card-title class="mat-card-title">{{ 'filter.asset_category' | translate }}</mat-card-title>
    </mat-card-header>
    <span class="border"></span>
    <mat-card-content>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let category of categories" [value]="category">
                {{category | translate}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
</mat-card>