@import '../../../../../assets/scss/form-section.scss';

.part-overview {
  margin-top: 16px;
  padding-bottom: 25px;

  ul {
    list-style: none;
    display: flex;
    margin: 15px 0 0;
    padding: 0;
    font-family: '29LT Bukra - Bold';

    li {
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }
    }

    img {
      border-radius: 2px;
      cursor: pointer;
      max-width: 100%;
    }
  }

  &__title {
    color: #0da06e;
    font-size: 1.5em;
  }

  &__info {
    th {
      font-family: '29LT Bukra - Bold';
      width: 15em;
      color: #707070;
    }

    td {
      font-family: '29LT Bukra - Bold';
      color: #0da06e;
    }
    td,
    th {
      padding: 10px;
      font-size: 1em;
    }
  }
}
.component_wrapper {
  margin: 10px 0 10px;
}
.card-table-header {
  flex: 0 0 auto;
}
hr.line {
  margin: 10px -30px;
}
.overview-container {
  padding: 10px;
}
p-carousel {
  ::ng-deep {
    li.p-carousel-indicator.p-highlight {
      button {
        background-color: #008755 !important;
      }
    }
  }
  .image-item {
    height: 100%;
    .image-item-content {
      height: 100%;
      & > div {
        height: 100%;
      }
    }
  }
}

.disable-navigator {
  ::ng-deep {
    button,
    .p-carousel-indicators {
      display: none;
    }
  }
}
