<!-- form-section -->
<form [formGroup]="taskMasterForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="cancel()">{{ 'forms.cancel' | translate
      }}</button>
    <button class="btn-primary-medium add" type="submit" (click)="submit()">{{ (isEdit ? ('forms.edit' | translate) :
      ('forms.add' | translate)) }}</button>
  </div>
  <div class="row">
    <div class="form-section mx-0 fix">
      <h3 class="form-section__title">{{ 'workshop.task_master.task_info' | translate }}</h3>
      <div class="row">
        <div class="col-12 mb-3">
          <div class="row">
            <div class="col-2">
              {{'workshop.task_master.shop_type'|translate}}
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-3">
                  <div class="form-check">
                    <input class="form-check-input" formControlName="shopType" type="radio" id="radioButton7"
                      value="BODYSHOP">
                    <label class="form-check-label"
                      for="radioButton2">{{"workshop.task_master.body_shop"|translate}}</label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-check">
                    <input class="form-check-input" formControlName="shopType" type="radio" id="radioButton8"
                      value="SERVICESHOP">
                    <label class="form-check-label"
                      for="radioButton2">{{"workshop.task_master.service_shop"|translate}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2">
                  {{'workshop.task_master.task_type'|translate}}
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" formControlName="taskType" type="radio" id="radioButton1"
                          value="NORMAL" Checked>
                        <label class="form-check-label"
                          for="radioButton1">{{"workshop.task_master.normal"|translate}}</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" formControlName="taskType" type="radio" id="radioButton2"
                          value="INSTALLATION">
                        <label class="form-check-label"
                          for="radioButton2">{{"workshop.task_master.installation"|translate}}</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" formControlName="taskType" type="radio" id="radioButton3"
                          value="ELECTRICAL_SERVICE">
                        <label class="form-check-label"
                          for="radioButton2">{{"workshop.task_master.electrical_service"|translate}}</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" formControlName="taskType" type="radio" id="radioButton4"
                          value="REPLACEMENT">
                        <label class="form-check-label"
                          for="radioButton2">{{"workshop.task_master.replacement"|translate}}</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" formControlName="taskType" type="radio" id="radioButton5"
                          value="PERIODIC_SERVICE_RELATED">
                        <label class="form-check-label"
                          for="radioButton2">{{"workshop.task_master.periodic_service_related"|translate}}</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" formControlName="taskType" type="radio" id="radioButton6"
                          value="REMOVAL">
                        <label class="form-check-label"
                          for="radioButton2">{{"workshop.task_master.removal"|translate}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-section__row">
        <div class="col-12 col-md-4">
          <div class="m-0 p-field form-section__field">
            <span class="p-float-label">
              <input pInputText placeholder="{{ 'workshop.task_master.task_name' | translate }} *" type="text"
                formControlName="taskName" [class.invalid]="!taskMasterForm.get('taskName').valid && submitted">
              <label>{{ 'workshop.task_master.task_name' | translate }} *</label>
            </span>
            <anms-error [showError]="hasError('taskName',taskMasterForm,submitted)" error="forms.feedback.required">
            </anms-error>
          </div>
        </div>
        <div class="col-12 col-md-4 p-field form-section__field">
          <span class="p-float-label">
            <input pInputText placeholder="{{ 'workshop.task_master.instruction' | translate }} *" type="text"
              formControlName="instruction" [class.invalid]="!taskMasterForm.get('instruction').valid && submitted">
            <label>{{ 'workshop.task_master.instruction' | translate }} *</label>
          </span>
          <anms-error [showError]="hasError('instruction',taskMasterForm,submitted)" error="forms.feedback.required">
          </anms-error>
        </div>
        <div class="col-12 col-md-4 p-field form-section__field">
          <span class="p-float-label w-100">
            <input pInputText type="number" formControlName="ratePerHour" class="w-100">
            <label>{{ 'workshop.task_master.rate_per_hour' | translate }}</label>
          </span>
        </div>
      </div>
      <div class="row form-section__row">
        <div class="col-12 col-md-4 p-field form-section__field">
          <span class="p-float-label w-100">
            <input pInputText type="number" formControlName="timeEstimate"
              [class.invalid]="!taskMasterForm.get('timeEstimate').valid && submitted" class="w-100">
            <label>{{ 'workshop.task_master.time_estimate' | translate }} *</label>
          </span>
          <anms-error [showError]="hasError('timeEstimate',taskMasterForm,submitted)" error="forms.feedback.required">
          </anms-error>
        </div>
        <div class="col-12 col-md-8 " formArrayName="skills">
          <div class="mb-3 p-field form-section__field d-flex "
            *ngFor="let skill of skills.controls; let i=index; let last=last;" [formGroupName]='i'>
            <div class="input-group flex-with-button">
              <div class="autocomplete-select w-100">
                <span class="p-float-label">
                  <p-autoComplete formControlName='skill' (completeMethod)="getAllSkill($event)"
                    [suggestions]="skillFiltered" field="name" [minLength]="1" (onSelect)="skillSelect($event)">
                  </p-autoComplete>
                  <label>{{ 'workshop.task_master.skills' | translate }}</label>
                </span>
                <anms-error [showError]="formArrayHasError(submitted, skills, i, 'skill')"
                  error="forms.feedback.required"></anms-error>
              </div>
            </div>
            <span *ngIf="last" class="p-inputgroup-addon addon-primary" [ngStyle]="{'cursor': 'pointer'}"
              (click)="addSkill()">
              <i class="pi pi-plus"></i>
            </span>
            <span *ngIf="!last" class='remove-icon p-inputgroup-addon' (click)="removeSkill(i)">
              <svg-icon src='assets/icons/add.svg'
                [svgStyle]="{ 'width.px':18 , 'fill': '#F75A4A' , 'height': '100%', 'transform': 'rotate(45deg)'}">
              </svg-icon>
            </span>
          </div>
        </div>
      </div>

      <div class="row form-section__row">
        <div class="col-12 col-md-3 form-section__field justify-content-start toggle-select">
          <p-inputSwitch formControlName="needPart"></p-inputSwitch>
          <span class="mx-4">{{ 'workshop.task_master.this_task_needs_part' | translate }}</span>
        </div>
        <div class="col-12 col-md-3" formArrayName="part" *ngIf="taskMasterForm.get('needPart').value">
          <div class="p-inputgroup flex-wrap d-flex w-100 flex-wrap">
            <div class="p-field form-section__field flex-with-button w-100"
              *ngFor="let part of taskMasterForm.get('part')['controls']; let i=index; let last = last;">
              <span class="p-float-label flex-with-button w-100 mb-1">
                <input type="text" id="inputgroup" pInputText
                  placeholder="{{ 'workshop.task_master.add_part' | translate }}" [formControlName]="i"
                  [class.invalid]="!taskMasterForm.get('part')['controls'][i].valid && submitted">
                <label>{{ 'workshop.task_master.add_part' | translate }}</label>
                <span *ngIf="last" class="p-inputgroup-addon addon-primary" [ngStyle]="{'cursor': 'pointer'}"
                  (click)="addPart(part.value)">
                  <i class="pi pi-plus"></i>
                </span>
              </span>
              <small class="error-input" [class.d-none]="part.value != null  || !addPartValidation">{{
                'workshop.task_master.please_fill_part' | translate }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end form-section -->


<alert-dialog [settings]="dialogSettingCancel" [displayModal]="dialogModalCancel"
  (confirm)="dialogCancelConfirm($event)"></alert-dialog>
<alert-dialog [settings]="dialogSetting" [displayModal]="dialogModal" (confirm)="dialogConfirm($event)"></alert-dialog>
<alert-dialog [settings]="dialogSettingError" [displayModal]="dialogModalError" (confirm)="dialogModalError=false">
</alert-dialog>
