@import '../../../../themes/green-theme';
@import '../../../../assets/scss/form-section.scss';
@import '../task-master/task-master.component';
.button-container{
    top: -3.6em;
}
.flex-with-button{
    flex:1 0 85%;
    overflow: visible;
}
