@import '../../../../themes/green-theme';
@import '../task-master/task-master.component';

.form-section {
  padding: 15px;
  background-color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 2px #0000003d;
  border-radius: 5px;

  &__title {
    color: #333;
    font-size: 15px;
    margin-bottom: 25px;
  }

  &__field {
    margin-bottom: 20px;

    .toggle-select {
      height: 40px;
    }

    .addon-primary {
      background-color: #fff;
      color: $fms-form-addon;
      border-color: $fms-form-addon-border;

      i {
        font-size: 22px;
        font-weight: bold;
      }
    }

    .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label {
      top: -0.15rem;
      background: #fff;
      font-size: 15px;
      left: 0.8rem;
      width: auto;
      padding: 0 5px;
    }

    input {
      border-color: $fms-form-input-border;
      color: $fms-form-input;
      font-size: 15px;

      & ~ label {
        color: $fms-form-label;
      }

      &.ng-touched.ng-invalid {
        border-color: $fms-form-input-error;
      }

      &:not([disabled]):hover {
        border-color: $fms-form-input-hover;
      }

      &:focus {
        box-shadow: none;
      }

      &[disabled] {
        background-color: #fff;

        & ~ label {
          color: $fms-form-label-disabled;
        }
      }
    }
  }

  .toggle-select {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ::ng-deep {
      .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background-color: $fms-form-input-switch;
      }

      .p-inputswitch.p-focus .p-inputswitch-slider {
        box-shadow: none;
        border: none;
      }
    }
  }
}
