<!-- form-section -->
<form [formGroup]="taskMasterForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="cancel()">{{ 'forms.cancel' | translate }}</button>
    <button class="btn-primary-medium add" type="submit"  (click)="submit()">{{ 'forms.add' | translate }}</button>
  </div>
  <div class="row">
    <div class="form-section mx-0 fix">
      <h3 class="form-section__title">{{ 'workshop.task_master.task_info' | translate }}</h3>
      <div class="row form-section__row">
        <div class="col-12 col-md-4">
          <div class="m-0 p-field form-section__field">
            <span class="p-float-label">
              <input pInputText placeholder="{{ 'workshop.task_master.task_name' | translate }} *" type="text" formControlName="taskName"
                [class.invalid]="!taskMasterForm.get('taskName').valid && submitted">
              <label>{{ 'workshop.task_master.task_name' | translate }} *</label>
            </span>
            <anms-error [showError]="hasError('taskName',taskMasterForm,submitted)" error="forms.feedback.required"></anms-error>
          </div>
        </div>
        <div class="col-12 col-md-4 p-field form-section__field">
          <span class="p-float-label">
            <input pInputText placeholder="{{ 'workshop.task_master.instruction' | translate }} *" type="text" formControlName="instruction"
              [class.invalid]="!taskMasterForm.get('instruction').valid && submitted">
            <label>{{ 'workshop.task_master.instruction' | translate }} *</label>
          </span>
            <anms-error [showError]="hasError('instruction',taskMasterForm,submitted)" error="forms.feedback.required"></anms-error>
        </div>
        <div class="col-12 col-md-4 p-field form-section__field">
          <span class="p-float-label">
            <input pInputText placeholder="{{ 'workshop.task_master.rate_per_hour' | translate }}" type="number" formControlName="ratePerHour">
            <label>{{ 'workshop.task_master.rate_per_hour' | translate }}</label>
          </span>
        </div>
      </div>
      <div class="row form-section__row">
        <div class="col-12 col-md-4 p-field form-section__field">
          <span class="p-float-label">
            <input pInputText placeholder="{{ 'workshop.task_master.time_estimate' | translate }} *" type="number" formControlName="timeEstimate"
              [class.invalid]="!taskMasterForm.get('timeEstimate').valid && submitted">
            <label>{{ 'workshop.task_master.time_estimate' | translate }}*</label>
          </span>
         <anms-error [showError]="hasError('timeEstimate',taskMasterForm,submitted)" error="forms.feedback.required"></anms-error>
        </div>
        <div class="col-12 col-md-8 " formArrayName="skill">
          <div class="p-inputgroup flex-wrap d-flex w-100 flex-wrap">
            <div class="p-field form-section__field flex-with-button w-100" *ngFor="let skill of taskMasterForm.get('skill')['controls']; let i=index; let last=last;">
                <span class="p-float-label flex-with-button w-100 mb-1">
                  <input type="text" id="inputgroup" pInputText placeholder="{{ 'workshop.task_master.skills' | translate }}" [formControlName]="i">
                  <label>{{ 'workshop.task_master.skills' | translate }}</label>
                  <span *ngIf="last" class="p-inputgroup-addon addon-primary" [ngStyle]="{'cursor': 'pointer'}"
                    (click)="addSkill(skill.value)">
                    <i class="pi pi-plus"></i>
                  </span>
                </span>
                <small *ngIf="last" class="error-input"
                  [class.d-none]="skill.value != null  || !addSkillValidation">{{ 'workshop.task_master.please_fill_skill' | translate }}</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row form-section__row">
        <div class="col-12 col-md-3 form-section__field justify-content-start toggle-select">
          <p-inputSwitch formControlName="needPart"></p-inputSwitch>
          <span class="mx-4">{{ 'workshop.task_master.this_task_needs_part' | translate }}</span>
        </div>
        <div class="col-12 col-md-3" formArrayName="part" *ngIf="taskMasterForm.get('needPart').value">
          <div class="p-inputgroup flex-wrap d-flex w-100 flex-wrap">
            <div class="p-field form-section__field flex-with-button w-100"
              *ngFor="let part of taskMasterForm.get('part')['controls']; let i=index; let last = last;">
                <span class="p-float-label flex-with-button w-100 mb-1">
                  <input type="text" id="inputgroup" pInputText placeholder="{{ 'workshop.task_master.add_part' | translate }}" [formControlName]="i"
                    [class.invalid]="!taskMasterForm.get('part')['controls'][i].valid && submitted">
                  <label >{{ 'workshop.task_master.add_part' | translate }}</label>
                  <span  *ngIf="last"  class="p-inputgroup-addon addon-primary" [ngStyle]="{'cursor': 'pointer'}"
                      (click)="addPart(part.value)">
                      <i class="pi pi-plus"></i>
                  </span>
                </span>
                <small class="error-input"
                      [class.d-none]="part.value != null  || !addPartValidation">{{ 'workshop.task_master.please_fill_part' | translate }}</small>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end form-section -->


<alert-dialog [settings]="dialogSettingCancel" [displayModal]="dialogModalCancel" (confirm)="dialogCancelConfirm($event)"></alert-dialog>
<alert-dialog [settings]="dialogSetting" [displayModal]="dialogModal" (confirm)="dialogConfirm($event)"></alert-dialog>
<alert-dialog [settings]="dialogSettingError" [displayModal]="dialogModalError" (confirm)="dialogModalError=false"></alert-dialog>
