<div class="box p-4">
    <div class="row">
        <div class="col-6">
            <p class="box_title">
                Sub Asset
            </p>
            <p class="box_sub_number">
                250
            </p>
        </div>
        <div class="col-6">
            <span class="item__progress">
                <pie-chart-mini></pie-chart-mini>
            </span>
        </div>
    </div>
    <div class="row footer-card">
        <div class="col-6">
            <p>See All Accessory</p>
        </div>
        <div class="col-3">
            <p>X Fleet</p>
        </div>
        <div class="col-3">
            <p>In Active</p>
        </div>
    </div>
</div>