<div>

  <div class='d-flex'>

    <div class='w-75'>

      <div class='card'>
        <div class='d-flex card-body'>
          <div>Notification Types</div>
          <div class='ml-5'>
            <div class="col-3">
              <div class="toggle-select">
                <p-inputSwitch></p-inputSwitch>
                <label>Email</label>
              </div>
            </div>
          </div>
          <div class='ml-5 mr-5'>
            <div class="col-3">
              <div class="toggle-select">
                <p-inputSwitch></p-inputSwitch>
                <label>Push Notifications</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='card'>
        <div class='card-body'>
          <div class='font-weight-bold title'>Watched Vehicle Email
            Notifications</div>

          <div class='d-inline-flex'>

            <div class='mt-3' style='width: 30%'>
              <div class='row'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Vehicle Comments</label>
                  <p class='sub_title m-0'>When vehicle comments are added by
                    other users</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Service Entry Comment</label>
                  <p class='sub_title m-0'>When service entry comments are added
                    by others users</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Fuel Entry Comment</label>
                  <p class='sub_title m-0'>When fuel entry comments are added by
                    others users</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Vehicle Status Changes</label>
                  <p class='sub_title m-0'>When vehicle statuses are changed by
                    other users</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Voided Fuel Entries</label>
                  <p class='sub_title m-0'>When fuel entries are automatically voided on any vehicles you're</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Due Soon Inspections</label>
                  <p class='sub_title m-0'>At 7:00 am the day an inspection is
                    due</p>
                </div>
              </div>
            </div>

            <div class='mt-3' style='width: 48%'>
              <div class='row'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">Overdue Inspections</label>
                  <p class='sub_title m-0'>At 7:00 am daily for any overdue
                    inspections</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">New Faults</label>
                  <p class='sub_title m-0'>When a Fault or Diagnostic Trouble
                    Code (DTC) alert is received via API or an
                    integrated telematics/GPS tracking device</p>
                </div>
              </div>
              <div class='row mt-3'>
                <div class="col-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                  </div>
                </div>
                <div class="col-9">
                  <label for="checkbox1">New Recalls</label>
                  <p class='sub_title m-0'>At 7:00 am the day an inspection is
                    due</p>
                </div>
              </div>

              <div class='mt-2'>
                <span class='sub_title m-0'>When a new recall is discovered for
                  vehicles you're watching</span>
              </div>

              <div class='row mt-3'>
                <div class="col-4">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Email</label>

                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Push Notification</label>

                  </div>
                </div>
              </div>

              <div class='mt-4'>
                <span>Issue Assigned to Me</span>
                <p class='sub_title m-0'>When an issue is assigned to me by
                  other users</p>
              </div>

              <div class='row mt-3'>
                <div class="col-4">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Email</label>

                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Push Notification</label>

                  </div>
                </div>
              </div>

            </div>

            <div class='mt-3' style='width: 32%'>

              <div>
                <span>Issue Receives a Comment</span>
                <p class='sub_title m-0'>When an issue comments are added by
                  other users</p>
              </div>

              <div class='d-flex mt-2'>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Email</label>

                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Push Notification</label>

                  </div>
                </div>
              </div>

              <div class='mt-3'>
                <span>Issue Resolved</span>
                <p class='sub_title m-0'>When an issue is resolved by other
                  users</p>
              </div>

              <div class='d-flex mt-2'>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Email</label>

                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Push Notification</label>

                  </div>
                </div>
              </div>

              <div class='mt-3'>
                <span>Issue Closed</span>
                <p class='sub_title m-0'>When an issue is closed by other user</p>
              </div>

              <div class='d-flex mt-2'>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Email</label>

                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="form-group form-check">
                    <input id="checkbox1" type="checkbox"
                      class="custom-checkbox" name="checkbox1" checked>
                      <label for="checkbox1">Push Notification</label>

                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

    <div class='w-25'>

      <div class='card'>
        <div class='card-body'>
          <div class='d-flex justify-content-between'>
            <div>
              <a href='/' class='logout'>Logout</a>
            </div>
            <div class='d-flex'>
              <button mat-icon-button>
                <svg-icon class='user_profile_edit_button'
                  src='assets/icons/user_profile_edit.svg'
                  [svgStyle]="{'width.px':20 , 'fill': '#0DA06E' , 'height':
                  '100%'}"></svg-icon>
              </button>
              <button mat-icon-button>
                <svg-icon class='user_profile_edit_button'
                  src='assets/icons/user_profile_settings.svg'
                  [svgStyle]="{'width.px':20 , 'fill': '#0DA06E' , 'height':
                  '100%'}"></svg-icon>
              </button>
            </div>
          </div>
          <div class='mt-2 text-center'>
            <img class='rounded-circle' src='assets/user-image.png'
              alt='user-image'>
            <p class='m-0 mt-1 font-weight-bold blue_color'>Mohammad Saadon</p>
            <p class='m-0 blue_color'>Fleet Management</p>
            <p class='phone_number m-0'>0027567356</p>
          </div>
        </div>
      </div>

      <div class='card'>
        <div class='card-body'>
          <div>
            <button mat-icon-button class='rounded people_button'>
              <svg-icon src='assets/icons/people.svg'
                [svgStyle]="{'width.px':20, 'height': '100%'}"></svg-icon>
              <span class='label name_surname_label ml-4 blue_color'>Organization</span>
              <span class='label role_label ml-4 font-italic blue_color
                sub_info'>Sample Department</span>
            </button>
          </div>
          <div class='mt-4'>
            <button mat-icon-button class='rounded email_button'>
              <svg-icon src='assets/icons/email.svg'
                [svgStyle]="{'width.px':20, 'height': '100%'}"></svg-icon>
              <span class='label name_surname_label ml-4 blue_color'>Organization</span>
              <span class='label role_label ml-4 font-italic blue_color
                sub_info'>Sample Department</span>
            </button>
          </div>
          <div class='mt-4'>
            <button mat-icon-button class='rounded phone_button'>
              <svg-icon src='assets/icons/user_phone.svg'
                [svgStyle]="{'width.px':20, 'height': '100%'}"></svg-icon>
              <span class='label name_surname_label ml-4 blue_color'>Organization</span>
              <span class='label role_label ml-4 font-italic blue_color
                sub_info'>Sample Department</span>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
