@import '../../../../../themes/green-theme.scss';
@import '../../../../../assets/scss/form-section.scss';

.component_wrapper {
  .caption {
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    .plus-icon {
      border: 1px solid #009c62;
      width: 32px;
      display: inline-block;
      text-align: center;
      height: 32px;
      margin: 0 5px;
    }
  }

  div [class^='col-'] {
    .form-control {
      //margin: 6px;
    }
  }

  .border-input-append {
    border: 1px solid #009c62;
  }
  .border-input-prepend {
    border: 1px solid #dee2e6;
    border-radius: 5px 0 0 5px;
    select {
      width: 100px;
      color: #313131;
      padding-right: 30px;
      padding-left: 10px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url('../../../../../assets/icons/arrow-down.svg');
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 15px;
    }
  }
}
.plus-icon {
  border: 1px solid #009c62;
  border-radius: 4px;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0 5px;
  ::ng-deep {
    svg {
      margin-bottom: 8px;
    }
  }
}

.title-wrapper {
  margin: 0px 17px;
}
.form-check {
  display: flex;
  input {
    margin: 0.8em 0.8em 0.8em 0.4em;
  }
  label {
    align-self: center;
    margin-bottom: 0;
  }
}
.duration-container {
  padding-left: 0 !important;
  .duration {
    display: flex;
    flex-wrap: wrap;
    p-dropdown {
      flex: 0 0 auto;
    }
    .p-field {
      flex: 1 0 auto;
    }
  }
}
