<form [formGroup]="addPeriodicServiceForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="goToList()">{{ 'forms.cancel' | translate }}</button>
    <button class="btn-primary-medium add" (click)="submit()">{{ 'search.add' | translate }}</button>
  </div>
  <div class="form-section form-section--inline mt-3">
    <div class="row">
      <div class="col-12 col-md-3">
        <h3 class="form-section__title">{{ 'workshop.part_store.configuration.periodic_service.periodic_service_info' | translate }}</h3>
      </div>
      <div class="col-12 col-md-6 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="name" pInputText
            placeholder="{{ 'workshop.part_store.configuration.periodic_service.periodic_service_name' | translate }} *" required type="text">
          <label>{{ 'workshop.part_store.configuration.periodic_service.periodic_service_name' | translate }} *</label>
          <anms-error
            [showError]="hasError('name',addPeriodicServiceForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </span>
      </div>

    </div>
  </div>
  <div class="form-section form-section--inline mt-3">
    <div class="row">
      <div class="col-12 col-md-1">
        <!-- <span class='plus-icon'>
          <svg-icon src='../../../../../assets/icons/add.svg'
            [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height':
            '100%'}"></svg-icon>
        </span> -->
        <h3 class="form-section__title">{{ 'workshop.part_store.configuration.periodic_service.package' | translate }}</h3>
      </div>
      <div class="col-12 col-md-5 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="packageName" pInputText
            placeholder="{{ 'workshop.part_store.configuration.periodic_service.package_name' | translate }} *" required type="text">
          <label>{{ 'workshop.part_store.configuration.periodic_service.package_name' | translate }} *</label>
          <anms-error
            [showError]="hasError('packageName',addPeriodicServiceForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </span>
      </div>
      <div class="col-12 col-md-5 p-field form-section__field
        dropdown-select-input">
        <p-dropdown inputId="unit" [options]="units"
          optionLabel="name"></p-dropdown>
          <span class="p-float-label">
            <input formControlName="intervals" pInputText
              placeholder="{{ 'workshop.part_store.configuration.periodic_service.intervals' | translate }}"  type="text">
            <label>{{ 'workshop.part_store.configuration.periodic_service.intervals' | translate }}</label>
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-1">
        <!-- <span class='plus-icon'>
        <svg-icon src='../../../../../assets/icons/add.svg'
          [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height':
          '100%'}"></svg-icon>
      </span> -->
        <h3 class="form-section__title">{{ 'workshop.part_store.configuration.periodic_service.task' | translate }}</h3>
      </div>
      <div class="col-12 col-md-5 p-field form-section__field">

        <span class="p-float-label">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" required formControlName="task" pInputText
                placeholder="{{ 'workshop.part_store.configuration.periodic_service.task' | translate }}">
              <label>{{ 'workshop.part_store.configuration.periodic_service.task' | translate }} *</label>
            </span>
            <span class="p-inputgroup-addon addon-primary">
              <i class="pi pi-plus"></i>
            </span>
          </div>
        </span>
        <anms-error
            [showError]="hasError('task',addPeriodicServiceForm,submited)"
            error="forms.feedback.required">
          </anms-error>
      </div>
    </div>

  </div>
  
</form>
<div class="row">
  <div class='col-12'>
    <div class='component_wrapper'>
      <div class='d-flex'>
        <app-table [setting]="tableSetting"></app-table>
      </div>
    </div>
  </div>
</div>
