<div class="dashboard-container">
    <div class="row wrapper">
        <div class="category col-3">
            <div class="dashboard-card">
                <detail-card-dashboard [title]="'Business Category'"
                [subtitle]="'Number Of Asset In This Category'"
                [chartData]="bussinessCategoryChartData"></detail-card-dashboard>
            </div>
        </div>
        <div class="category col-3">
            <div class="dashboard-card">
                <detail-card-dashboard [title]="'Asset In Department'"
                [subtitle]="'Number Of Asset In This Category'"
                [chartData]="AssetDepartmentChartData"></detail-card-dashboard>
            </div>
        </div>
        <div class="category flex-column two-column col-3">
            <div class="dashboard-card  ">
                <detail-mini-card-dashboard></detail-mini-card-dashboard>
            </div>
            <div class="dashboard-card ">
                <detail-mini-card-dashboard></detail-mini-card-dashboard>
            </div>
            
        </div>
        <div class="category col-3">
            <div class="dashboard-card">
                <anms-workshop-job-type></anms-workshop-job-type>
            </div>
        </div>
    </div>
    <div class="row wrapper mt-4">
        <div class="category col-6">
            <div class="dashboard-card work-overview-card">
                <anms-operator-statistics></anms-operator-statistics>
            </div>
        </div>
        <div class="category col-3">
            <div class="dashboard-card work-overview-card">
                <anms-operator-congratulations></anms-operator-congratulations>
            </div>
        </div>
        <div class="category col-3">
            <div class="dashboard-card work-overview-card">
                <anms-operator-warning></anms-operator-warning>
            </div>
        </div>
    </div>
</div>