<div class="dashboard-container">
    <!-- <div class="flex-container">
        <div class="assets-status ">
            <div class="dashboard-card">
                <anms-assets-status></anms-assets-status>
            </div>
        </div>
        <div class="active-assets">
            <div class="dashboard-card">
                <anms-active-assets></anms-active-assets>
            </div>
        </div>
        <div class="suppliers">
            <div class="dashboard-card">
                <anms-suppliers></anms-suppliers>
            </div>
        </div>
        
    </div> -->
    <div class="row wrapper">
        <div class="category col-3">
            <div class="dashboard-card">
                <anms-business-category></anms-business-category>
            </div>
        </div>
        <div class="category col-3">
            <div class="dashboard-card">
                <anms-business-category></anms-business-category>
            </div>
        </div>
        <div class="category col-3">
            <div class="dashboard-card">
                <anms-business-category></anms-business-category>
            </div>
        </div>
        <div class="category col-3">
            <div class="dashboard-card">
                <anms-workshop-job-type></anms-workshop-job-type>
            </div>
        </div>
        
    </div>
</div>