:host ::ng-deep {
  h6.card-header {
    padding: 16px;
    border: none;
    font-size: 1.2em !important;
  }
  .p-4{
    padding:1.5em !important
  }
  .category {
    display: flex;
    padding-right: .6em;
    padding-left: .6em;
    &.two-column{
      justify-content: space-between;
      .dashboard-card{
        flex: 0 0 47%;
      }
    }
    h6.card-header {
      line-height: 1.1rem;
      height: 1.1rem;
      padding: 1.1rem 0 0 0;
    }
  }

  .suppliers-chart,
  .active-assets-chart {
    padding-bottom: 5px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .head {
    display: flex;
    .card-header,
    .right-button {
      flex: 0 0 50%;
    }
    .right-button {
      align-self: flex-end;
      align-self: center;
      button {
        border: none;
        border-radius: 4px;
        padding: 0.7em 1.1em;
      }
    }
  }
  .dashboard-table {
    table {
      width: 100%;
    }

    .p-datatable .p-datatable-tbody > tr > td {
      border: none;
    }
    .p-datatable .p-datatable-thead > tr > th {
      border-top-width: 1px !important;
    }
  }
}
.margin-top-2 {
  margin-top: 1em;
}
.dashboard-container {
  padding-bottom: 50px;
}
.title-smaller{
  font-size: .9em;
  &.primary-color{
    text-decoration: underline;
  }
}
.wrapper {

  .dashboard-card {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
  }
  .work-overview-card {
    height: 166px;
  }
  // .category {
  //   flex: 0 0 25%;
  //   justify-content: space-between;
  // }
}
.overflow-visible{
  overflow: visible !important;
}

@media screen and (max-width: 968px) {
  .dashboard-container {
    margin-right: 0;
  }
  .flex-container {
    display: block !important;

    & > * {
      margin-bottom: 16px;
    }
  }
}
