<div class="statistic-card">
  <app-filter [setting]='filterCard'></app-filter>
</div>

<div class="table-container component_wrapper">
  <div class="search-container card-table-header">
    <button class="btn-download text-center" disabled>
      <img src='assets/icons/filter.png' width='24'>
    </button>
    <div class="search-box">
      <input id="searchInput" type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
      <button>
        <img src="assets/icons/search-solid.svg" alt="">
      </button>
    </div>
    <button class="btn-download" disabled>
      <svg-icon [src]="downloadBtn"></svg-icon>
    </button>
  </div>
  <div class='table-wreapper'>
    <app-table [setting]="partListDetaisTable"></app-table>
  </div>
  <router-outlet></router-outlet>
</div>
