<!-- start table -->
<div>
  <ng-container *ngIf="selectedTab =='requestTab'">
    <div class="filter-container">
      <app-filter [setting]="filterSetting"></app-filter>
    </div>
  </ng-container>
  <div class="table-container component_wrapper">
    <div class="pt-1">
      <div>
        <app-tab-view (selectedIndex)="selectedTab=$event">
                    <span class="search-container card-table-header">
                        <div class="search-box">
                            <input id="searchInput" type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
                            <button>
                              <img [src]="searchIcon" alt="">
                            </button>
                        </div>
                        <button class="btn-download" (click)="exportTable()">
                            <svg-icon [src]="downloadBtn"></svg-icon>
                        </button>
                        <button *ngIf="selectedTab !='requestTab'" class="btn-primary-small" routerLink="add-temporary-request"><a>{{ 'search.request' | translate }}</a></button>
                    </span>
          <div title="tabs.movement_over_view" id="MovementOverViewTab"  [attr.count]="movementOverviewCount$ | async">
            <app-table searchInput="searchInput" (onPagination)="eventPagination_overview()" pagination="temporary_movement_overview" [setting]="movementOverViewTableSetting" [tableData]="movementOverview$"></app-table>
          </div>
          <div title="tabs.request" #requestTab id="requestTab"  [attr.count]="movementRequestCount$ | async">
            <app-table searchInput="searchInput" (onPagination)="eventPagination_request()" pagination="temporary_movement_request" [setting]="requestTableSetting" [tableData]="movementRequest$"
            ></app-table>
          </div>
        </app-tab-view>
      </div>
    </div>
  </div>
</div>
<!-- end table -->
<alert-dialog [settings]="dialogSuccessSetting" [displayModal]="displaySuccessModal" (confirm)="successConfirm($event)"></alert-dialog>
<alert-dialog [settings]="dialogErrorSetting" [displayModal]="displayErrorModal" (confirm)="dialogConfirm($event)"></alert-dialog>
