@import '../../../themes/green-theme';
$primary: map-get($anms-green-primary, 300);

.button {
  background: white;
  border: 2px solid #a09999;
  border-radius: 3px;
}

.search_container {
  border: solid #a09999;
}

.search_icon_background {
  background: #a09999;
}

.input_focus:focus {
  outline: 0;
}

.minus_margin {
  margin-left: -34rem;
}

.img {
  background: white;
  border: 2px solid #a09999;
  border-radius: 3px;
}

.add_button {
  background: #0da06e;
  border: 0;
  color: white;
}

.card-table-header {
  // direction: rtl;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.table-container {
  padding: 15px 15px 15px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #0000003d;
}

app-fuel-card-table,
app-asset-usage-table {
  font-family: '29LT Bukra';
  ::ng-deep {
    .font-weight-custom {
      font-weight: 600;
    }
  }
}

:host ::ng-deep{
  .fuel-card {
    app-table{
      p-table{
        tbody{
          tr{
            border: 1px solid #e9ecef;
            td{
              border:none;
              &:not(:first-child){
                
              }
            }
          }
        }
      }
    }
  }
}

