<div class="filter-container">
  <app-filter [setting]='filterSetting'></app-filter>
</div>

  <div class="table-container component_wrapper">
    <div class="pt-1">
      <app-tab-view (selectedIndex)="selectedTab=$event">
        <span class="search-container card-table-header">
          <div class="search-box">
              <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
              <button>
                <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
              </button>
          </div>
          <button class="btn-download">
              <svg-icon [src]="downloadBtn"></svg-icon>
          </button>
          <button *ngIf = "selectedTab != 'assetUsageTab'" class="btn-primary-small" (click)="addClicked($event)"><i>+</i><a>{{ 'search.add' | translate }}</a></button>
        </span>
        <div title="tabs.fuel_cards" class="fuel-card" id="fuelCardtab">
          <app-table [setting]="fuelCardsTableSetting"></app-table>
        </div>
        <div title="tabs.asset_usages" id="assetUsageTab">
          <app-table [setting]="assetUsageTableSetting"></app-table>
        </div>
      </app-tab-view>
    </div>
  </div>

