  <div class="component_wrapper table-container ">
    <div class="card-table-header">
      <button class="btn-download" (click)="showCustomFilter = !showCustomFilter">
        <svg-icon [src]="'assets/icons/setting.svg'"></svg-icon>
      </button>
      <div class="search-box">
        <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
        <button>
          <img src="assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" disabled>
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button  *hasPermission="['DROLE_ADD']" class="btn-primary-small" routerLink='/configuration/user-management/add-role-permission'><i>+</i><a>{{ 'search.add' | translate }}</a></button>
    </div>
    <div class="table-wreapper" *hasPermission="['DROLE_VIEW_LIST']">
      <app-table [showCustomFilter]="showCustomFilter" [filtersColumns]="filtersColumns" (customFilterEvent)="customFilterEvent($event)" searchInput="searchInput" (onPagination)="eventPagination()" pagination="rolePermission" [setting]='rolePermission_Table' [tableData]="data$"></app-table>
    </div>
  </div>
