<div class="box">
    <div class="box__header">
        <h3 class="box__header__title">Need To Check John
        </h3>
        <h5 class="box__header__sub-title">
            Month Fines Per Month
        </h5>
    </div>
    <div class="box__body row mt-3">
        <div class="col-8">
            <p class="mb-2">$48</p>
            <div>
                <button>View Operator Profile</button>
            </div>
        </div>
        <div class="col-4">
            <span>
                <svg-icon [src]="warningIcon" [svgStyle]="{ 'width.px':50 ,
                    'fill': 'rgba(0,0,0,64%)' , 'height': '100%'}"></svg-icon>
            </span>
        </div>
    </div>
</div>