<div class="filter-container">
  <div class="button-container" *ngIf="lengthObjectAssign() && loaded">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="closeForm()">{{ 'forms.cancel' | translate }}</button>
    <button class="btn-primary-medium add" (click)="assignToll();">{{ 'forms.assign' | translate }}</button>
  </div>
    <app-filter [setting]="filterSetting"></app-filter>
</div>
<div class="row" *ngIf="lengthObjectAssign() && loaded">
  <form class="col-12" [formGroup]="form">
    <div class="form-section">
      <h3 class="form-section__title">{{ 'toll.toll_info' | translate }}</h3>

      <div class="row form-section__row">

        <div class="col-12 col-md-4 p-field form-section__field">
                <span class="p-float-label">
                    <input formControlName="tag" pInputText placeholder="{{ 'toll.toll_tag' | translate }}"
                           type="text" readonly>
                    <label>{{ 'toll.toll_tag' | translate }}</label>
                </span>
          <anms-error
            [showError]="hasError('tollTag')"
            error="forms.feedback.required"></anms-error>
        </div>

        <div class="col-12 col-md-4 p-field form-section__field">
                <span class="p-float-label">
                    <input formControlName="purshateDate" pInputText placeholder="{{ 'toll.purchase_date' | translate }}"
                           type="text" readonly>
                    <label>{{ 'toll.purchase_date' | translate }}</label>
                </span>
        </div>

        <div class="col-12 col-md-4 p-field form-section__field">
          <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="assignTo"></p-autoComplete>
            <i class="pi pi-search" ></i>
            <label>{{ 'toll.assign_to' | translate }} *</label>
          </span>
            <anms-error
              [showError]="hasError('assetId')"
              error="forms.feedback.required"></anms-error>
          </div>
        </div>

      </div>

    </div>
  </form>
</div>
<div class="table-container">
    <div class="card-table">
        <div class="card-table-header">
            <div class="search-box">
                <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
                <button>
                    <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
                </button>
            </div>
            <button class="btn-download" disabled>
                <svg-icon [src]="downloadBtn"></svg-icon>
            </button>
            <button class="btn-primary-small d-none" routerLink="add-toll"><i>+</i><a>{{'forms.add' | translate}}</a></button>

        </div>
        <app-table [setting]="tableSetting"></app-table>
    </div>
</div>

