<div class="filter-container">
    <app-filter [setting]="filterSetting"></app-filter>
</div>
<div class="table-container">
    <div class="card-table">
        <div class="card-table-header">
            <div class="search-box">
                <input type="text" placeholder="Search in Columns">
                <button><fa-icon [icon]="faSearch" class="icon"></fa-icon></button>
            </div>
            <button class="btn-download"><a></a></button>
            <button class="btn-primary-green"><i>+</i><a>Add</a></button>
            
        </div>
        <app-table [setting]="tableSetting"></app-table>
    </div>
</div>

