@import '../../../../../assets/scss/form-section.scss';

:host ::ng-deep {
  .p-inputgroup-addon{
    max-height: 40px;
  }
  .ngx-file-drop__content{
    font-size: 1.3em;
  }
}

.employe-item,
.locations-item {
  display: flex;
  > div {
    margin: 0 5px;
  }
}
.flex-with-button {
    flex: 1 0 85%;
    overflow: visible;
}
