@import '../../../../../assets/scss/form-section.scss';
:host ::ng-deep{
  .pi.pi-search{
    top: 13px;
    opacity: .6;
  }
  
}
.component_wrapper {
  box-shadow: 0px 0px 2px #0000003D;
  border-radius: 4px;
  overflow: visible;
  .caption {
    font-weight: bold;
  }
  div [class^='col-'] {
    .form-control {
      //margin: 6px;
    }
  }
  .select-level {
    input[type='radio'] {
      display: none;
    }
    .flag {
      cursor: pointer;
      span {
        margin-left: 8px;
      }
    }
  }
  .upload-box {
    .file-name-size {
      color: #0000005e;
      font-size: 12px;
    }
    .space-drop {
      display: block;
      margin: 8px 0;
      border: 2px dashed #0000005e;
      text-align: center;
      padding: 30px 0;
      border-radius: 4px;
      cursor: pointer;
      div {
        color: #0000005e;
        font-size: 12px;
      }
    }
  }


  .add-section {
    border: 1px solid #009c62;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    margin: 0 5px;
  }
  .border-input-append {
    border: 1px solid #009c62;
  }
  .flex-with-button{
    flex:1 0 85%;
    overflow: visible;
  }
}
.overflow-visible{
  overflow: visible;
}
.location-item{
  display: flex;
  > div{
    margin: 0 5px;
  }
}


