<form  [formGroup]="inputForm" (ngSubmit)="addRequest()">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="cancelForm()">Cancel</button>
    <button class="btn-primary-medium add" type="submit">Add</button>
  </div>
  
  <div class="row">
  
    <div class="col-12">
      <div class="component_wrapper form-section">
        <label class="caption">Location Info</label>
        <div class="row mt-3">
          <div class="col-lg-4">
            <div class="form-group p-field form-section__field">
              <div class="input-group">
                  <div class="autocomplete-select flex-with-button">
                      <span class="p-float-label ">
                          <p-autoComplete 
                                    [suggestions]="filteredLocation" 
                                    formControlName="locationID" 
                                    (completeMethod)="searchLocation($event)" 
                                    field="id" 
                                    [class.invalid]="!inputForm.get('locationID').valid && submited">
                            <ng-template let-location pTemplate="item">
                              <div class="location-item">
                                <div>{{location.name}}</div>
                              </div>
                            </ng-template>
                          </p-autoComplete>
                          <i class="pi pi-search"></i>
                          <label>Location ID *</label>
                      </span>
                  </div>
                  <anms-error
                            [showError]="hasError('locationID',inputForm,submited ,'needsExclamation')"
                            error="Please search and choose an item from list"></anms-error>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="form-group p-field form-section__field">
              <div class="input-group">
                  <span class="p-float-label w-100">
                    <input type="text" class="form-control" placeholder="Address*" 
                          formControlName="address"
                          [class.invalid]="inputForm.get('address').invalid && submited">
                    <label>Address*</label>
                  </span>
              </div>              
                <anms-error
                        [showError]="hasError('address',inputForm,submited)"
                        error="Please fill Address"></anms-error>
            </div>

          </div>
        </div>
      </div>
    </div>
  
    <div class="col-12" formArrayName="section">
      <div class="component_wrapper form-section">
        <div class="row mt-3">
          <div class="col-lg-2">
            <span class="p-inputgroup-addon add-section" (click)="addSection()" [ngStyle]="{'cursor': 'pointer' , 'margin-bottom':' 20px'}"><i class="pi pi-plus"></i></span>
            Section
          </div>
          <div class="col-10">
            <ng-container  *ngFor="let skill of inputForm.get('section')['controls']; let i=index">
              <div class="row overflow-visible" >
                <div class="col-lg-5 ">
                  <div class="form-group form-group p-field form-section__field">
                    <div class="input-group">
                      <span class="p-float-label w-100">
                          <input type="text" class="form-control " 
                                  [formControlName]="i" 
                                  placeholder="Section ID *"
                                  [class.invalid]="!inputForm.get('section')['controls'][i].valid && submited">
                          <label>Section ID *</label>
                      </span>
                    </div>
                    <small class="red-font" [class.d-none]=" inputForm.get('section')['controls'][i].valid.valid || !submited">Please fill Location</small>
    
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <div class="input-group d-flex w-100  flex-wrap">
                     <div class="p-field form-section__field  flex-with-button w-100 flex-85">
                      <span class="p-float-label">
                        <input type="text" class="form-control border" placeholder="Service" 
                                [formControlName]="i" 
                                [class.invalid]="!inputForm.get('section').valid && submited">
                        <label>Service*</label>
                      </span>
                      <small class="red-font" [class.d-none]="inputForm.get('section')['controls'][i].valid || !submited">Please fill service</small>
                     </div>
                     <span class="p-inputgroup-addon" [ngStyle]="{'cursor': 'pointer' , 'margin-bottom':' 20px'}"><i class="pi pi-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-12">
    <div class="component_wrapper form-section">
      <div class="table-wreapper">
        <app-table [setting]='addLocation_Table'></app-table>
      </div>
    </div>
  </div>
</div>
