<!-- start main template -->
<div [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-sidenav-container>
    <div class="wrapper">
      <app-navbar [selectIsAuthenticated]="selectIsAuthenticated"
        [selectSettingsStickyHeader]="selectSettingsStickyHeader"
        [selectSettingsLanguage]="selectSettingsLanguage"
        [selectEffectiveTheme]="selectEffectiveTheme">
      </app-navbar>
      <app-sidebar-manu></app-sidebar-manu>

      <div class="content">
        <span class="path">
          <span *ngFor="let i=index;let part of breadcrumb">
            <span class="title" [routerLink]="[getPartLink(i)]">
              <ng-template #item>
                <span *ngIf="splitPart(part)[0] == 'item';else partt">{{ 'breadcrumb.item' | translate }} {{splitPart(part)[1]}}</span>
                <ng-template #partt>{{part}}</ng-template>
              </ng-template>
              <span *ngIf="!existUnderline(part);else item">{{part}}</span>
            </span>
            <i class="separator">
              {{ (path.length>i+1?'> ':'') }}
            </i>
          </span>
        </span>
        <span class="body">
          <router-outlet #o="outlet"></router-outlet>
        </span>
      </div>
    </div>
  </mat-sidenav-container>
</div>
<!-- end main template -->
