<!-- start table -->
<div>
    <div class="filter-container" *ngIf="selectedTab =='requestTab'">
        <app-filter [setting]="filterSetting"></app-filter>
    </div>
    <div class="table-container component_wrapper">
        <div class="pt-1">
            <div>
                <app-tab-view (selectedIndex)="selectedTab=$event">
                    <span class="search-container card-table-header">
                        <div class="search-box">
                            <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
                            <button>
                              <img [src]="searchIcon" alt="">
                            </button>
                        </div>
                        <button class="btn-download" disabled>
                            <svg-icon [src]="downloadBtn"></svg-icon>
                        </button>
                        <button *ngIf="selectedTab !='requestTab'" class="btn-primary-small" routerLink="add-request"><a>{{ 'search.request' | translate }}</a></button>
                    </span>
                    <div title="tabs.movement_over_view" id="MovementOverViewTab">
                        <app-table [setting]="movementOverViewTableSetting"></app-table>
                    </div>
                    <div title="tabs.request" #requestTab id="requestTab">
                        <app-table [setting]="requestTableSetting"></app-table>
                    </div>
                </app-tab-view>
            </div>
        </div>
    </div>
</div>
<!-- end table -->
