<form [formGroup]="assetPolicyForm">
    <div class="button-container">
        <button class="btn-primary-medium btn-scondary-green" type="button" (click)="goToList()">Cancel</button>
        <button  class="btn-primary-medium add" (click)="submit()">Add</button>
    </div>
    <!-- form-section form-section--inline-->
    <div class="form-section form-section--inline mt-3">
        <div class="row">

          <div class="col-12 col-md-6 mb-2 align-self-center">
            <div class="row">
              <div class="col-12 col-md-4">
                <h3 class="form-section__title m-0">This Policy Is For</h3>
              </div>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="form-check col-6">
                    <input class="form-check-input" formControlName="policyType" type="radio" name="policyType" id="asset" value ="asset">
                    <label class="form-check-label" for="asset">Asset</label>
                  </div>
                  <div class="form-check col-6">
                    <input class="form-check-input" formControlName="policyType" type="radio" name="policyType" id="subAsset" value ="subAsset">
                    <label class="form-check-label" for="subAsset">Sub Asset</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-12 col-md-6 p-field form-section__field">
                <span class="p-float-label">
                    <input formControlName="policyName" pInputText
                        placeholder="Policy Name *" required type="text">
                    <label>Policy Name *</label>
                    <anms-error
                        [showError]="hasError('policyName',assetPolicyForm,submited)"
                        error="fms.errors.required">
                    </anms-error>
                </span>
            </div>

        </div>
    </div>
    <!-- end form-section form-section--inline-->
    <!-- form-section -->
    <div class="form-section">
        <h3 class="form-section__title">Maximum Usage</h3>

        <div class="row form-section__row">
            <div class="col-12 col-md-3 p-field form-section__field">
                <span class="p-float-label">
                    <input formControlName="killometerUsage" pInputText
                        placeholder="killometer/Hour *" required type="text">
                    <label>killometer/Hour *</label>
                    <anms-error
                        [showError]="hasError('killometerUsage',assetPolicyForm,submited)"
                        error="fms.errors.required"></anms-error>
                </span>
            </div>
            <div class="col-12 col-md-1 p-field form-section__field
                text-center">
                Or
            </div>
            <div class="col-12 col-md-3 p-field form-section__field">
                <span class="p-float-label">
                    <input pInputText placeholder="Year" type="text">
                    <label>Year</label>
                </span>
            </div>
        </div>
        <div class="row form-section__row">
            <div class="col-12 col-md-5 p-field form-section__field">
              <div class="p-inputgroup">
                <span class="p-float-label">
                    <input formControlName="depreciationValue" pInputText
                           placeholder="% depreciation value *" required
                           type="text">
                    <label>% depreciation value *</label>
                    <anms-error
                      [showError]="hasError('depreciationValue',assetPolicyForm,submited)"
                      error="fms.errors.required"></anms-error>
                </span>
                <span class="p-inputgroup-addon">Yearly</span>
              </div>
            </div>

            <div class="col-12 col-md-3 form-section__field toggle-select">
                <p-inputSwitch formControlName="reminder"></p-inputSwitch>
                <span>Set Reminder Before</span>
            </div>
        </div>

    </div>
    <!-- end form-section -->
</form>

<div class="table-container">
    <div class="card-table">
        <app-table [setting]="assetPolicy_Table"></app-table>
    </div>
</div>
