
<form [formGroup]='form'>
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button"
      routerLink="..">{{ 'forms.cancel' | translate }}</button>
    <button class="btn-primary-medium add" (click)="submit()">{{ 'forms.add' |
      translate }}</button>
  </div>
  <div class="mt-2">
    <app-filter [setting]='filter'></app-filter>
  </div>
  <div class="form-section mt-3">
    <h3 class="form-section__title">{{ 'configuration.users.portal_information'
      | translate }}</h3>
    <div class="row form-section__row">
      <div class="col-12 col-md-3 p-field form-section__field">
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="employeeNumber"
              (completeMethod)="filterEmployees($event)"
              [suggestions]="employees" field="name"
              [minLength]="1"></p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'configuration.users.employee_number' | translate }} *</label>
          </span>
          <anms-error
            [showError]="hasError('employeeNumber',form,submitted)"
            error="forms.feedback.required">
          </anms-error>
        </div>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field">
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="departmentId"
              (completeMethod)="filterDepartments($event)"
              [suggestions]="departments" field="name"
              [minLength]="1"></p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'configuration.users.department' | translate }}</label>
          </span>
        </div>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field options-select">
        <span class="p-float-label">
          <p-dropdown inputId="role" [autoDisplayFirst]="false"
            [options]="roles"
            formControlName="roleId" optionLabel="name" optionValue="id"></p-dropdown>
          <label for="role">{{ 'configuration.users.role' | translate }}</label>
          <anms-error
            [showError]="hasError('roleId',form,submitted)"
            error="forms.feedback.required">
          </anms-error>
        </span>
      </div>
      <div class="col-12 col-md-3 form-section__field toggle-select">
        <p-inputSwitch formControlName="isActive"></p-inputSwitch>
        <span>{{ 'configuration.users.active_employee' | translate }}</span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-4 d-flex'>
      <div class="form-section w-100">
        <div>
          <p class='font-weight-bold'>{{ 'configuration.users.upload_form.title'
            | translate }}</p>
        </div>
        <div>
          <div class='d-flex justify-content-between'>
            <label class='progress_bar_label'>file.pdf</label>
            <label class='progress_bar_label'>00 MB</label>
          </div>
          <mat-progress-bar [value]="progressBarValue" mode="determinate"
            class="upload-progress"></mat-progress-bar>
        </div>
        <div class="mt-3">
          <ngx-file-drop dropZoneLabel="Drop files here"
            (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector">
              <label (click)="openFileSelector()" style="cursor: pointer;">
                <svg-icon class="camera-icon"
                  src='../../../../../../assets/icons/camera.svg'
                  [svgStyle]="{ 'width.px':24 , 'fill': '#707070' , 'height':
                  '100%'}"></svg-icon>
                <small class="drag-and-drop">{{
                  'configuration.users.upload_form.content' | translate }}</small>
              </label>
            </ng-template>
          </ngx-file-drop>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="form-section">
        <h3 class="form-section__title">{{
          'configuration.users.personal_information' | translate }}</h3>
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="p-field form-section__field">
              <span class="p-float-label">
                <input pInputText placeholder="{{
                  'configuration.users.first_name' | translate }}" type="text"
                  formControlName="firstName">
                <label>{{ 'configuration.users.first_name' | translate }}</label>
              </span>
              <anms-error
                [showError]="hasError('firstName',form,submitted)"
                error="forms.feedback.required"></anms-error>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="p-field form-section__field">
              <span class="p-float-label">
                <input pInputText placeholder="{{
                  'configuration.users.last_name' | translate }}" type="text"
                  formControlName="lastName">
                <label>{{ 'configuration.users.last_name' | translate }}</label>
              </span>
              <anms-error
                [showError]="hasError('lastName',form,submitted)"
                error="forms.feedback.required"></anms-error>
            </div>
          </div>
        </div>
       
        <div class="row form-section__row">
          <div class="col-12 col-md-6 p-field form-section__field"
            formArrayName="emails">
            <div class="mt-2" [formGroupName]="i" *ngFor="let
              item of form.get('emails')['controls']; let i=
              index;">

              <span class="p-float-label">
                <div class="p-inputgroup">
                  <span class="p-float-label">
                    <input type="text" formControlName="name" pInputText
                      placeholder="Email *">
                    <label>{{ 'configuration.users.email' | translate }} *</label>
                  </span>
                  <span class="p-inputgroup-addon addon-primary">
                    <i (click)="addEmail()" class="pi pi-plus"></i>
                  </span>
                </div>
              </span>
              <!-- <anms-error
                  [showError]="hasError('emails',form.get(i),submitted)"
                  error="forms.feedback.required">
                </anms-error>
                <anms-error
                  [showError]="hasError('emails',i,submitted,'email')"
                  error="forms.feedback.invalid-email">
                </anms-error> -->
            </div>
          </div>
          <div class="col-12 col-md-6 p-field form-section__field"
            formArrayName="phoneNumbers">
            <div class="mt-2" [formGroupName]="i" *ngFor="let
              item of form.get('phoneNumbers')['controls']; let i=
              index;">
              <span class="p-float-label">
                <div class="p-inputgroup">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="name"
                      placeholder="Phone Number *">
                    <label>{{ 'configuration.users.phone_number' | translate }}
                      *</label>
                  </span>
                  <span class="p-inputgroup-addon addon-primary">
                    <i (click)="addPhoneNumber()" class="pi pi-plus"></i>
                  </span>
                </div>
              </span>
              <!-- <anms-error
                  [showError]="hasError('phoneNumbers',form.get(i),submitted)"
                  error="forms.feedback.required">
                </anms-error> -->
            </div>

          </div>
        </div>

        <div class="row form-section__row">
          <div class="col-12 col-md-4">
            <h3 class="form-section__title mt-2">{{
              'configuration.users.send_notification_by' | translate }}</h3>
          </div>
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12 col-md-12 row">
                <div class="form-group form-check col-3">
                  <input id="callCheckbox" type="checkbox" value="call"
                    class="custom-checkbox" name="sendNotification"
                    formControlName="notifyByCall">
                  <label for="callCheckbox">{{ 'configuration.users.call' |
                    translate }}</label>
                </div>
                <div class="form-group form-check col-3">
                  <input id="smsCheckbox" type="checkbox" value="sms"
                    class="custom-checkbox" name="sendNotification"
                    formControlName="notifyBySMS">
                  <label for="smsCheckbox">{{ 'configuration.users.sms' |
                    translate }}</label>
                </div>
                <div class="form-group form-check col-3">
                  <input id="emailCheckbox" type="checkbox" value="email"
                    class="custom-checkbox" name="sendNotification"
                    formControlName="notifyByEmail">
                  <label for="emailCheckbox">{{ 'configuration.users.email' |
                    translate }}</label>
                </div>
                <div class="form-group form-check col-3">
                  <input id="whatsappCheckbox" type="checkbox" value="whatsapp"
                    class="custom-checkbox" name="sendNotification"
                    formControlName="notifyByWhatsApp">
                  <label for="whatsappCheckbox">{{
                    'configuration.users.whatsapp' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
