<div>
  <form [formGroup]='form'>
    <div class="button-container">
      <button class="btn-primary-medium btn-scondary-green" type="button" routerLink="..">Cancel</button>
      <button class="btn-primary-medium add">Add</button>
    </div>
    <div class="mt-2">
      <app-filter [setting]='filter'></app-filter>
    </div>
    <div class="form-section mt-3" formGroupName="portalInformation">
      <h3 class="form-section__title">Portal Information</h3>
      <div class="row form-section__row">
        <div class="col-12 col-md-3 p-field form-section__field">
          <div class="autocomplete-select">
            <span class="p-float-label">
              <p-autoComplete formControlName="employeeNumber"
                (completeMethod)="filterEmployees($event)"
                [suggestions]="employees" field="name"
                [minLength]="1"></p-autoComplete>
              <i class="pi pi-search"></i>
              <label>Employee Number *</label>
            </span>
            <anms-error
              [showError]="hasError('employeeNumber',form.get('portalInformation'),submited)"
              error="fms.errors.required">
            </anms-error>
          </div>
        </div>
        <div class="col-12 col-md-3 p-field form-section__field">
          <div class="autocomplete-select">
            <span class="p-float-label">
              <p-autoComplete formControlName="department"
                (completeMethod)="filterDepartments($event)"
                [suggestions]="departments" field="name"
                [minLength]="1"></p-autoComplete>
              <i class="pi pi-search"></i>
              <label>Department</label>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3 p-field form-section__field options-select">
          <span class="p-float-label">
            <p-dropdown inputId="role" [autoDisplayFirst]="false"
              [options]="roles"
              formControlName="role" optionLabel="name"></p-dropdown>
            <label for="role">Role</label>
            <anms-error
              [showError]="hasError('role',form.get('portalInformation'),submited)"
              error="fms.errors.required">
            </anms-error>
          </span>
        </div>
        <div class="col-12 col-md-3 form-section__field toggle-select">
          <p-inputSwitch formControlName="activeEmployee"></p-inputSwitch>
          <span>Active Employee</span>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-4 form-section ml-4' formGroupName='fileUpload'>
        <div>
          <div>
            <p class='font-weight-bold'>Upload Profile Picture</p>
          </div>
          <div>
            <div class='d-flex justify-content-between'>
              <label class='progress_bar_label'>file.pdf</label>
              <label class='progress_bar_label'>00 MB</label>
            </div>
            <mat-progress-bar mode='determinate' value='40'></mat-progress-bar>
          </div>
          <div class='d-flex p-5 mt-2 drop_file_box mb-3'
            (click)='fileUpload.click()'>
            <input [hidden]='true' type='file' #fileUpload id='fileUpload'
              name='fileUpload' />
            <img src='../../../../../../assets/icons/camera.svg' alt='camera'
              width='25'>
            <p class='m-0 ml-2 progress_bar_label'>Drag and Drop Picture here</p>
          </div>
        </div>
      </div>

      <div class="form-section ml-4 col-7" formGroupName="personalInformation">
        <h3 class="form-section__title">Personal Information</h3>

        <div class="row form-section__row">
          <div class="col-12 col-md-5 p-field form-section__field">
            <span class="p-float-label">
              <input formControlName="firstName" pInputText
                placeholder="FirstName *" type="text">
              <label>FirstName *</label>
              <anms-error
                [showError]="hasError('firstName',form.get('personalInformation'),submited)"
                error="fms.errors.required"></anms-error>
            </span>
          </div>
          <div class="col-12 col-md-7 p-field form-section__field">
            <span class="p-float-label">
              <input formControlName="lastName" pInputText
                placeholder="LastName *" type="text">
              <label>LastName *</label>
              <anms-error
                [showError]="hasError('lastName',form.get('personalInformation'),submited)"
                error="fms.errors.required"></anms-error>
            </span>
          </div>
        </div>
        <div class="row form-section__row">
          <div class="col-12 col-md-6 p-field form-section__field">
            <span class="p-float-label">
              <div class="p-inputgroup">
                <span class="p-float-label">
                  <input type="text" formControlName="email" pInputText
                    placeholder="Email *">
                  <label>Email *</label>
                </span>
                <span class="p-inputgroup-addon addon-primary">
                  <i class="pi pi-plus"></i>
                </span>
              </div>
            </span>
            <anms-error
              [showError]="hasError('email',form.get('personalInformation'),submited)"
              error="fms.errors.required">
            </anms-error>
            <anms-error
              [showError]="hasError('email',form.get('personalInformation'),submited,'email')"
              error="fms.errors.email">
            </anms-error>
          </div>
          <div class="col-12 col-md-6 p-field form-section__field">
            <span class="p-float-label">
              <div class="p-inputgroup">
                <span class="p-float-label">
                  <input type="text" formControlName="phoneNumber" pInputText
                    placeholder="Phone Number *">
                  <label>Phone Number *</label>
                </span>
                <span class="p-inputgroup-addon addon-primary">
                  <i class="pi pi-plus"></i>
                </span>
              </div>
            </span>
            <anms-error
              [showError]="hasError('phoneNumber',form.get('personalInformation'),submited)"
              error="fms.errors.required">
            </anms-error>

          </div>
        </div>

        <div class="row form-section__row">
        <div class="col-12 col-md-4">
                <h3 class="form-section__title mt-2">Send Notification By</h3>
            </div>
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12 col-md-12 p-field form-section__field
                checkbox-select">
                <p-checkbox name="sendNotification"
                  formControlName="callCheckbox"
                  value="call" label="Call"></p-checkbox>
                <p-checkbox name="sendNotification"
                  formControlName="smsCheckbox"
                  value="sms" label="SMS"></p-checkbox>
                <p-checkbox name="sendNotification"
                  formControlName="emailCheckbox"
                  value="email" label="Email"></p-checkbox>
                <p-checkbox name="sendNotification"
                  formControlName="whatsappCheckbox"
                  value="whatsapp" label="Whatsapp"></p-checkbox>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </form>
</div>
