<div class="row">
  <div class="col">
    <div class="upload-box">
      <div class="row">
        <ng-container>
          <div class="col-12 d-flex justify-content-between file-name-size text-center">
            <div  class="text-center" style="font-size: 1.3em">
              <span *ngIf="progressBarValue > 0">{{ filesSize / 1024 | number }} MG</span>
              <p *ngIf="filesUploadSuccess > 0 && progressBarValue > 0"><span style="color: green">{{ filesUploadSuccess }}</span> upload successfully</p>
              <p *ngIf="filesUploadError > 0 && progressBarValue == 0"><span style="color: red">Error while uploading the file</span></p>
            </div>
          </div>
          <div class="col-lg-12 mb-1"  *ngIf="progressBarValue > 0">
            <div class="w-100 p-0">
              <mat-progress-bar [value]="progressBarValue" mode="determinate" class="upload-progress"></mat-progress-bar>
            </div>
          </div>
        </ng-container>
        <div class="col-lg-12" *ngIf="(multiple) || (!multiple && filterFilesOfNull().length == 0)">
          <ngx-file-drop dropZoneClassName='file-drop' *ngIf="!isUploading && isSmall" [multiple]="multiple" [accept]="accept.toString()"
                         (onFileDrop)="dropped($event , uploaderName)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <label (click)="openFileSelector()" style="cursor: pointer;">

                <svg-icon *ngIf="!iconIsHidden"  class="drop-icon" src="assets/icons/cloud-computing.svg"
                           [svgStyle]="{ 'width.px':'24' , 'fill': '#707070' , 'height': '100%'}"></svg-icon>
                <small  class="drag-and-drop">{{ dropzoneLabel | translate }}</small>
              </label>
            </ng-template>
          </ngx-file-drop>
          <ngx-file-drop *ngIf="!isUploading && !isSmall" [multiple]="multiple" [accept]="accept.toString()" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event , uploaderName)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <label (click)="openFileSelector()" style="cursor: pointer;">

                <svg-icon *ngIf="!iconIsHidden"  class="drop-icon" src="assets/icons/cloud-computing.svg"
                           [svgStyle]="{ 'width.px':'24' , 'fill': '#707070' , 'height': '100%'}"></svg-icon>
                <small  class="drag-and-drop">{{ 'assets.upload_form.content' | translate }}</small>
              </label>
            </ng-template>
          </ngx-file-drop>
          <anms-error
            *ngIf="hasError"
            [showError]="filterFilesOfNull().length == 0"
            error="forms.feedback.required">
          </anms-error>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container>
  <div class="col-12 d-flex flex-md-column-reverse" >
    <div class="row">
      <div *ngFor="let file of files; let index=index;" class="col-auto mb-2  align-self-end">
        <ng-template [ngIf]="filterFilesOfNull().length">
          <div  [class.preview]="preview" class="upload-file-item" [class.is-image]="preview" [class.is-text]="!preview">
            <a [href]="fileImage" download><p>File Name</p></a>
            <span (click)="removeFile(index)">
            <svg-icon class="date-icon" [src]="closeIcon" [svgStyle]="{ 'width.px':'12' , 'fill': 'rgba(0, 0, 0, 0.87)' ,'height': '100%'}"></svg-icon>
          </span>
            <div class="my-2" *ngIf="preview">
              <a [href]="fileImage" download>
                <img [src]="isImage ? fileImage : fileIcon">
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>


<alert-dialog [settings]="dialogSettingError" [displayModal]="dialogModalError" (confirm)="dialogErrorConfirm($event)"></alert-dialog>
