.upload-box {
  .file-name-size {
    font-size: 12px;
  }

  .space-drop {
    display: block;
    border: 2px dashed #0000005e;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    div {
      font-size: 12px;
    }
  }
}
ngx-file-drop {
  display: block;
  margin-bottom: 10px;
}
.drag-and-drop-form {
  ngx-file-drop {
    ::ng-deep {
      .ngx-file-drop__drop-zone {
        height: 40px;
      }
    }
  }
}

.upload-file-item {
  height: 40px;
  border-radius: 3px;

  p {
    margin: 0;
  }
}
.is-image{
  height: auto;
}
p-dialog{
  ::ng-deep{
    .p-dialog{
      width: 50vw;
      .p-dialog-header{
        padding: 1em;
        justify-content: flex-end;
      }
      .p-dialog-content{
        justify-content: center;
        display: flex;
        img{
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }
}
