@import '../../../../../themes/green-theme.scss';
@import '../../../../../assets/scss/form-section.scss';
.section-button{
  border:1px solid;
  border-radius: 3px !important;
}

.row {
  margin-top: 10px !important;
  .form-section:first-child {
    margin-top: 0 !important;
  }
}
.flex-with-button {
  flex: 1 0 85%;
  overflow: visible;
}
.plus-icon , .addon-primary{
  cursor:pointer;
}