<form [formGroup]="organizationForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" routerLink="..">{{ 'forms.cancel' | translate}}</button>
    <button class="btn-primary-medium add" type="submit" (click)="submit()">{{ 'forms.add' | translate}}</button>
  </div>
  <div class="form-section">
    <h3 class="form-section__title">{{ 'organization.department_info' | translate}}</h3>
    <div class="row form-section__row">
      <div class="col-12 col-md-6 p-field form-section__field">
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="departmentId"
              (completeMethod)="filterDepartments($event)"
              [suggestions]="departments" field="name"
              [minLength]="1"></p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'organization.department_id' | translate}} *</label>
          </span>
          <anms-error
            [showError]="hasError('departmentId',organizationForm,submited)"
            error="forms.feedback.required"></anms-error>
        </div>
      </div>
      <div class="col-12 col-md-6 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="departmentName" pInputText
            placeholder="{{ 'organization.department_name' | translate}}" required type="text">
          <label>{{ 'organization.department_name' | translate}} *</label>
          <anms-error
            [showError]="hasError('departmentName',organizationForm,submited)"
            error="forms.feedback.required"></anms-error>
        </span>
      </div>
    </div>


  </div>
  <div class="form-section">
    <h3 class="form-section__title"><span class='plus-icon'>
      <svg-icon src='../../../../../assets/icons/add.svg'
        [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height':
        '100%'}"></svg-icon>
    </span>Tag</h3>
    <div class="row form-section__row">
      <div class="col-12 col-md-5 p-field form-section__field">

        <span class="p-float-label">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text"  formControlName="tag" pInputText
                placeholder="{{'organization.tag' | translate}}">
              <label>{{ 'organization.tag' | translate}} *</label>
            </span>
            <span class="p-inputgroup-addon addon-primary">
              <i class="pi pi-plus"></i>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="form-section">
    <h3 class="form-section__title">{{ 'organization.section_department' | translate}}</h3>
    <div class="row form-section__row">
      <div class="col-12 col-md-4 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="sectionName" pInputText
            placeholder="{{ 'organization.section_name' | translate}}" required type="text">
          <label>{{ 'organization.section_name' | translate}} *</label>
          <anms-error
            [showError]="hasError('sectionName',organizationForm,submited)"
            error="forms.feedback.required"></anms-error>
        </span>
      </div>
      <div class="col-12 col-md-4 p-field form-section__field">
        <span class="p-float-label">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text"  formControlName="location" pInputText
                placeholder="{{ 'organization.location' | translate}}">
              <label>{{ 'organization.location' | translate}} *</label>
            </span>
            <span class="p-inputgroup-addon addon-primary">
              <i class="pi pi-plus"></i>
            </span>
          </div>
        </span>
        <anms-error
        [showError]="hasError('location',organizationForm,submited)"
        error="forms.feedback.required"></anms-error>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class='col-12'>
    <div class="table-container p-0">
      <app-table [setting]='organization_Table'></app-table>
    </div>
  </div>
</div>