<form>
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" routerLink="..">Cancel</button>
    <button class="btn-primary-medium add" type="submit" >Add</button>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='component_wrapper'>
        <label class='caption'>Department Info</label>
        <div class='row'>
  
          <div class='col-lg-6'>
            <div class='form-group'>
              <div class='input-group'>
                <input type='text' class='form-control border-right-0 border' placeholder='Department Id *'>
                <div class='input-group-append'>
                  <div class='input-group-text bg-transparent'>
                    <svg-icon src='../../../../../assets/icons/search.svg'
                              [svgStyle]="{ 'width.px':20 , 'fill': 'rgb(161 161 161)' , 'height': '100%'}"></svg-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-lg-6'>
            <div class='form-group'>
              <input type='text' class='form-control border-right-0 border' placeholder='Department Name *'>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='component_wrapper'>
        <label class='caption'>Tag</label>
        <div class='row'>
  
          <div class='col-lg-4 form-group'>
            <div class='input-group'>
              <input type='text' class='form-control border-right-0 border' placeholder='Tag'>
              <div class='input-group-append m-0'>
                <div class='input-group-text bg-transparent border-input-append'>
                  <svg-icon src='../../../../../assets/icons/add.svg'
                            [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='component_wrapper'>
        <label class='caption'>
          <span class='plus-icon'>
                  <svg-icon src='../../../../../assets/icons/add.svg'
                            [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
          </span>
          Section / Department
        </label>
        <div class='row'>
  
          <div class='col-lg-3'>
            <div class='form-group'>
              <input type='text' class='form-control' placeholder='Section Name *'>
            </div>
          </div>
          <div class='col-lg-4 form-group'>
            <div class='input-group'>
              <input type='text' class='form-control border-right-0 border' placeholder='Location *'>
              <div class='input-group-append m-0'>
                <div class='input-group-text bg-transparent border-input-append'>
                  <svg-icon src='../../../../../assets/icons/add.svg'
                            [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
          <div class='col-auto tags'>
            <span class='tag'>
              No 1, Street 2, Dubai
              <button type='button' class='border-0'>
                <span aria-hidden='true'>&times;</span>
              </button>
            </span>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class='col-12'>
    <div class="component_wrapper">
      <app-table [setting]='organization_Table'></app-table>
    </div>
  </div>
</div>