<div class="table-container component-wrapper">
  <div class="card-table-header">

    <ng-container *ngIf="!addtype; else addIntegration">
      <div class="search-box">
        <input type="text" placeholder="Search in Columns">
        <button>
          <img src="../../../assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" disabled>
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button class="btn-primary-small"  (click)="add()"><i>+</i><a>Add</a></button>
    </ng-container>
    <ng-template #addIntegration>
      <add-integration class="w-100"></add-integration>
    </ng-template>

  </div>
  <div class="table_wrapper">
    <app-table [setting]="tableSettings"></app-table>
  </div>
</div>
