<form [formGroup]="inputForm" (ngSubmit)="addRequest()">
  <div class="form-buttons">
    <button class="cancel" type="button" (click)="cancelForm()">Cancel</button>
    <button class="add" type="submit">Add</button>
  </div>
  <div class="row">
    <div class="col-12" [formGroupName]="'portalInfo'">
      <div class="component_wrapper">
        <label class="caption">Portal Info</label>
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group p-field form-section__field">
              <div class="input-group">
                  <div class="autocomplete-select flex-with-button">
                      <span class="p-float-label ">
                          <p-autoComplete 
                                    [suggestions]="filteredEmployeNumb" 
                                    formControlName="emplyeeNumber" 
                                    (completeMethod)="searchEmploye($event)" 
                                    field="employeNumber" 
                                    (onSelect)="selectedEmploye($event)"
                                    [class.invalid]="!inputForm.get('portalInfo.emplyeeNumber').valid && submited">
                            <ng-template let-employes pTemplate="item">
                              <div class="employe-item">
                                <div>{{employes.employeNumber}}</div>
                                <div>{{employes.fName}}</div>
                                <div>{{employes.lName}}</div>
                              </div>
                            </ng-template>
                          </p-autoComplete>
                          <i class="pi pi-search"></i>
                          <label [class.red-font]=" inputForm.get('portalInfo.emplyeeNumber').invalid && submited">Employe Number *</label>
                      </span>
                  </div>
                  <anms-error
                            [showError]="hasError('portalInfo.emplyeeNumber',inputForm,submited ,'needsExclamation')"
                            error="Please search and choose an item from list"></anms-error>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group p-field form-section__field">
              <div class="input-group">
                  <span class="p-float-label w-100">
                    <input type="text" class="form-control" placeholder="Pay per Hours *" 
                          formControlName="payPerHours"
                          [class.invalid]="!inputForm.get('portalInfo.payPerHours').valid && submited">
                    <label [class.red-font]=" inputForm.get('portalInfo.payPerHours').invalid && submited">Pay per Hours *</label>
                  </span>
              </div>              
              <anms-error
                      [showError]="hasError('portalInfo.payPerHours',inputForm,submited)"
                      error="Please fill Pay per Hours"></anms-error>
          </div>
          </div>
          <div class="col-lg-3">
            <div class="row form-group">
              <div class="custom-control custom-switch col-lg-12">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="active">
                <label class="custom-control-label" for="customSwitch1"></label>
                <label class="custum-text" for="customSwitch1">Employee Status is Active</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" [formGroupName]="'professional'">
      <div class="component_wrapper">
        <label class="caption">Professional Info</label>
        <div class="row">
          <div class="col-lg-5 form-group">
            <div class="input-group d-flex w-100  flex-wrap" formArrayName="skills">
              <div class="p-field form-section__field  flex-with-button w-100 flex-85" *ngFor="let skill of inputForm.get('professional.skills')['controls']; let i=index">
                <span class="p-float-label">
                  <input type="text" class="form-control border" 
                          placeholder="Skill *" 
                          [formControlName]="i" 
                          [class.invalid]="!inputForm.get('professional.skills').valid && submited">
                  <label [class.red-font]="!inputForm.get('professional.skills')['controls'][i].valid && submited">Skill *</label>
                </span>
                <small class="error-input" [class.d-none]=" inputForm.get('professional.skills')['controls'][i].valid || !submited">Please fill Location</small>

              </div>
              <div class="input-group-append m-0"  (click)="addSkill()" [ngStyle]="{'cursor': 'pointer' , 'height':'40px'}">
                <div class="input-group-text bg-transparent border-input-append">
                  <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 form-group">
            <div class="input-group flex-wrap" formArrayName="location">
              <div class="p-field form-section__field  flex-with-button w-100 flex-85 " *ngFor="let location of inputForm.get('professional.location')['controls']; let i=index">
                <div class="autocomplete-select" >
                  <span class="p-float-label ">
                      <p-autoComplete [suggestions]="filteredLocation" 
                                      [formControlName]="i" 
                                      (completeMethod)="searchLocation($event)" 
                                      field="name" 
                                      [class.invalid]="!inputForm.get('professional.location')['controls'][i].valid && submited">
                        <ng-template let-locations pTemplate="item">
                          <div class="locations-item">
                            <div>{{locations.name}}</div>
                            <div>{{locations.city}}</div>
                            <div>{{locations.address}}</div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                      <i class="pi pi-search"></i>
                      <label [class.red-font]="!inputForm.get('professional.location')['controls'][i].valid && submited" >Location *</label>
                  </span>
                  <small class="error-input" [class.d-none]=" inputForm.get('professional.location')['controls'][i].valid || !submited">Please fill Location</small>
                </div>
              </div>
              <div class="input-group-append m-0" (click)="addLocation()">
                <div class="input-group-text bg-transparent border-input-append" [ngStyle]="{'cursor': 'pointer' , 'height':'40px'}">
                  <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="component_wrapper">
        <label class="caption">Upload Profile Picture</label>
        <div class="upload-box">
          <div class="row">
            <div class="col-12 d-flex justify-content-between file-name-size">
              <span>Nte1234567_Report.pdf</span>
              <span>00 MG</span>
            </div>
            <div class="col-lg-12">
              <anms-progress-bar  color="#0000005E" maxValue="100" value="25"></anms-progress-bar>
            </div>
            <div class="col-lg-12">
              <label class="space-drop" for="attach_picture">
                <svg-icon src="../../../../../assets/icons/camera-solid.svg" [svgStyle]="{ 'width.px':24 , 'fill': '#707070' , 'height': '100%'}"></svg-icon>
                <div>Drag and Drop Picture here</div>
              </label>
              <input type="file" hidden id="attach_picture">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8"  [formGroupName]="'pesonalInfo'">
      <div class="component_wrapper">
        <label class="caption">Personal Information</label>
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group form-group p-field form-section__field">
              <div class="input-group">
                <span class="p-float-label w-100">
                    <input type="text" class="form-control " 
                            formControlName="firstName" 
                            placeholder="First Name *"
                            [class.invalid]="!inputForm.get('pesonalInfo.firstName').valid && submited">
                    <label [class.red-font]="!inputForm.get('pesonalInfo.firstName').valid && submited">First Name *</label>
                </span>
              </div>
              <anms-error
                      [showError]="hasError('pesonalInfo.firstName',inputForm,submited)"
                      error="Please fill first name"></anms-error>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-group form-group p-field form-section__field">
              <div class="input-group">
                <span class="p-float-label w-100">
                    <input type="text" class="form-control " 
                          formControlName="lastName" 
                          placeholder="Last Name *"
                          [class.invalid]="!inputForm.get('pesonalInfo.lastName').valid && submited">
                    <label [class.red-font]="!inputForm.get('pesonalInfo.lastName').valid && submited">Last Name *</label>
                </span>
              </div>
              <anms-error
                      [showError]="hasError('pesonalInfo.lastName',inputForm,submited)"
                      error="Please fill last name"></anms-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 form-group ">
            <div class="input-group d-flex w-100 flex-wrap" formArrayName="email">
              <div class="p-field form-section__field flex-with-button w-100 flex-85" *ngFor="let email of inputForm.get('pesonalInfo.email')['controls']; let i=index">
                <span class="p-float-label" >
                  <input type="text" class="form-control border" placeholder="Email *" 
                          [formControlName]="i"
                          [class.invalid]="!inputForm.get('pesonalInfo.email')['controls'][i].valid && submited">
                  <label [class.red-font]="!inputForm.get('pesonalInfo.email')['controls'][i].valid && submited" >Email *</label>
                </span>
                <small class="error-input" [class.d-none]=" inputForm.get('pesonalInfo.email')['controls'][i].valid || !submited">Please fill email</small>
              </div>
              <div class="input-group-append m-0" (click)="addEmail()">
                <div class="input-group-text bg-transparent border-input-append" [ngStyle]="{'cursor': 'pointer' , 'height':'40px'}">
                  <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 form-group ">
            <div class="input-group d-flex w-100  flex-wrap" formArrayName="phoneNumber">
              <div class="p-field form-section__field flex-with-button w-100 flex-85" *ngFor="let number of inputForm.get('pesonalInfo.phoneNumber')['controls']; let i=index">
                <span class="p-float-label" >
                  <input type="text" class="form-control border" placeholder="Phone Number *" 
                        [formControlName]="i"
                        [class.invalid]="!inputForm.get('pesonalInfo.phoneNumber')['controls'][i].valid && submited">
                  <label [class.red-font]="!inputForm.get('pesonalInfo.phoneNumber')['controls'][i].valid && submited">Phone Number *</label>
                </span>
                <small class="error-input" [class.d-none]=" inputForm.get('pesonalInfo.phoneNumber')['controls'][i].valid || !submited">Please fill phone number</small>

              </div>
              <div class="input-group-append m-0" (click)="addPhoneNumber()">
                <div class="input-group-text bg-transparent border-input-append"  [ngStyle]="{'cursor': 'pointer' , 'height':'40px'}">
                  <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"  [formGroupName]="'notification'">
          <div class="col-lg-3">
            <div class="caption">Send Notification By</div>
          </div>
          <div class="col-lg-2 form-group">
            <input id="check-Call" type="checkbox" class="custom-checkbox" formControlName="call">
            <label for="check-Call">Call</label>
          </div>
          <div class="col-lg-2 form-group">
            <input id="check-SMS" type="checkbox" class="custom-checkbox" formControlName="sms">
            <label for="check-SMS">SMS</label>
          </div>
          <div class="col-lg-2 form-group">
            <input id="check-Email" type="checkbox" class="custom-checkbox" formControlName="email">
            <label for="check-Email">Email</label>
          </div>
          <div class="col-lg-2 form-group">
            <input id="check-Whatsapp" type="checkbox" class="custom-checkbox" formControlName="whatsapp">
            <label for="check-Whatsapp">Whatsapp</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-12">
    <div class="component_wrapper">
      <div class="table-wreapper">
        <app-table [setting]='addTechnician_Table'></app-table>
      </div>
    </div>
  </div>
</div>
