<form [formGroup]="inputForm" (ngSubmit)="addRequest()">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="cancelForm()">Cancel</button>
    <button class="btn-primary-medium add" type="submit">Add</button>
  </div>
  <div class="row">
    <div class="col-12" [formGroupName]="'portalInfo'">
      <div class="component_wrapper form-section">
        <h3 class="form-section__title">Portal Info</h3>
        <div class="row pb-4">
          <div class="col-lg-5">
            <div class="m-0 p-field form-section__field">
              <div class="input-group">
                  <div class="autocomplete-select w-100 ">
                      <span class="p-float-label ">
                          <p-autoComplete 
                                    [suggestions]="filteredEmployeNumb" 
                                    formControlName="emplyeeNumber" 
                                    (completeMethod)="searchEmploye($event)" 
                                    field="employeNumber" 
                                    (onSelect)="selectedEmploye($event)"
                                    [class.invalid]="!inputForm.get('portalInfo.emplyeeNumber').valid && submited">
                            <ng-template let-employes pTemplate="item">
                              <div class="employe-item">
                                <div>{{employes.employeNumber}}</div>
                                <div>{{employes.fName}}</div>
                                <div>{{employes.lName}}</div>
                              </div>
                            </ng-template>
                          </p-autoComplete>
                          <i class="pi pi-search"></i>
                          <label >Employe Number *</label>
                      </span>
                  </div>
                  <anms-error
                            [showError]="hasError('portalInfo.emplyeeNumber',inputForm,submited ,'needsExclamation')"
                            error="Please search and choose an item from list"></anms-error>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="m-0 p-field form-section__field">
              <div class="input-group">
                  <span class="p-float-label w-100">
                    <input type="text" class="form-control" placeholder="Pay per Hours *" 
                          formControlName="payPerHours"
                          [class.invalid]="!inputForm.get('portalInfo.payPerHours').valid && submited">
                    <label>Pay per Hours *</label>
                  </span>
              </div>              
              <anms-error
                      [showError]="hasError('portalInfo.payPerHours',inputForm,submited)"
                      error="Please fill Pay per Hours"></anms-error>
          </div>
          </div>
          <div class="col-lg-3 align-self-center">
            <div class="row">
              <div class="col-lg-12">
                <div class="toggle-select">
                  <p-inputSwitch formControlName="active"></p-inputSwitch>
                  <label>Employee Status is Active</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" [formGroupName]="'professional'">
      <div class="component_wrapper form-section">
        <h3 class="form-section__title">Professional Info</h3>
        <div class="row">
          <div class="col-lg-5 form-group">
            <div class="input-group d-flex w-100  flex-wrap" formArrayName="skills">
              <div class="p-field form-section__field  flex-with-button w-100 flex-85" *ngFor="let skill of inputForm.get('professional.skills')['controls']; let i=index">
                <span class="p-inputgroup p-float-label d-flex">
                  <input type="text" pInputText class="form-control border" 
                          placeholder="Skill *" 
                          [formControlName]="i" 
                          [class.invalid]="!inputForm.get('professional.skills').valid && submited">
                  <label>Skill *</label>
                </span>
                <small class="red-font" [class.d-none]=" inputForm.get('professional.skills')['controls'][i].valid || !submited">Please fill skill</small>
              </div>
              <span class="p-inputgroup-addon" (click)="addSkill()" [ngStyle]="{'cursor': 'pointer' , 'margin-bottom':' 20px'}"><i class="pi pi-plus"></i></span>
            </div>
          </div>
          <div class="col-lg-5 form-group">
            <div class="input-group flex-wrap" formArrayName="location">
              <div class="p-field form-section__field  flex-with-button w-100 flex-85" *ngFor="let location of inputForm.get('professional.location')['controls']; let i=index" >
                <div class="autocomplete-select" >
                  <span class="p-float-label ">
                      <p-autoComplete [suggestions]="filteredLocation" 
                                      [formControlName]="i" 
                                      (completeMethod)="searchLocation($event)" 
                                      field="name" 
                                      [class.invalid]="!inputForm.get('professional.location')['controls'][i].valid && submited">
                        <ng-template let-locations pTemplate="item">
                          <div class="locations-item">
                            <div>{{locations.name}}</div>
                            <div>{{locations.city}}</div>
                            <div>{{locations.address}}</div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                      <i class="pi pi-search"></i>
                      <label >Location *</label>
                  </span>
                  <small class="red-font" [class.d-none]=" inputForm.get('professional.location')['controls'][i].valid || !submited">Please fill Location</small>
                </div>
              </div>
              <span class="p-inputgroup-addon" (click)="addLocation()" [ngStyle]="{'cursor': 'pointer' , 'margin-bottom':' 20px'}"><i class="pi pi-plus"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex">
      <div class="component_wrapper form-section">
        <h3 class="form-section__title">Upload Profile Picture</h3>
        <div class="upload-box">
          <div class="row">
            <div class="col-12 d-flex justify-content-between file-name-size">
              <span>Nte1234567_Report.pdf</span>
              <span>00 MG</span>
            </div>
            <div class="col-lg-12">
              <mat-progress-bar [value]="progressBarValue" mode="determinate" class="upload-progress"></mat-progress-bar>
            </div>
            <div class="col-lg-12 mt-2">
              <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  <label (click)="openFileSelector()" style="cursor: pointer;">
                    <svg-icon   class="camera-icon" src="../../../../../assets/icons/camera-solid.svg"
                      [svgStyle]="{ 'width.px':24 , 'fill': '#707070' , 'height': '100%'}"></svg-icon>
                      <small calss="drag-and-drop">Drag and drop a file or Click here</small>
                  </label>
                </ng-template>
              </ngx-file-drop>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8"  [formGroupName]="'pesonalInfo'">
      <div class="component_wrapper form-section">
        <h3 class="form-section__title">Personal Information</h3>
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group form-group p-field form-section__field">
              <div class="input-group">
                <span class="p-float-label w-100">
                    <input type="text" class="form-control " 
                            formControlName="firstName" 
                            placeholder="First Name *"
                            [class.invalid]="!inputForm.get('pesonalInfo.firstName').valid && submited">
                    <label>First Name *</label>
                </span>
              </div>
              <anms-error
                      [showError]="hasError('pesonalInfo.firstName',inputForm,submited)"
                      error="Please fill first name"></anms-error>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-group form-group p-field form-section__field">
              <div class="input-group">
                <span class="p-float-label w-100">
                    <input type="text" class="form-control " 
                          formControlName="lastName" 
                          placeholder="Last Name *"
                          [class.invalid]="!inputForm.get('pesonalInfo.lastName').valid && submited">
                    <label >Last Name *</label>
                </span>
              </div>
              <anms-error
                      [showError]="hasError('pesonalInfo.lastName',inputForm,submited)"
                      error="Please fill last name"></anms-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 form-group ">
            <div class="input-group d-flex w-100 flex-wrap" formArrayName="email">
              <div class="p-field form-section__field flex-with-button w-100 flex-85" *ngFor="let email of inputForm.get('pesonalInfo.email')['controls']; let i=index">
                <span class="p-float-label" >
                  <input type="text" class="form-control border" placeholder="Email *" 
                          [formControlName]="i"
                          [class.invalid]="!inputForm.get('pesonalInfo.email')['controls'][i].valid && submited">
                  <label>Email *</label>
                </span>
                <small class="error-input" [class.d-none]=" inputForm.get('pesonalInfo.email')['controls'][i].valid || !submited">Please fill email</small>
              </div>
              <span class="p-inputgroup-addon" (click)="addEmail()" [ngStyle]="{'cursor': 'pointer' , 'margin-bottom':' 20px'}"><i class="pi pi-plus"></i></span>
            </div>
          </div>
          <div class="col-lg-5 form-group ">
            <div class="input-group d-flex w-100  flex-wrap" formArrayName="phoneNumber">
              <div class="p-field form-section__field flex-with-button w-100 flex-85" *ngFor="let number of inputForm.get('pesonalInfo.phoneNumber')['controls']; let i=index">
                <span class="p-float-label" >
                  <input type="text" class="form-control border" placeholder="Phone Number *" 
                        [formControlName]="i"
                        [class.invalid]="!inputForm.get('pesonalInfo.phoneNumber')['controls'][i].valid && submited">
                  <label >Phone Number *</label>
                </span>
                <small class="error-input" [class.d-none]=" inputForm.get('pesonalInfo.phoneNumber')['controls'][i].valid || !submited">Please fill phone number</small>

              </div>
              <span class="p-inputgroup-addon" (click)="addPhoneNumber()" [ngStyle]="{'cursor': 'pointer' , 'margin-bottom':' 20px'}"><i class="pi pi-plus"></i></span>
            </div>
          </div>
        </div>
        <div class="row"  [formGroupName]="'notification'">
          <div class="col-lg-3 align-self-center">
            <h3 class="form-section__title">Send Notification By</h3>
          </div>
          <div class="col-lg-2 form-group form-check">
            <input id="check-Call" type="checkbox" class="custom-checkbox" formControlName="call">
            <label for="check-Call">Call</label>
          </div>
          <div class="col-lg-2 form-group form-check">
            <input id="check-SMS" type="checkbox" class="custom-checkbox" formControlName="sms">
            <label for="check-SMS">SMS</label>
          </div>
          <div class="col-lg-2 form-group form-check">
            <input id="check-Email" type="checkbox" class="custom-checkbox" formControlName="email">
            <label for="check-Email">Email</label>
          </div>
          <div class="col-lg-2 form-group form-check">
            <input id="check-Whatsapp" type="checkbox" class="custom-checkbox" formControlName="whatsapp">
            <label for="check-Whatsapp">Whatsapp</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-12">
    <div class="component_wrapper">
      <div class="table-wreapper">
        <app-table [setting]='addTechnician_Table'></app-table>
      </div>
    </div>
  </div>
</div>
