<div class="form-buttons">
  <button class="cancel">Cancel</button>
  <button class="add">Add</button>
</div>
<div class="row">

  <div class="col-12">
    <div class="component_wrapper">
      <label class="caption">Personal Info</label>
      <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control border-right-0 border" placeholder="Employe Number *">
              <div class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <svg-icon src="../../../../../assets/icons/search.svg" [svgStyle]="{ 'width.px':20 , 'fill': 'rgb(161 161 161)' , 'height': '100%'}"></svg-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Pay per Hours *">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="row form-group">
            <div class="custom-control custom-switch col-lg-12">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1"></label>
              <label class="custum-text" for="customSwitch1">Employee Status is Active</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="component_wrapper">
      <label class="caption">Professional Info</label>
      <div class="row">
        <div class="col-lg-5 form-group">
          <div class="input-group">
            <input type="text" class="form-control border-right-0 border" placeholder="Skill *">
            <div class="input-group-append m-0">
              <div class="input-group-text bg-transparent border-input-append">
                <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 form-group">
          <div class="input-group">
            <input type="text" class="form-control border-right-0 border" placeholder="Skill *">
            <div class="input-group-append">
              <div class="input-group-text bg-transparent">
                <svg-icon src="../../../../../assets/icons/search.svg" [svgStyle]="{ 'width.px':20 , 'fill': 'rgb(161 161 161)' , 'height': '100%'}"></svg-icon>
              </div>
            </div>
            <div class="input-group-append m-0">
              <div class="input-group-text bg-transparent border-input-append">
                <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="component_wrapper">
      <label class="caption">Upload Profile Picture</label>
      <div class="upload-box">
        <div class="row">
          <div class="col-12 d-flex justify-content-between file-name-size">
            <span>Nte1234567_Report.pdf</span>
            <span>00 MG</span>
          </div>
          <div class="col-lg-12">
            <anms-progress-bar  color="#0000005E" maxValue="100" value="25"></anms-progress-bar>
          </div>
          <div class="col-lg-12">
            <label class="space-drop" for="attach_picture">
              <svg-icon src="../../../../../assets/icons/camera-solid.svg" [svgStyle]="{ 'width.px':24 , 'fill': '#707070' , 'height': '100%'}"></svg-icon>
              <div>Drag and Drop Picture here</div>
            </label>
            <input type="file" hidden id="attach_picture">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="component_wrapper">
      <label class="caption">Personal Information</label>
      <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name *">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name *">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 form-group">
          <div class="input-group">
            <input type="text" class="form-control border-right-0 border" placeholder="Email *">
            <div class="input-group-append m-0">
              <div class="input-group-text bg-transparent border-input-append">
                <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 form-group">
          <div class="input-group">
            <input type="text" class="form-control border-right-0 border" placeholder="Phone Number *">
            <div class="input-group-append m-0">
              <div class="input-group-text bg-transparent border-input-append">
                <svg-icon src="../../../../../assets/icons/add.svg" [svgStyle]="{ 'width.px':20 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="caption">Send Notification By</div>
        </div>
        <div class="col-lg-2 form-group">
          <input id="check-Call" type="checkbox" class="custom-checkbox" checked>
          <label for="check-Call">Call</label>
        </div>
        <div class="col-lg-2 form-group">
          <input id="check-SMS" type="checkbox" class="custom-checkbox" checked>
          <label for="check-SMS">SMS</label>
        </div>
        <div class="col-lg-2 form-group">
          <input id="check-Email" type="checkbox" class="custom-checkbox" checked>
          <label for="check-Email">Email</label>
        </div>
        <div class="col-lg-2 form-group">
          <input id="check-Whatsapp" type="checkbox" class="custom-checkbox" checked>
          <label for="check-Whatsapp">Whatsapp</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="component_wrapper">
      <div class="table-wreapper">
        <app-table [setting]='addTechnician_Table'></app-table>
      </div>
    </div>
  </div>

</div>
