<div class="statistic-card">
  <app-filter *ngIf="false" [setting]='filterCard'></app-filter>
  <app-filter [setting]='filterCardOverView'></app-filter>
</div>
<div class="component_wrapper table-container " *ngIf="!showOverView">
  <div class="card-table-header">
    <div class="search-box">
      <input placeholder="{{'search.search_in_columns' | translate}}" type="text">
      <button>
        <img src="../../../assets/icons/search-solid.svg" alt="">
      </button>
    </div>
    <button class="btn-download" disabled>
      <svg-icon [src]="downloadBtn"></svg-icon>
    </button>
    <button class="btn-primary-small" [routerLink]="'add-operator'"><i>+</i><a>{{'search.add' | translate}}</a></button>
  </div>
  <div class="">
    <app-table [setting]='operator_Table'></app-table>
  </div>
</div>
<ng-container *ngIf="showOverView">
  <anms-over-view-operator></anms-over-view-operator>
</ng-container>
