@import '../../../assets/scss/form-section.scss';
.wrapper  {
    background:#fff;
    .card-table-header{
        justify-content: left;
    }
}
.form-section{
    box-shadow: none;
    background:#fff;
    padding: 0;
    margin: 0;
}

