<div class="row">
    <div class="col-lg-9 col-md-9">
        <div class="card">
            <div class="card-body">
              <ng-template #technicalInspection>
                <step1-technical-inspection></step1-technical-inspection>
              </ng-template>
                <ng-container *ngIf="showDesc"><technical-make-decision-main></technical-make-decision-main></ng-container>
                <ng-container *ngIf="isStart">
                  <ng-container *ngTemplateOutlet="technicalInspection"></ng-container>
                </ng-container>

                <ng-container *ngIf="!isStart" >
                    <h4 class="stepper-title" *ngIf="!showDesc">{{ 'workshop.technical_inspection.technical_inspection' | translate }}</h4>
                    <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
                        <mat-step [editable]="isEditable"  state="">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.technical_inspection' | translate }}</ng-template>
                                <ng-container *ngTemplateOutlet="technicalInspection"></ng-container>
                            </form>
                        </mat-step>
                        <mat-step [editable]="isEditable">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.asset_detail' | translate }}</ng-template>
                                <step2-asset-detail [submit]="submits.submit_asset_detail" (formGroup)="updateform($event)"></step2-asset-detail>
                            </form>

                        </mat-step>
                        <mat-step [editable]="isEditable">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.maintenance' | translate }}</ng-template>
                                <step3-maintenance [submit]="submits.submit_maintenance" (formGroup)="updateform($event)"></step3-maintenance>
                            </form>
                        </mat-step>
                        <mat-step [editable]="isEditable">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.customization' | translate }}</ng-template>
                                <step4-customization></step4-customization>
                            </form>
                        </mat-step>
                        <mat-step [editable]="isEditable">
                            <ng-template matStepLabel>{{ 'workshop.technical_inspection.generate' | translate }}</ng-template>
                        </mat-step>


                    </mat-horizontal-stepper>
                </ng-container>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stepper-button">
                    <ng-container *ngIf="isStart; else stepperButton">
                        <button class="btn-primary-medium add" (click)="isStart = false;">{{ 'forms.save' | translate }}</button>
                        <button class="btn-primary-medium btn-scondary-green" >{{ 'workshop.technical_inspection.car_card' | translate }}</button>
                    </ng-container>
                    <ng-template #stepperButton>
                        <button class="btn-primary-medium add" (click)="next()" #nextButton>{{ 'forms.next' | translate }}</button>
                        <button class="btn-primary-medium btn-scondary-green" (click)="previous()">{{ 'forms.back' | translate }}</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
