<div class="row">
    <div class="col-lg-9 col-md-9">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="isStart">
                    <technical-make-decision-main></technical-make-decision-main>
                </ng-container>

                <ng-container *ngIf="!isStart" >
                    <h2 class="stepper-title">{{ 'workshop.technical_inspection.technical_inspection' | translate }}</h2>
                    <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
                        <mat-step [editable]="isEditable" [stepControl]="controlStep" state="">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.technical_inspection' | translate }}</ng-template>
                                <step1-technical-inspection></step1-technical-inspection>
                            </form>
                        </mat-step>
                        <mat-step [editable]="isEditable" [stepControl]="controlStep">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.asset_detail' | translate }}</ng-template>
                                <step2-asset-detail></step2-asset-detail>
                            </form>

                        </mat-step>
                        <mat-step [editable]="isEditable" [stepControl]="controlStep">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.maintenance' | translate }}</ng-template>
                                <step3-maintenance></step3-maintenance>

                            </form>
                        </mat-step>
                        <mat-step [editable]="isEditable" [stepControl]="controlStep">
                            <form [formGroup]="controlStep">
                                <ng-template matStepLabel>{{ 'workshop.technical_inspection.customization' | translate }}</ng-template>
                                <step4-customization></step4-customization>
                            </form>
                        </mat-step>
                        <mat-step [editable]="isEditable" [stepControl]="controlStep">
                            <ng-template matStepLabel>{{ 'workshop.technical_inspection.generate' | translate }}</ng-template>
                        </mat-step>


                    </mat-horizontal-stepper>
                </ng-container>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stepper-button">
                    <ng-container *ngIf="isStart; else stepperButton">
                        <button class="next" (click)="isStart = false;">{{ 'forms.next' | translate }}</button>
                        <button class="back" >{{ 'workshop.technical_inspection.car_card' | translate }}</button>
                    </ng-container>
                    <ng-template #stepperButton>
                        <button class="next" (click)="next()" #nextButton>{{ 'forms.next' | translate }}</button>
                        <button class="back" (click)="previous()">{{ 'forms.back' | translate }}</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
