<mat-card class="form-section m-0 pb-2">
  <div >
    <h3 class="form-section__title">{{ 'part_store.parts_list.asset_type' | translate }}</h3>
    <span class="border"></span>
    <div class=" p-field form-section__field mt-5">
      <span class="p-float-label ">
          <p-dropdown inputId="assetType" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
          <label for="assetType">{{ 'part_store.parts_list.asset_type' | translate }}</label>
      </span>
      <span class="p-float-label mt-4">
        <p-dropdown inputId="assetType" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
        <label for="assetType">{{ 'part_store.parts_list.make' | translate }}</label>
      </span>
      <span class="p-float-label mt-4">
        <p-dropdown inputId="assetType" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
        <label for="assetType">{{ 'part_store.parts_list.model' | translate }}</label>
      </span>
    </div>
  </div>

</mat-card>
