<mat-card class="form-section m-0 bg-white pb-2">
  <div >
    <p class="form-section__title">{{ 'part_store.part_master.asset_type' | translate }}</p>
    <div class=" p-field form-section__field">
      <span class="p-float-label">
          <p-dropdown inputId="assetType" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
          <label for="assetType">{{ 'part_store.part_master.asset_type' | translate }}</label>
      </span>
      <span class="p-float-label mt-5">
        <p-dropdown inputId="assetType" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
        <label for="assetType">{{ 'part_store.part_master.asset_type' | translate }}</label>
      </span>
      <span class="p-float-label mt-5">
        <p-dropdown inputId="assetType" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
        <label for="assetType">{{ 'part_store.part_master.make' | translate }}</label>
      </span>
    </div>
  </div>

</mat-card>
