<div class="radio-button-container mt-5">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="radioButtonSelect" (change)="clickedRadio($event)">
        <mat-radio-button value="reuse">{{ 'workshop.technical_inspection.reuse' | translate }}</mat-radio-button>
        <mat-radio-button value="fix">{{ 'workshop.technical_inspection.fix' | translate }}</mat-radio-button>
        <mat-radio-button value="auction">{{ 'workshop.technical_inspection.auction' | translate }}</mat-radio-button>
        <mat-radio-button value="insurance">{{ 'workshop.technical_inspection.send_to_insurance' | translate }}</mat-radio-button>
    </mat-radio-group>
</div>

<div class="table-container mt-5">
    <ng-container *ngIf="radioButtonSelect == 'reuse'">
        <app-table [setting]="tableSetting"></app-table>
    </ng-container>
    <ng-container *ngIf="radioButtonSelect == 'fix'">
        fix
    </ng-container>
    <ng-container *ngIf="radioButtonSelect == 'auction'">
        auction
    </ng-container>
    <ng-container *ngIf="radioButtonSelect == 'insurance'">
        insurance
    </ng-container>

</div>
