<div class="button-container mt-5">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="radioButtonSelect">
        <mat-radio-button value="reuse">Reuse</mat-radio-button>
        <mat-radio-button value="fix">Fix</mat-radio-button>
        <mat-radio-button value="auction">Auction</mat-radio-button>
        <mat-radio-button value="insurance">Send to Insurance</mat-radio-button>
    </mat-radio-group> 
</div>

<div class="table-container mt-5">
    <ng-container *ngIf="radioButtonSelect == 'reuse'">
        <app-table [setting]="tableSetting"></app-table>
    </ng-container>
    <ng-container *ngIf="radioButtonSelect == 'fix'">
        fix
    </ng-container>
    <ng-container *ngIf="radioButtonSelect == 'auction'">
        auction
    </ng-container>
    <ng-container *ngIf="radioButtonSelect == 'insurance'">
        insurance
    </ng-container>
    
</div>