mat-radio-button{
    border-radius: 4px;
    padding: 12px 22px;
    border: 1px solid #0DA06E;
    box-shadow: 0px 2px 4px #5a8dee66;
    color:#0DA06E;
    margin: 0 20px 0 0;
}
mat-radio-button.mat-radio-checked{
    background: transparent linear-gradient(180deg,#07C880 0%, #0DA06E 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 12px 22px;
    box-shadow: 0px 2px 4px #5a8dee66;
    color:#fff;
}