<div class="component_wrapper">
  <div class="card-table-header">
    <div class="search-box">
      <input type="text" placeholder="Search in Columns">
      <button>
        <img src="../../../assets/icons/search-solid.svg" alt="">
      </button>
    </div>
    <button class="btn-download"><a></a></button>
    <button class="btn-primary-green"><i>+</i><a>Add</a></button>
  </div>
  <div class="table-wreapper">
    <app-tab-view>
      <div title='Asset'>
        <app-table [setting]='assetPolicy_Table'></app-table>
      </div>
      <div title='Sub Asset'>
        <app-table [setting]='assetPolicy_Table'></app-table>
      </div>
    </app-tab-view>

  </div>
</div>
