<div class="table-container component_wrapper">
  <app-tab-view (selectedIndex)="selectedTab=$event">
    <span class="search-container card-table-header">
      <div class="search-box">
        <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
        <button>
          <img src="assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" disabled>
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button *ngIf="selectedTab=='assetPolicyAssetTab'" CheckAccess="asset-policy:create" class="btn-primary-small" [routerLink]="'./add-asset-policy'"><i>+</i><a>{{ 'search.add' | translate }}</a></button>
    </span>
    <div title="tabs.asset" id="assetPolicyAssetTab">
      <app-table [setting]='assetPolicy_Table'></app-table>
    </div>
    <div title="tabs.sub_asset" id="assetPolicySubAssetTab">
      <app-table [setting]='subAssetPolicy_Table'></app-table>
    </div>
  </app-tab-view>
</div>
