<div class="table-container component_wrapper">
  <app-tab-view (selectedIndex)="selectedTab=$event" [count]="[assetPolicyCount$ , subAssetPolicyCount$]">
    <span class="search-container card-table-header">
      <div class="search-box">
        <input id="searchInput" type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
        <button>
          <img src="assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" (click)="exportTable()">
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button CheckAccess="asset-policy:create" class="btn-primary-small" [routerLink]="'./add-asset-policy'"[queryParams]="{type: (selectedTab == 'assetPolicyAssetTab' ? 'asset' : 'sub_asset')}"><i>+</i><a>{{ 'search.add' | translate }}</a></button>
    </span>
    <div title="tabs.asset" id="assetPolicyAssetTab">
      <app-table searchInput="searchInput" (onPagination)="eventPagination_asset()" pagination="asset-policy_asset" [setting]='assetPolicy_Table' [tableData]="assetPolicy$"></app-table>
    </div>
    <div title="tabs.sub_asset" id="assetPolicySubAssetTab">
      <app-table searchInput="searchInput" (onPagination)="eventPagination_subasset()" pagination="asset-policy_subasset" [setting]='subAssetPolicy_Table' [tableData]="subAssetPolicy$"></app-table>
    </div>
  </app-tab-view>
</div>
