<div class="wrapper">
    <header>
        <h5>
            Asset Successfully Registered
        </h5>
    </header>
    <section>
        <p>Sample hint is here to explain process</p>
        <div class="btn-container">
            <button class="btn-primary-medium add" type="submit">Customize Now</button>
            <button class="btn-primary-medium btn-scondary-green" type="button"
            routerLink="..">Customize Later</button>
            <button class="btn-primary-medium btn-scondary-green" type="button"
            routerLink="..">{{'forms.cancel' | translate}}</button>
        </div>
    </section>
</div>