<div class="sub-asset-overview">
  <div class="" style="position: relative;">
    <div class="button-container">
      <button class="btn-primary-medium btn-scondary-green" [routerLink]="['/fleet/accessory/']">{{ 'forms.back' | translate }}</button>
      <button class="btn-primary-medium add" [routerLink]="['/fleet/accessory/edit-accessory/', itemId]">{{ 'forms.edit' | translate }}</button>
    </div>
    <div class="overview-container">
      <div class="row">
<!--        <div class="col-3">-->
<!--          <div class="component_wrapper">-->
<!--            <h4 class="sub-asset-overview__subtitle">{{ 'sub_asset_overview.accessory_item_name' | translate }}</h4>-->
<!--            <table class="sub-asset-overview__info">-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.accessory_type' | translate }}</th>-->
<!--                <td>Sticker</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.make' | translate }}</th>-->
<!--                <td>Toyota</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.model' | translate }}</th>-->
<!--                <td>RAV4</td>-->
<!--              </tr>-->
<!--            </table>-->

<!--            <h4 class="sub-asset-overview__subtitle">{{ 'sub_asset_overview.assignment_asset_info' | translate }}</h4>-->
<!--            <table class="sub-asset-overview__info">-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.dpd_number' | translate }}</th>-->
<!--                <td>12</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.make' | translate }}</th>-->
<!--                <td>Toyota</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.year_of_make' | translate }}</th>-->
<!--                <td>2012</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.meter_reading' | translate }}</th>-->
<!--                <td>0000</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>{{ 'sub_asset_overview.dep_section' | translate }}</th>-->
<!--                <td>Finance</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
        <div class="col-12">
          <div class="component_wrapper">
            <h3 class="sub-asset-overview__title">{{ 'sub_asset_overview.item_name' | translate }}</h3>
          <table class="sub-asset-overview__info bordered">
            <tr>
              <th>{{ 'sub_asset_overview.item_name' | translate }}</th>
              <td>{{ accessoryDetails.itemName }}</td>
            </tr>
            <tr>
              <th>{{ 'sub_asset_overview.accessory_type' | translate }}</th>
              <td>{{ accessoryDetails.accessoryTypeId }}</td>
            </tr>
            <tr>
              <th>{{'accessory.assigned_to_a' | translate}}</th>
              <td>{{ accessoryDetails.assignedToEmployeeId.firstName }} {{ accessoryDetails.assignedToEmployeeId.lastName }}</td>
            </tr>
<!--            <tr>-->
<!--              <th>{{ 'sub_asset_overview.asset_name' | translate }}</th>-->
<!--              <td>DPD 0001234 </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>{{ 'sub_asset_overview.quantity' | translate }}</th>-->
<!--              <td>2012</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>{{ 'sub_asset_overview.make' | translate }}</th>-->
<!--              <td>Toyota</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>{{ 'sub_asset_overview.model' | translate }}</th>-->
<!--              <td>RAV4</td>-->
<!--            </tr>-->
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
