.accessory-overview {
  .component_wrapper{
    padding: 1em;
    font-family: '29LT Bukra - Bold';
  }
  .imageAccessory {
    display: flex;
    justify-content: center;
    img {
      width: 12em;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__images {
    .transitioning-src {
      transition: opacity 0.4s ease-out;
      -webkit-transition: opacity 0.4s ease-out;
      -moz-transition: opacity 0.4s ease-out;
      -ms-transition: opacity 0.4s ease-out;
      -o-transition: opacity 0.4s ease-out;
      opacity: 0;
    }

    .selected-image {
      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      margin: 15px 0 0;
      padding: 0;

      li {
        padding-right: 15px;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        border-radius: 2px;
        cursor: pointer;
        max-width: 100%;
      }
    }
  }

  &__title {
    color: #0da06e;
    padding: 1.1em;
    &>h3{
      font-size: 1.1em
    }
  }

  &__subtitle {
    padding: 1.1em 0;
    color: #0da06e;
    border-top: 1px solid #EDEDED;
    margin-top: 25px;
    & > h4 {
      font-size: 1.1em;
    }
  }

  &__info {
    width: 100%;

    &.bordered {
      td,
      th {
        border-bottom: 1px solid #EDEDED;
        border-top: 1px solid #EDEDED;
      }

      tr:last-child {
        td,
        th {
          border-bottom: none;
        }
      }
    }

    th {
      width: 15em;
      color: #707070;
      font-size: .8em;
    }
    th.right , td.right{
      padding: 1.1em;
    }
    th.left , td.left{
      padding-bottom: 1em;
    }
    td {
      color: #0da06e;
      font-size: .9em;
    }
  }
}

.overview-container {
  padding: 10px;
}

.edit-button-section{
  display: flex;
  height: 0;
  justify-content: flex-end;
  margin: 0 -1em;
  & > button {
    width: 3.5em;
    height: 3.5em;
    border: none;
    background: #fff;
    transform: translateY(-4.4em);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-self: flex-end;
    box-shadow: 0 -1px 2px #0000003d;
  }
}