<form class=pb-4>
    <div class="button-container">
        <button class="btn-primary-medium btn-scondary-green" type="button">{{ 'forms.cancel' | translate}}</button>
        <button class="btn-primary-medium add" type="submit">{{ 'forms.add' | translate}}</button>
      </div>
    <div class="form-section">
        <h3 class="form-section__title ">Category Info</h3>
        <div class="row">
            <div class="col-6">
                <div class="p-field form-section__field">
                    <span class="p-float-label">
                        <input pInputText placeholder="Category Name *" type="text">
                        <label>Category Name *</label>
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="p-field form-section__field">
                    <span class="p-float-label">
                        <input pInputText placeholder="Short Code" type="text">
                        <label>Short Code</label>
                    </span>
                </div>
            </div>
        </div>
    </div>  
</form> 