<div class="row component_wrapper form-section position-relative">
    <div class="button-container">
        <button *ngIf="!showCustomizationForm" class="btn-primary-medium add start-customize"
            type="submit" (click)="showCustomizationForm= true">{{ 'assets.start_customization' | translate }}</button>
        <button *ngIf="showCustomizationForm" class="btn-primary-medium
            btn-scondary-green" type="button"
            [routerLink]="['/fleet/assets']" [queryParams]="{id: 'pendingCustomizationTab'}">{{'forms.cancel' | translate}}</button>
        <button *ngIf="showCustomizationForm" class="btn-primary-medium add"
            type="submit" (click)="save()">{{'forms.save' |
            translate}}</button></div>
    <div class="col-3 p-0">
        <anms-asset-detail [asset$]="assetStatus$"></anms-asset-detail>
    </div>
    <div *ngIf="!showCustomizationForm else customizationForm" class="col-9
        p-0">
        <div class="p-3">
            <h3>
                {{ 'tables.column.category_name' | translate }}
            </h3>
            <ul>
                <li>{{ 'dashboard.active' | translate }}</li>
            </ul>
        </div>
        <div class="table-container">
            <div class="card-table">
                <div class="card-table-header">
                    <div class="search-box">
                        <input type="text" placeholder="{{
                            'search.search_in_columns' | translate }}">
                        <button>
                            <img [src]="searchIcon"
                                alt="">
                        </button>
                    </div>
                    <button class="btn-download" disabled>
                        <svg-icon [src]="downloadBtn"></svg-icon>
                    </button>

                </div>
                <app-table [setting]="tableSetting" [tableData]="customizationData$"></app-table>
            </div>
        </div>

    </div>
    <ng-template #customizationForm>
        <div class="col-9 p-0">
            <p-accordion *ngIf="customizationData" expandIcon="pi pi-fw pi-plus"collapseIcon="pi pi-fw pi-minus">
                <p-accordionTab *ngIf="customizationData.accessories" header="{{ 'assets.accessories' | translate }}">
                  <div *ngFor="let item of customizationData.accessories;let i=index">
                      <div class="row camera-row">
                        <div class="title col-2">{{ item.accessoryConfigurationName | translate }}</div>
                        <div class='row ml-3 col-6 font-weight-bold green' [hidden]='!outp.accessories[i].accessoryId'>
                          <div class="mt-2">
                            {{ outp.accessories[i].accessory ? outp.accessories[i].accessory.itemName : ''}}
                          </div>
                          <div class="ml-3 mt-2">
                            {{ 'assets.installed' | translate }}
                          </div>
                        </div>
                        <div class="checkbox col-3" [hidden]='outp.accessories[i].accessoryId'>
                            <div class=" form-check px-3">
                                <input id="checkbox2" type="checkbox"
                                    class="custom-checkbox" name="checkbox2" [(ngModel)]="outp.accessories[i].checked"
                                       (ngModelChange)='accessoryCheckboxOnChange($event, i)'>
                                <label class="label" for="checkbox2">{{ 'assets.installed' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-3 form-section__field my-0" *ngIf="outp.accessories[i].checked" [hidden]='outp.accessories[i].accessoryId'>
                            <div class="autocomplete-select">
                              <span class="p-float-label">
                                <p-autoComplete (completeMethod)="filterAccessory($event)"
                                  [suggestions]="accessory" field="organizationName"
                                  [(ngModel)]="outp.accessories[i].accessory" field="itemName" [minLength]="1" [dropdown]="true"></p-autoComplete>
                                <label>{{ 'assets.accessory' | translate}} *</label>
                              </span>
                            </div>
                        </div>
                      </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab *ngIf="customizationData.subAssets" header="{{ 'assets.sub-assets' | translate }}">
                  <div *ngFor="let item of customizationData.subAssets;let i=index">
                    <div class='row camera-row'>
                      <div class="title col-2">{{ item.subAssetMakeName+" "+item.subAssetModelName | translate }}</div>
                      <div class='row ml-3 col-6 font-weight-bold green' [hidden]='!outp.subAssets[i].subAssetId'>
                        <div class="mt-2">
                          {{ outp.subAssets[i].subAsset ? outp.subAssets[i].subAsset.serialNumber : ''}}
                        </div>
                        <div class="ml-3 mt-2">
                          {{ 'assets.installed' | translate }}
                        </div>
                      </div>
                      <div class="checkbox col-3" [hidden]='outp.subAssets[i].subAssetId'>
                          <div class=" form-check px-3">
                              <input id="checkbox2" type="checkbox"
                                  class="custom-checkbox" name="checkbox2" [(ngModel)]="outp.subAssets[i].checked"
                                     (ngModelChange)='subAssetCheckboxOnChange($event, i)'>
                              <label class="label" for="checkbox2">{{ 'assets.installed' | translate }}</label>
                          </div>
                      </div>

                      <div class="col-3 form-section__field my-0" *ngIf="outp.subAssets[i].checked" [hidden]='outp.subAssets[i].subAssetId'>
                        <div class="autocomplete-select">
                          <span class="p-float-label">
                            <p-autoComplete (completeMethod)="filterSubAsset($event)"
                              [suggestions]="subAsset" [(ngModel)]="outp.subAssets[i].subAsset" field="serialNumber" [minLength]="1" [dropdown]="true"></p-autoComplete>
                            <label>{{ 'assets.sub-asset' | translate}} *</label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </p-accordionTab>
            </p-accordion>
        </div>
    </ng-template>
</div>

