@import "../../../../../themes/green-theme.scss";
@import "../../../../../assets/scss/form-section.scss";
.component_wrapper {
  // background: white !important;
  h3 {
    margin: 0;
    font-weight: $fms-green-h3-color;
    font-size: 1.2em;
    color: #008755;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 2px;
      color: #008755;
    }
    li::before {
      content: "• ";
      color: #008755; /* or whatever color you prefer */
    }
  }
  .button-container {
    right: 12px;
    button.start-customize {
      width: 18em;
    }
  }
  ::ng-deep {
    .left-menu {
      border-right: 1px solid #e0e0e0;
    }
    p-accordion {
      .p-accordion-header-link {
        text-decoration: none;
        font-weight: 800;
        background-color: white !important;
      }
      .p-accordion-header-link:focus {
        box-shadow: none !important;
      }
      .p-accordion-content {
        padding: 0 1rem;
      }

      .title {
        padding-top: 8px;
      }

      .checkbox {
        .form-check {
          padding: 5px 5px;
          border-radius: 6px;
        }
        .label {
          margin: 0 10px;
        }
      }
      .camera-selected-row {
        border-bottom: 1px solid #d3d3d3;
        padding: 20px;
        height: 62px;
        .selected {
          color: #0da06e;
          font-weight: 700;
          font-size: 0.8rem;
        }
      }
      .camera-row {
        border-bottom: 1px solid #d3d3d3;
        padding: 10px 0;
        padding-top: 30px;
        height: 80px;
      }
    }
  }
}

.inline-111 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
