<div class="component_wrapper">
  <div class="pt-1">
    <app-tab-view>
      <span class="search-container card-table-header">
        <div class="search-box">
            <input type="text" placeholder="Search in Columns">
            <button>
              <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
            </button>
        </div>
        <button class="btn-download" disabled>
            <svg-icon [src]="downloadBtn"></svg-icon>
        </button>
        <button class="btn-primary-small" [routerLink]="'add-fleet-status'"><i>+</i><a>Add</a></button>
      </span>
      <div title='Asset'>
        <anms-fleet-status-asset-table [setting]='tableSetting'></anms-fleet-status-asset-table>
      </div>
      <div title='Sub Asset'></div>
    </app-tab-view>
  </div>
</div>


