@import '../../../../themes/green-theme.scss';
$primary: map-get($anms-green-primary, 300);

:host ::ng-deep {
  tbody tr {
    td:first-child > div {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 50%;
        margin-right: 12px;
      }
    }
    &:first-child {
      td:first-child {
        & > div:before {
          background: #009eff;
        }
      }
    }
    &:nth-child(2) {
      td:first-child {
        & > div:before {
          background: #fcb614;
        }
      }
    }
    &:nth-child(3) {
      td:first-child {
        & > div:before {
          background: #fe5f4f;
        }
      }
    }
  }
}

.button {
  background: white;
  border: 2px solid #a09999;
  border-radius: 3px;
}

.search_container {
  border: solid #a09999;
}

.search_icon_background {
  background: #a09999;
}

.input_focus:focus {
  outline: 0;
}

.minus_margin {
  margin-left: -34rem;
}

.img {
  background: white;
  border: 2px solid #a09999;
  border-radius: 3px;
}

.add_button {
  background: #0da06e;
  border: 0;
  color: white;
}

.card-table-header {
  // direction: rtl;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
