<div class="d-inline-flex">
  <div class="card parent overflow-hidden shadow-sm"
       *ngFor="let card of setting; let index = index"
       (click)="card.onActive(index); onClick(index);" [style.border-color]="card.filterTagColor">
    <div class="d-inline-flex h-100" [style.background]="card.filterBackgroundColor">
      <div class="d-inline-flex card-body p-0">
        <div class="left_tag" [style.background]="card.filterTagColor"></div>
        <div class="d-inline-flex justify-content-between w-100 mb-auto mt-auto pr-3 pl-3">
          <div *ngIf="!card.isActive" [style.color]="card.filterTagColor">{{card.filterTitle}}</div>
          <div *ngIf="!card.isActive" [style.color]="card.filterTagColor">{{card.filterCount}}</div>
          <div class="title" *ngIf="card.isActive">{{card.filterTitle}}</div>
          <div class="count" *ngIf="card.isActive">{{card.filterCount}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
