.parent {
  margin: 10px;
  min-height: 70px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.parent:hover {
  border: 0.5px solid;
}

.left_tag {
  width: 6px;
}

.filter {
  &-supTitle {
    font-size: 12px;
    &__active {
      color: #ffffff !important;
    }
  }
  &-title {
    font-size: 21px;
    &__active {
      color: #ffffff !important;
    }
  }
  &-count {
    font-size: 36px;
    &__active {
      color: #ffffff !important;
    }
  }
}
