.filter-wrapper-container {
  position: relative;
  .statistic-button {
    position: absolute;
    right: 0;
    top: -2.4em;
    height: 2.6em;
    width: 2.6em;
    border-radius: 0.3em;
    cursor: pointer;
    span {
      position: relative;
      display: block;
      svg-icon {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 35%);
        ::ng-deep {
          svg {
            fill: #0da06e;
          }
        }
      }
    }
    &.button-show {
      background: #0da06e;
      top: -3em;
      height: 2.2em;
      width: 2.2em;
      svg-icon {
        ::ng-deep {
          transform: translate(-50%, 15%) !important;
          svg {
            fill: #fff !important;
          }
        }
      }
    }
  }
  .statistics {
    margin: 0 .4em;
    &:last-child {
      margin-right: 0;
      .card {
        z-index: 2;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .parent {
    height: 100% !important;
    border-radius: 5px;
    // cursor: pointer;
    user-select: none;
  }

  .parent:hover {
    border: 0.5px solid;
  }

  .left_tag {
    width: .4em;
  }

  .filter {
    &-supTitle {
      &__active {
        color: #ffffff !important;
      }
    }
    &-title {
      &__active {
        color: #ffffff !important;
      }
    }
    &-count {
      &__active {
        color: #ffffff !important;
      }
    }
  }

  .calendar-container {
    color: #707070;
    a {
      height: 20px;
      width: 20px;
      img {
        height: 100%;
        width: 100%;
        opacity: 0.4;
      }
    }
  }
}

.flexible{
  .filter-wrapper {
    .statistics{
      transition: .3s all;
      &:hover{
        flex-grow: 1.5;
        .filter-count {
          display: block !important ;
        }
      }
      &.active-card {
        flex-grow: 1.5;
        .filter-count {
          display: block !important ;
        }
      }
    }
  }
}