.filter-wrapper-container {
  .statistic-button{
    position: absolute;
    right: 18px;
    top: 10px;
    height: 2.6em;
    width: 2.6em;
    border-radius: .3em;
    cursor: pointer;
    span{
      position: relative;
      display: block;
      svg-icon{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 35%);
        ::ng-deep{
          svg{
            fill:#0DA06E;
          }
        }
      }
    }
  }
  &.button-show{
    .statistic-button{
      background:#0DA06E;
      svg-icon{
        ::ng-deep{
          svg{
            fill:#fff !important;
          }
        }
      }
    }
  }
  .parent {
    height: 100% !important;
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    &:last-child {
      margin-right: 0;
      z-index: 2;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  .parent:hover {
    border: 0.5px solid;
  }

  .left_tag {
    width: 11px;
  }

  .filter {
    &-supTitle {
      &__active {
        color: #ffffff !important;
      }
    }
    &-title {
      &__active {
        color: #ffffff !important;
      }
    }
    &-count {
      &__active {
        color: #ffffff !important;
      }
    }
  }

  .calendar-container {
    color: #707070;
    a {
      height: 20px;
      width: 20px;
      img {
        height: 100%;
        width: 100%;
        opacity: 0.4;
      }
    }
  }
}


@media only screen and (max-width: 1550px){
  .filter-wrapper-container{
    .statistic-button{
      top: 26px;
    }
  }
}