<div class="d-inline-flex w-100">
  <div class="col card parent overflow-hidden shadow-sm p-0"
       *ngFor="let card of cardSetting; let index = index"
       (click)="onClick(index); card.setting.onActive(index)" [style.border-color]="card.setting.filterTagColor">
    <div class="d-inline-flex h-100" [style.background]="card.filterBackgroundColor">
      <div class="d-inline-flex card-body p-0">
        <ng-container *ngIf="!card.setting.isCalendar || card.setting.isCalendar == 'undefined'; else calendar">
          <div class="left_tag" [style.background]="card.setting.filterTagColor"></div>
          <div class="d-inline-flex justify-content-between w-100 mb-auto mt-auto pr-3 pl-3">
            <div *ngIf="!card.isActive" [style.color]="card.setting.filterTagColor">{{card.setting.filterTitle}}</div>
            <div *ngIf="!card.isActive" [style.color]="card.setting.filterTagColor">{{card.setting.filterCount}}</div>
            <div class="title" *ngIf="card.isActive">{{card.setting.filterTitle}}</div>
            <div class="count" *ngIf="card.isActive">{{card.setting.filterCount}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #calendar>
<div class="calendar-container d-inline-flex justify-content-between w-100 mb-auto mt-auto pr-3 pl-3">
  <span>Calendar</span>
  <a><img src="../../../assets/icons/calendar-alt.svg" alt=""></a>
</div>
</ng-template>