.cursor-pointer {
  cursor: pointer;
}

.bg-gray {
  background: #efefef;
}

.bg-gray-second {
  background: #cbc9c9;
}

.bg-dark {
  background: #121212;
}

.cursor-pointer {
  cursor: pointer;
}

.tableRow:hover {
  background: #e6f7ef !important;
}

.play-pause-button {
  height: 3em;
}

.complete-button {
  border-radius: 50%;
  border-style: solid;
  border-color: #008755;
}
