<div class='component_cus_wrapper'>
  <div class='row'>
    <div class='col-12 col-md-4 col-lg-3 side-panel'>
      <h4 class='ml-2 font-weight-bold'>Asset Detail</h4>
      <div class='component_sec_wrapper'>
        <div class='text-center mt-3 mb-3'>
          <img src='assets/thumb.png' alt='thumb' width='130'>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>Fleet no.</h5>
          <h5>1010</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>Serial number</h5>
          <h5>2020</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>Plate number</h5>
          <h5>3030</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>asset type</h5>
          <h5>4040</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>make</h5>
          <h5>5050</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>model</h5>
          <h5>6060</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>year</h5>
          <h5>7070</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>trim</h5>
          <h5>8080</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>color</h5>
          <h5>9090</h5>
        </div>
        <div class='row justify-content-between pl-5 pr-5'>
          <h5>warranty</h5>
          <h5>9595</h5>
        </div>
        <div class='text-center mt-4'>
          <h6>
            <a>View Asset technical history</a>
          </h6>
        </div>
      </div>
    </div>

    <div class='col-12 col-md-8 col-lg-9 main-panel'>
      <div class='row'>
        <div class='col-12'>
          <h4 class='ml-2 font-weight-bold'>Task Details</h4>
          <div class='table-container'>
            <div class='card-table'>
              <div class='table-container'>
                <app-table [setting]='taskDetailsTable'></app-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
