

<div class="login-component">
  <!-- <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#008755"
    type="ball-scale-multiple"
  ></ngx-spinner> -->
  <div
    [class]="language === 'en'
    ? 'login-loading-container login-loading-container' + '-left'
    : 'login-loading-container login-loading-container' + '-right'">
    <div class="login-loading d-flex justify-content-center align-items-center">
      <img
        src="assets/login/DubaiPoliceVLogo.svg"
        [class]="language === 'en'
        ? 'img_login-logo img_login-logo' + '-left'
        : ' img_login-logo img_login-logo' + '-right'" />
    </div>
  </div>
  <div class="login-card-wrapper">
    <div
      class="card login text-center align-items-center d-flex
      justify-content-center flex-column">
      <ul class="navbar-nav flex-row-reverse">
        <li class="nav-item dropdown">
          <!-- <a data-toggle="dropdown" class="nav-link" href="#" role="button"><img
              src="assets/svg-icons/globe.svg" alt=""></a> -->

          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left
            lang-container">
            <div *ngIf="language == 'en'" style="cursor: pointer;"
              (click)="changeLanguage('ar')" dir="rtl" class="text-right">العربية</div>
            <div *ngIf="language == 'ar'"
              (click)="changeLanguage('en')"
              style="cursor: pointer;"
              dir="ltr"
              class="text-left p-1">
              English
            </div>
          </div>
        </li>
      </ul>
      <div class="login-content">
        <div class="background-mobile"></div>
        <div
          class="d-flex justify-content-start align-items-center
          logo-container">
          <img
            src="assets/login/JSP-002-IMS-Login-Icone-54.svg"
            alt="Dubai Police Logo"
            class="logo w-50"
            />
          <div
            class="d-flex flex-column align-items-start justify-content-center
            logo-text">
            <span>Fleet</span>
            <span>Management</span>
            <span>Service</span>
          </div>
        </div>
        <div class="m-card-content">
          <form [formGroup]="credentialsFG" (ngSubmit)="login()">
            <div class="form-group has-feedback">
              <div class="form-field">
                <div class="field-group">
                  <div class="field-icon">
                    <!-- <mat-icon class="login_prefix" matPrefix
                      >perm_identity</mat-icon
                    > -->
                  </div>
                  <div class="field-input">
                    <input
                      type="text"
                      class="w-100"
                      placeholder="User Name"
                      formControlName="username"
                      />
                  </div>
                </div>
              </div>
              <span
                class="form-control-feedback"
                *ngIf="credentialsFG.controls.username.hasError('incorrect')">
                Incorrect Username
              </span>
            </div>

            <div class="form-group has-feedback">
              <div class="form-field">
                <div class="field-group">
                  <div class="field-icon">
                    <!-- <mat-icon class="login_prefix" matPrefix>lock</mat-icon> -->
                  </div>
                  <div class="field-input">
                    <input
                      (keyup.enter)="login()"
                      type="password"
                      class="w-100 input_component"
                      placeholder="Password"
                      formControlName="password"
                      />
                  </div>
                </div>
              </div>
              <span
                class="form-control-feedback"
                *ngIf="credentialsFG.controls.password.hasError('incorrect')">
                Incorrect
                Password
              </span>
            </div>
            <div class="m-card-options">
              <button
                type="submit"
                class="w-100 fw-400 font-weight-bold button-login">
                Login
                <!-- <mat-icon matSuffix>exit_to_app</mat-icon> -->
              </button>
            </div>
          </form>
        </div>
        <!-- end .m-card-content -->
      </div>
    </div>
  </div>
</div>
