@import '../../../../../themes/green-theme';
@import '../../../../../assets/scss/form-section.scss';

.flex-with-button {
  flex: 1 0 85%;
  overflow: visible;
}

.fix {
  width: 100%;
  margin: 5px 15px !important;
}
.p-inputgroup-addon {
  max-height: 40px;
}
