<form [formGroup]="ownerShipForm">
  <div class="button-container">
      <button class="btn-primary-medium btn-scondary-green" type="button"
          (click)="showCancelAlert()">{{ 'forms.cancel' | translate }}</button>
      <button class="btn-primary-medium add" (click)="submit()">{{ 'forms.add'
          | translate }}</button>
  </div>
  <alert-dialog [settings]="dialogCancelSetting" [displayModal]="displayCancelModal" (confirm)="dialogConfirm($event)"></alert-dialog>
  <alert-dialog [settings]="dialogSuccessSetting" [displayModal]="displaySuccessModal" (confirm)="displaySuccessModal=false;goToList();resetParams();"></alert-dialog>
  <alert-dialog [settings]="dialogErrorSetting" [displayModal]="displayErrorModal" (confirm)="displayErrorModal=false"></alert-dialog>
  <!-- form-section form-section--inline-->
  <div class="form-section mt-3">
      <div class="row">
          <div class="col-12 col-md-2">
              <h3 class="form-section__title">{{
                  'configuration.ownership.ownership_type' | translate }}</h3>
          </div>

          <div class="col-12 col-md-10">
              <div class="d-flex">
                  <div class="form-check">
                      <input class="form-check-input" type="radio"
                          name="type" formControlName="type"  value="EXTERNAL">
                      <label class="form-check-label">{{
                          'configuration.ownership.external' |
                          translate }}</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio"
                          name="type" formControlName ="type"  value="OWNED">
                      <label class="form-check-label">{{ 'configuration.ownership.owned' |
                          translate }}</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio"
                          name="type" formControlName = "type"   value="RENT">
                      <label class="form-check-label">{{ 'configuration.ownership.rent' | translate
                      }}</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio"
                          name="type" formControlName ="type" value="DEMO">
                      <label class="form-check-label">{{ 'configuration.ownership.demo' | translate
                      }}</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- end form-section form-section--inline-->


  <!-- form-section -->
  <div class="form-section">
      <h3 class="form-section__title">{{ 'configuration.ownership.owner_info'
          | translate }}</h3>

      <div class="row form-section__row">
          <div class="col-12 col-md-4 p-field form-section__field">
              <span class="p-float-label">
                  <input pInputText formControlName="name" placeholder="{{
                      'configuration.ownership.owner' | translate }}"
                      type="text">
                  <label>{{ 'configuration.ownership.owner' | translate }} *</label>
              </span>
              <anms-error
                  [showError]="hasError('name',ownerShipForm,submitted)"
                  error="forms.feedback.required">
              </anms-error>
          </div>
          <div class="col-12 col-md-4 p-field form-section__field">
              <span class="p-float-label">
                  <input pInputText email formControlName="email"
                      placeholder="{{
                      'configuration.ownership.owner_email_address' |
                      translate }}"
                      type="text">
                  <label>{{ 'configuration.ownership.owner_email_address' |
                      translate }} *</label>
              </span>
              <anms-error
                  [showError]="hasError('email',ownerShipForm,submitted)"
                  error="forms.feedback.required"></anms-error>
              <anms-error
                  [showError]="hasError('email',ownerShipForm,submitted,'email')"
                  error="forms.feedback.invalid-email"></anms-error>
          </div>
          <div class="col-12 col-md-4 p-field form-section__field">
              <span class="p-float-label">
                  <input pInputText formControlName="phoneNumber"
                      placeholder="{{
                      'configuration.ownership.owner_phone_number' | translate
                      }}"
                      type="text">
                  <label>{{ 'configuration.ownership.owner_phone_number' |
                      translate }}</label>
              </span>
          </div>
      </div>
  </div>
  <!-- end form-section -->


  <!-- form-section form-section--inline-->
  <div class="form-section form-section--inline">
      <div class="row">
          <div class="col-12 col-md-2">
              <h3 class="form-section__title">{{
                  'configuration.ownership.ownership_info' | translate }}</h3>
          </div>

          <div class="col-12 col-md-10">
              <div class="row">
                  <div class="col-12 col-md-4 p-field form-section__field">
                      <span class="p-float-label">
                          <input pInputText placeholder="{{
                              'configuration.ownership.purpose' | translate
                              }}" type="text" formControlName="purpose">
                          <label>{{ 'tables.column.purpose' | translate }}</label>
                      </span>
                  </div>
                  <div class="col-12 col-md-4 p-field form-section__field">
                      <span class="p-float-label">
                          <input pInputText formControlName="fleetITCode"
                              placeholder="{{
                              'configuration.ownership.fleet_it_code' |
                              translate }}"
                              type="text">
                          <label>{{ 'configuration.ownership.fleet_it_code' |
                              translate }} *</label>
                      </span>
                      <anms-error
                          [showError]="hasError('fleetITCode',ownerShipForm,submitted)"
                          error="forms.feedback.required">
                      </anms-error>
                  </div>
                  <div class="col-12 col-md-4 p-field form-section__field">
                      <span class="p-float-label">
                          <input pInputText placeholder="{{
                              'configuration.ownership.duration' | translate
                              }} *" formControlName="duration"
                              type="number">
                      </span>
                    <anms-error [showError]="hasError('duration', ownerShipForm, submitted)" error="forms.feedback.required"></anms-error>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- end form-section form-section--inline-->
</form>


<div class="component_wrapper table-container" *ngIf="false">
  <div class="table-wreapper">
      <app-table [setting]='ownerShip_Table' [tableData]="ownerShip$"></app-table>
  </div>
</div>
