@import '../ownership.component.scss';
@import '../../../../../assets/scss/form-section.scss';
.form-section__title {
  padding: 6px 0px;
}

.form-check {
  flex-grow: 0.1;
  .form-check-label {
    padding: 4px 0px;
  }
}
