<mat-card >
    <mat-card-header>
        <mat-card-title class="mat-card-title">Asset Type</mat-card-title>
        <button class="add-asset"><a>+</a></button>
    </mat-card-header>
    <span class="border"></span>
    <mat-card-content>
        <div class="category-subItem">
            <span class="item">Car</span>
        </div>
        <div class="category-item">
            <span class="item">Bus</span>
            <a>+</a>
        </div>
        <div class="category-subItem">
            <span class="item">Bicycle</span>
        </div>
        <div class="category-subItem">
            <span class="item">Boat</span>
        </div>
        <div class="category-addItem">
            <a>+</a>
            <span class="item">Add Type</span>
        </div>
    </mat-card-content>

</mat-card>