@import '../../../../../assets/scss/form-section.scss';

.header-with-button {
  display: flex;
  align-items: baseline;

  h3{
    flex:  0 0 85%;
  }
  button.add-asset {
    flex: 0 0 15%;
    height: 2.2em;
    width: 2.2em;
    max-height: 2.2em;
    max-width: 2.2em;
    border: 1px solid #009c62;
    border-radius: .3em;
    background-color: #fff;
    position: relative;
    a {
      position: absolute;
      color: #0da06e;
      margin: 0;
      font-size: 2.2em;
      top: -0.2em;
      left: 0.2em;
    }
  }
}
:host ::ng-deep {
  .mat-card-header-text {
    flex: 0 0 85%;
    padding-left: 16px;
    margin: 0;
  }
}
mat-card {
  margin-top: 15px;
}


.category-subItem {
  font-size: 1em;
  height: 2.8em;
  max-height: 2.8em;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.category-item {
  display: flex;
  align-items: center;
  height: 2.8em;
  max-height: 2.8em;
  margin: 0 5px;
  span.item {
    flex: 0 0 85%;
    font-size: 1.1em;
    color: #707070;
  }
  a {
    position: relative;
    color: #707070;
    margin: 0;
    font-size: 2.2em;
    opacity: 0.57;
    flex: 0 0 15%;
    text-align: center;
  }
}

.category-addItem {
  display: flex;
  align-items: center;
  margin: 15px 5px;

  span.item {
    font-size: 1.1em;
    color: #707070;
    margin-left: 12px;
  }
  a {
    position: relative;
    color: #707070;
    margin: 0;
    font-size: 2.2em;
    opacity: 0.57;
  }
}
