<mat-card class='p-2 m-0 overflow-hidden' [class.not-disable]="activatedRoute.snapshot.children">
  <div class="cover" *ngIf="activatedRoute.children.length != 0"></div>
  <mat-card-header>
    <mat-card-title class='mat-card-title'>{{ 'filter.category' | translate }}</mat-card-title>
  </mat-card-header>
  <span class='border'></span>
  <mat-card-content *ngIf='loaded$|async'>
    <div *ngFor='let assetType of assetTypeArray' [class.active-category]="assetType.id === selectedCategory">
      <!-- <ng-container *ngIf="assetType.type == (categoryType$ | async) || !(categoryType$ | async)"> -->
      <ng-container>
        <div class='category-item' [class.active-type]="assetType.id === selectedCategory" >
          <svg-icon *ngIf="(activeAssetType !== 'ACCESSORY')" [ngStyle]="(activeLang === 'en') ? {'transform': 'rotate(0deg)'} : {'transform': 'rotate(180deg)'}"
                    [src]='arrowIcon' [svgStyle]="{ 'width.em':1.2 , 'fill': '#505050'}"
                    [svgClass]='(assetType.iconSvgClass === "down-arrow") ? ((activeLang === "en") ? "down-arrow" : "down-arrow-ar") : "right-arrow"'
                    (click)='onTypeClick(assetType)'></svg-icon>
          <span class='ml-2 mr-2 cursor-pointer'
                (click)='onTypeClick(assetType)'>{{assetType.name}}</span>
          <span class='action'>
            <svg-icon *ngIf="(activeAssetType !== 'ACCESSORY')"
              [ngStyle]="(activeLang === 'en')? {'position': 'absolute', 'right': '15px'}  : {'position': 'absolute', 'left': '15px'}"
              class='cursor-pointer' (click)='createMake(assetType)' src='assets/icons/add.svg'
              [svgStyle]="{ 'width.px':18 , 'fill': '#0DA06E' , 'height': '100%'}">
            </svg-icon>
            <svg-icon [ngStyle]="(activeLang === 'en')? {'position': 'absolute', 'right': '45px'}  : {'position': 'absolute', 'left': '45px'}"
                      class='cursor-pointer'
                      (click)="editCategoryType(assetType)"
                      src='assets/icons/edit.svg'
                      [svgStyle]="{ 'width.px':18 , 'fill': '#0DA06E' , 'height':'100%'}">
            </svg-icon>
          </span>
        </div>
        <div *ngFor='let make of assetType.makes; let index = index'>
          <div class='category-subItem' [hidden]='!assetType.isSelected' [class.active-type]="make.id === selectedMake">
            <svg-icon
              [ngStyle]="(activeLang === 'en') ? {'transform': 'rotate(0deg)'} : {'transform': 'rotate(180deg)'}"
              [src]='arrowIcon' [svgStyle]="{ 'width.em':1.2 , 'fill': '#505050'}"
              [svgClass]='(make.iconSvgClass === "down-arrow") ? ((activeLang === "en") ? "down-arrow" : "down-arrow-ar") : "right-arrow"'
              (click)="onMakeClick(make, assetType.id)"></svg-icon>
            <span class='ml-2 mr-2 cursor-pointer'
                  (click)='onMakeClick(make, assetType.id)'>{{make.name}}</span>
            <span class='action' [hidden]='activeAssetType === "ACCESSORY"'>
              <svg-icon
                [ngStyle]="(activeLang === 'en')? {'position': 'absolute', 'right': '15px'}  : {'position': 'absolute', 'left': '15px'}"
                class='cursor-pointer' (click)='createModel(assetType.id,make)' src='assets/icons/add.svg'
                [svgStyle]="{ 'width.px':18 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
              <svg-icon [ngStyle]="(activeLang === 'en')? {'position': 'absolute', 'right': '45px'}  : {'position': 'absolute', 'left': '45px'}"
                        class='cursor-pointer'
                        (click)="editMake(make , assetType)"
                        src='assets/icons/edit.svg'
                        [svgStyle]="{ 'width.px':18 , 'fill': '#0DA06E' , 'height':'100%'}">
            </svg-icon>
            </span>
          </div>
          <div *ngFor='let model of (assetType.makes[index]).models'>
            <div class='category-sub-subItem'
                 [hidden]='!make.isSelected || !assetType.isSelected'
                 [class.active-type]="model.id === selectedModel">
              <span class='status' (click)='onModelClick(model, make.id, assetType.id)'
                    [style]="{ '--back-color-var': getStatusColor(model.id) }"
                    [ngStyle]="{ color: getStatusColor(model.id) }"></span>
              <span class='ml-2 mr-2 cursor-pointer'
                    [style]="'color:' + getStatusColor(model.id)"
                    [class]='getStatusColor(model.id)'
                    (click)='onModelClick(model, make.id, assetType.id)'>{{model.name}}</span>
              <span class='action'>
                <svg-icon *ngIf="(activeAssetType !== 'SUB_ASSET')"
                  [ngStyle]="(activeLang === 'en')? {'position': 'absolute', 'right': '15px'}  : {'position': 'absolute', 'left': '15px'}"
                  class='cursor-pointer' (click)='createTrim(assetType.id,make.id, model)' src='assets/icons/add.svg'
                  [svgStyle]="{ 'width.px':18 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                <svg-icon [ngStyle]="(activeLang === 'en')? {'position': 'absolute', 'right': '45px'}  : {'position': 'absolute', 'left': '45px'}"
                          class='cursor-pointer'
                          (click)="editModel(model, make.id , assetType.id)"
                          src='assets/icons/edit.svg'
                          [svgStyle]="{ 'width.px':18 , 'fill': '#0DA06E' , 'height':'100%'}">
            </svg-icon>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class='d-flex mt-2'
      *ngIf="activatedRoute.children.length == 0">
      <svg-icon class='cursor-pointer ml-2' src='assets/icons/add.svg'
                [svgStyle]="{ 'width.px':'14' , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
      <span class='font-weight-bold add-asset-type cursor-pointer ml-2'
            (click)="addCategoryType()">{{getAssetText() | translate}}</span>
    </div>
  </mat-card-content>

</mat-card>
