<div class="row">
  <div class="col-12 traffic-fine-overview d-flex flex-column">
    <span class="card-table-header">
      <button class="btn-filter text-center">
        <img src='assets/icons/filter.png' class="filter-button">
      </button>
        <div class="search-box">
            <input id="searchInput" type="text" placeholder="{{'search.search_in_columns' | translate}}">
            <button>
                <img [src]="searchIcon" alt="">
            </button>
        </div>
        <button class="btn-download" disabled>
            <svg-icon [src]="downloadBtn"></svg-icon>
        </button>
    </span>
    <ng-container *ngFor="let item of trafficFines; let index = index;">
      <div class="items table-container d-flex">
        <div class="badge" [ngStyle]="{'background': '#008755'}"></div>
        <div class="d-flex flex-column ">
          <div class="item">
            <div class="header d-flex justify-content-between">
              <div>
                <span>
                  <svg-icon class="date-icon" src='assets/icons/booking.svg' 
                    [svgStyle]="{ 'width.em':'2.2' , 'height.em':'2.2'  , 'fill': '#00000061'}">
                  </svg-icon>
                </span>
                <span class="item-title">{{'traffic_fine.overview.booklet_id' | translate}} : </span>
                <span class="item-text">{{item?.bookletId}}</span>
              </div>
              <div class="right-column">
                <span>
                  <svg-icon class="date-icon" src='assets/icons/calendar.svg'
                  [svgStyle]="{ 'width.em':'2' , 'height.em':'2' , 'fill': '#00000061'}">
                  </svg-icon>
                </span>
                <span class="item-title">{{'traffic_fine.overview.creation_date' | translate}} : </span>
                <span class="item-text">{{item?.creationDate}}</span>
              </div>
            </div>
            <div class="body">
              <div class="location d-flex justify-content-between">
                <div>
                  <div class="py-2">
                    <span class="item-title">{{'traffic_fine.overview.location_code' | translate}} : </span>
                    <span class="item-text">{{item?.locationCode}}</span>
                  </div>
                  <div class="py-2">
                    <span class="item-title">{{'traffic_fine.overview.location_description' | translate}} : </span>
                    <span class="item-text">{{item?.locationDescription}}</span>
                  </div>
                  <div class="py-2">
                    <span class="item-title">{{'traffic_fine.overview.location_description_arabic' | translate}} : </span>
                    <span class="item-text">{{item?.locationDescriptionA}}</span>
                  </div>
                </div>
                <div class="right-column">
                  <div class="py-2">
                    <span>
                      <svg-icon class="date-icon" src='assets/icons/spped.svg'
                      [svgStyle]="{ 'width.em':'2.2' , 'height.em':'2.2'  , 'fill': '#00000061'}">
                      </svg-icon>
                    </span>
                    <span class="item-title">{{'traffic_fine.overview.vehicle_speed' | translate}} : </span>
                    <span class="item-text">{{item?.vehicleSpeed}}</span>
                  </div>
                  <div class="py-2">
                    <span>
                      <svg-icon class="date-icon" src='assets/icons/spped.svg'
                      [svgStyle]="{ 'width.em':'2.2' , 'height.em':'2.2'  , 'fill': '#00000061'}">
                      </svg-icon>
                    </span>
                    <span class="item-title">{{'traffic_fine.overview.road_speed' | translate}} : </span>
                    <span class="item-text">{{item?.roadSpeed}}</span>
                  </div>
                </div>
              </div>
              <div class="ticket">
                <div class="row m-0">
                  <div class="col-2">
                    <div class="ticket-image">
                      <img src="assets/icons/no-camera.svg" alt="">
                      <p>No Radar Picture</p>
                    </div>
                  </div>
                  <div class="col-2 d-flex flex-column justify-content-between">
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_id' | translate}}</div>
                      <div class="item-text">{{item?.creationDate}}</div>
                    </div>
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_type' | translate}}</div>
                      <div class="item-text">{{item?.ticketType}}</div>
                    </div>
                  </div>
                  <div class="col-2 d-flex flex-column justify-content-between">
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_no' | translate}}</div>
                      <div class="item-text">{{item?.ticketNo}}</div>
                    </div>
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_status' | translate}}</div>
                      <div class="item-text">{{item?.ticketStatus}}</div>
                    </div>
                  </div>
                  <div class="col-2 d-flex flex-column justify-content-between">
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_fine' | translate}}</div>
                      <div class="item-text">{{item?.ticketFine}}</div>
                    </div>
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_status_date' | translate}}</div>
                      <div class="item-text">{{item?.ticketStatusDate}}</div>
                    </div>
                  </div>
                  <div class="col-2 d-flex flex-column justify-content-between">
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_date' | translate}}</div>
                      <div class="item-text">{{item?.ticketDate}}</div>
                    </div>
                  </div>
                  <div class="col-2 d-flex flex-column justify-content-between">
                    <div class="">
                      <div class="item-title">{{'traffic_fine.overview.ticket_time' | translate}}</div>
                      <div class="item-text">{{item?.ticketTime}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table">
                <app-table [setting]='trafficOverviewTable' [tableData]='getTableData(index)'></app-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>