<div class='row col-12 m-auto' [dir]='isLtr ? "ltr" : "rtl"'>
  <mat-card class='col-md-12 p-4' *ngFor='let fine of trafficFines'>
    <div class='row justify-content-between'>
      <div>
        <div><span class='key'>Booklet ID</span> : {{fine?.bookletId}}</div>
        <div><span class='key'>Creation Date</span> : {{fine?.creationDate}}</div>
    <div><span class='key'>Has UnPayable Regulation</span> : {{fine?.hasUnpayableRegulation}}</div>
    <div><span class='key'>Location Code</span> : {{fine?.locationCode}}</div>
    <div><span class='key'>Location Description</span> : {{fine?.locationDescription}}</div>
    <div><span class='key'>Penalty Fine</span> : {{fine?.penaltyFine}}</div>
    <div><span class='key'>Plate Category CFI Code</span> : {{fine?.plateCategoryCFICode}}</div>
    <div><span class='key'>Plate Category Description (Ar)</span> : {{fine?.plateCategoryDescAr}}</div>
    <div><span class='key'>Plate Code</span> : {{fine?.plateCode}}</div>
    <div><span class='key'>Road Speed</span> : {{fine?.roadSpeed}}</div>
    <div><span class='key'>Ticket Category</span> : {{fine?.ticketCategory}}</div>
    <div><span class='key'>Ticket Description Code</span> : {{fine?.ticketDescCode0}}</div>
    <div><span class='key'>Ticket Fine</span> : {{fine?.ticketFine}}</div>
    <div><span class='key'>Ticket No</span> : {{fine?.ticketNo}}</div>
    <div><span class='key'>Ticket Status Description (Ar)</span> : {{fine?.ticketStatusDescA}}</div>
    <div><span class='key'>Ticket Status Description (En)</span> : {{fine?.ticketStatusDescE}}</div>
    <div><span class='key'>Ticket Type</span> : {{fine?.ticketType}}</div>
    <div><span class='key'>Total Ticket Fine</span> : {{fine?.totalTicketFine}}</div>
      </div>
      <div>
        <div><span class='key'>Has Radar Picture</span> : {{fine?.hasRadarPicture}}</div>
        <div><span class='key'>Is Payable</span> : {{fine?.isPayable}}</div>
        <div><span class='key'>Is Radar</span> : {{fine?.isRadar}}</div>
        <div><span class='key'>Location Description A</span> : {{fine?.locationDescriptionA}}</div>
        <div><span class='key'>Plate CFI Code</span> : {{fine?.plateCFICode}}</div>
        <div><span class='key'>Plate Category</span> : {{fine?.plateCategory}}</div>
        <div><span class='key'>Plate Category Description (En)</span> : {{fine?.plateCategoryDescEn}}</div>
        <div><span class='key'>Plate From</span> : {{fine?.plateFrom}}</div>
        <div><span class='key'>Ticket Date</span> : {{fine?.ticketDate}}</div>
        <div><span class='key'>Ticket Fine</span> : {{fine?.ticketFine}}</div>
        <div><span class='key'>Ticket ID</span> : {{fine?.ticketId}}</div>
        <div><span class='key'>Ticket Status</span> : {{fine?.ticketStatus}}</div>
        <div><span class='key'>Ticket Status Date</span> : {{fine?.ticketStatusDate}}</div>
        <div><span class='key'>Ticket Time</span> : {{fine?.ticketTime}}</div>
        <div><span class='key'>Ticket Violation Description (Ar)</span> : {{fine?.ticketViolationDesA}}</div>
        <div><span class='key'>Ticket Violation Description (En)</span> : {{fine?.ticketViolationDesE}}</div>
        <div><span class='key'>Vehicle Speed</span> : {{fine?.vehicleSpeed}}</div>
      </div>
    </div>
    <div>
      <div class='font-weight-bolder'>Regulations</div>
      <div *ngFor='let regulation of fine.regulations'>
        <div class='row justify-content-between'>
          <div>
            <span class='key'>Code</span> : {{regulation?.code}}
          </div>
          <div class='mr-2'>
            <span class='key'>Description (Ar)</span> : {{fine?.descriptionAr}}
          </div>
          <div class='mr-2'>
            <span class='key'>Description (En)</span> : {{fine?.descriptionEn}}
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
