@import '../../../../assets/scss/form-section.scss';

.card-table-header{
  position: absolute;
  right: 25px;
  left: 25px;
  padding-left:0 !important ;
  top: -3.8em;
  .btn-filter {
    width: 3em;
    border: 2px solid #a2a2a2;
    margin: 0 5px;
    border-radius: 0.25em;
    position: relative;
    .filter-button{
      height: 1.6em;
    }
  }
}

.button-container {
  top: -4.2em;
}

.item-text{
  color: #0da06e;
  font-weight: bold;
}
.right-column{
  min-width: 28%;
}
.form-section{
  border-radius: .5em;
}
.table-container{
  line-height: 1.6;
  margin: 0 .8em;
  margin-top: 10px !important;
  border-radius: .5em;
  overflow: hidden;
  *{
    padding: 3px;
  }
  .badge{
    flex: 0  0 .5em;
    height: 105%;
    display: block;
    margin: -15px 0;
  }
  .items{
    .item{
      margin:0 .8em;
    }
  }
  .header{
    border-bottom: 1px solid #eaeaea;
    padding: 1em 0;
  }
  .location{
    border-bottom: 1px solid #eaeaea;
    padding: 1em 0;
  }
  .ticket{
    padding: 1em 0;
    .ticket-image{
      box-shadow: 0px 1px 2px 0px #0000003d;
      width: 100%;
      height: 100%;
      position: relative;
      max-height: 11em;
      max-width: 11em;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: #bfbfbf29;
      img{
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
      p{
        font-size: .8em;
        font-weight: bold;
        margin: 0;
      }
    }

  }
}

.paginator {
  display: flex;
  justify-content: space-between;
  font-size: 1.05em;
  .pagination {
    display: flex;
    margin: 0 1em;
    .pagination-caption {
      margin: 1em;
      p {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
    .pagination-action {
      &__previous {
        padding: 1em;
        cursor: pointer;
      }
      &__next {
        padding: 1em;
        cursor: pointer;
      }
    }
  }
  .show-entries {
    align-self: center;
    margin: 0 1em;
    select {
      margin: 0 1em;
      padding: 4px 25px 4px 9px;
      border: 1px solid #bbb;
      border-radius: 5px;
      -webkit-appearance: none;
      background: url(../../../../assets/icons/angle-left.svg) no-repeat right 0.3em top 50%;
      background-size: .5em !important;
      cursor: pointer;
    }
  }
}
