<form [formGroup] = "inputForm">
    <div class="mx-2">
        <div class="row form-section__row">
            <div class="col-12 col-md-2 p-field form-section__field options-select">
                <span class="p-float-label">
                  <p-dropdown inputId="statusCategory" [autoDisplayFirst]="false"
                    [options]="types"
                    formControlName="type" optionLabel="name"></p-dropdown>
                  <label for="statusCategory">{{ 'integration.type' | translate }}</label>
                </span>
              </div>
            <div class="col-12 col-md-2 p-field form-section__field">
                <span class="p-float-label">
                    <input formControlName="companyName" pInputText
                        placeholder="{{'integration.company_name'|translate}}"  type="text">
                    <label>{{ 'integration.company_name' | translate }}</label>
                </span>
            </div>
            <div class="col-12 col-md-2 p-field form-section__field">
                <span class="p-float-label">
                    <input formControlName="grp" pInputText
                        placeholder="GRP" type="text">
                    <label>{{ 'integration.grp' | translate }}</label>
                </span>
            </div>
            <div class="col-12 col-md-3 p-field form-section__field">
                <div class="d-flex h-100 position-relative ">
                    <button class="btn-primary-small add h-100">{{ 'forms.save' | translate }}</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn-primary-small btn-scondary-green h-100" (click)="cancel()">{{ 'forms.cancel' | translate }}</button>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="row">
        <div class="col-md-2">
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select  formControlName="type">
                  <mat-option value="1">Type 1</mat-option>
                  <mat-option value="2">Type 2</mat-option>
                  <mat-option value="3">Type 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="" value="" formControlName="companyName">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="">
                <mat-label>GRP</mat-label>
                <input matInput placeholder="" value="" formControlName="grp">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <div class="button-container-flex">
                <button class="btn-primary-small add">Save</button>
                <button class="btn-primary-small btn-scondary-green" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div> -->
</form>
