:host ::ng-deep{
    .mat-form-field-flex{
        background-color:#fff !important;
        border: 1px solid #E2E2E2;
        border-radius: 5px !important;
        height: 100%;
        padding: .5em .75em .5em .75em;
    }
    .mat-form-field-underline{
        display: none;
    }
    .mat-form-field-infix{
        border-top: 0;
        height:100%;
        input{
            padding: 0 13px;
        }
        .mat-form-field-label{
            top: 1.5em;
        }
        .mat-form-field-label-wrapper{
            overflow: visible;
        }
    }
    .mat-form-field-label{
        background: #fff;
        width: max-content !important;
    }
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        transform: translateY(-1.4em) scale(0.75);
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper{
        transform: translateY(0%);
    }
    .mat-select-arrow {
        width: 0;
        height: 0;
        border:0 !important;
        &:after{
            font: 24px "Consolas";
            content: ">";
            position: absolute;
            top: -7px;
            left: -7px;
            transform: rotate(90deg);
        }
    }
}

.button-container-flex{
    position: relative;
    margin-left: 5px;
    button {
        margin: 0 2px;
    }

}
