<h6 class="card-header">
    {{ 'dashboard.suppliers' | translate }}
</h6>

<div class="tab-container">
    <div class="suppliers-tabs">
        <div class="tab">
            <span><p class="title">{{ 'tables.column.vehicle' | translate }}</p></span>
        </div>
        <div class="tab active-tab">
            <span><img [src]="tabsImg" alt=""></span>
            <span><p class="title">{{ 'tables.column.vehicle' | translate }}</p></span>
        </div>
        <div class="tab">
            <span><p class="title">{{ 'tables.column.vehicle' | translate }}</p></span>
        </div>
    </div>
</div>

<div class="suppliers-chart">
    <div class="chart-row" *ngFor="let supplierChart of supplierCharts">
        <div class="logo">
            <img [src]="supplierChart.imgSrc" alt="">
        </div>
        <div class="title">
            <p> {{supplierChart.title}}</p>
            <small>{{supplierChart.number}}</small>
        </div>
        <anms-progress-bar  color="#39DA8A"
                            maxValue="100"
                            [value]="supplierChart.percent">%</anms-progress-bar>
    </div>
</div>