<div class='d-inline-flex w-100'>
  <div class='mb-2 d-flex w-100 justify-content-between'>
    <div class='font-weight-bold ml-sm-5'
         *ngFor='let col of settings.columns; let index = index'>
      <div *ngIf='index !== 0' class='pl-2'>
        {{col.title}}
      </div>
      <div *ngIf='index === 0' class='mr-1'>
        {{col.title}}
      </div>
    </div>
  </div>
  <div class='pl-sm-3'>
    <button class='border-0 bg-transparent'>
      <img src="../../../../assets/icons/three-dots.svg" alt="">
    </button>
  </div>
</div>

<hr class='m-0'>

<!--row-->
<div  *ngFor='let row of settings.data; let rowIndex = index'>

  <div class='pb-1 pr-1 pt-1'>

    <div id='row' class='d-flex w-100 justify-content-between'>
      <div class='d-inline-flex ml-1 mt-1 mr-sm-2' *ngFor='let item of settings.columns; let rowDataIndex= index'>
        <img *ngIf='rowDataIndex === 0' class='mr-1 first_col_img' src='assets/thumb.png'
             alt='plus_square' (click)='clicked(rowIndex)' />
        <div *ngIf='rowDataIndex !== 0' class='break_word'>
          {{row[item.dataFieldKey]}}
        </div>
        <div *ngIf='rowDataIndex === 0'>
          <div>
            {{row[item.dataFieldKey]}}
          </div>
          <div>
            {{row.assetSubData.dpdNumber}}
          </div>
          <div class='text-center text-light rounded w-75' [style.background]='row.assetSubData.statusColor'>
            {{row.assetSubData.status}}
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr class='m-0 p-0'>
</div>
