@import '../../../../../assets/scss/form-section.scss';


.overflow-visible{
  overflow: visible;
}

.component_wrapper {
  .select-level {
    input[type='radio'] {
      display: none;
    }
    .flag {
      cursor: pointer;
      span {
        margin-left: 8px;
      }
    }
  }
}
