<form [formGroup]="inputForm" (ngSubmit)="addRequest()">
    <div class="button-container">
        <button class="btn-primary-medium btn-scondary-green" type="button" (click)="cancelForm()">Cancel</button>
        <button class="btn-primary-medium add" type="submit" >Add</button>
      </div>
      
    <div class="row">
        <ng-container *ngIf=" !inputForm.get('assetSearch').value.name">
            <div class="col-12 overflow-visible">
                <div class="component_wrapper form-section">
                    <h3 class="form-section__title">Asset Info</h3>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="form-group p-field form-section__field">
                                <div class="input-group">
                                    <div class="autocomplete-select w-100">
                                        <span class="p-float-label ">
                                            <p-autoComplete [suggestions]="filteredAsset" 
                                                            formControlName="assetSearch" 
                                                            (completeMethod)="searchAsset($event)" 
                                                            field="name" 
                                                            (onSelect)="selectedAsset($event)" 
                                                            [class.invalid]="!inputForm.get('assetSearch').valid && submited"></p-autoComplete>
                                            <i class="pi pi-search"></i>
                                            <label>Asset *</label>
                                        </span>
                                    </div>
                                    <small class="red-font" [class.d-none]=" inputForm.get('assetSearch').valid || !submited">Please search and choose an item from list</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf=" inputForm.get('assetSearch').value.name">
            <div class="col-12 " [formGroupName]="'assetInfo'">
                <div class="component_wrapper form-section">
                    <h3 class="form-section__title">Asset Info</h3>
                    <div class="row mt-3">
                        <div class="col-12 col-md-5">
                            <div class="form-group p-field form-section__field">
                                <div class="input-group">
                                    <span class="p-float-label w-100">
                                        <input type="text" class="form-control  border" formControlName="asset" readonly>
                                        <label>Asset</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="row">
                                <div class="col-7">
                                    <div class="form-group p-field form-section__field">
                                        <div class="input-group">
                                            <span class="p-float-label w-100">
                                                <input type="text" class="form-control border" formControlName="gpsMeterSource" readonly>
                                                <label>GPS Meter Source</label>
                                            </span>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <a>Manual Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 d-flex pr-0">
                <div class="component_wrapper table-container mr-2">
                    <app-table [setting]="tableSettingServie"></app-table>
                </div>
            </div>
            <div class="col-4 col-md-4 d-flex pl-0">
                <div class="component_wrapper table-container ml-2">
                    <app-table [setting]="tableSettingWarranty"></app-table>
                </div>
            </div>
        </ng-container>
        
        <div class="col-12">
            <div class="component_wrapper form-section">
                <div class="row mt-3">
                    <h3 class="col-2 form-section__title">Reason</h3>
                    <div class="col-10">
                        <div class="row form-group align-items-center">
                            <div class="custom-control custom-switch col-3">
                                <div class="toggle-select">
                                    <p-inputSwitch formControlName="reason"></p-inputSwitch>
                                    <label>Accident</label>
                                </div>
                            </div>
                            <ng-container  *ngIf=" inputForm.get('reason').value == true ">
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio"  id="Miner" value ="miner" formControlName="accidentOption">
                                    <label class="form-check-label" for="Miner">
                                        Miner
                                    </label>
                                </div>
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio"  id="Major" value ="major" formControlName="accidentOption">
                                    <label class="form-check-label" for="Major">
                                        Major
                                    </label>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="component_wrapper form-section">
                <div class="row mt-3">
                    <h3 class="col-3 form-section__title">Job Type</h3>
                    <div class="col-lg-9">
                        <div class="row form-group">
                            <div class="form-check col-lg-3">
                                <input class="form-check-input" type="radio"  id="Estimate" value ="estimate" formControlName="jobType">
                                <label class="form-check-label" for="Estimate">
                                Estimate
                                </label>
                            </div>
                            <div class="form-check col-lg-3">
                                <input class="form-check-input" type="radio"  id="Repair" value ="repair" formControlName="jobType">
                                <label class="form-check-label" for="Repair">
                                Repair
                                </label>
                            </div>
                            <div class="form-check col-lg-3">
                                <input class="form-check-input" type="radio"  id="Technical_Report" value="technical_report" formControlName="jobType">
                                <label class="form-check-label" for="Technical_Report">
                                Technical Report
                                </label>
                            </div>
                            <ng-container *ngIf=" inputForm.get('reason').value == false ">
                                <div class="form-check col-lg-3">
                                    <input class="form-check-input" type="radio"id="Installation" value="installation" formControlName="jobType">
                                    <label class="form-check-label" for="Installation">
                                    Installation
                                    </label>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" [formGroupName]="'issueInfo'">
            <div class="component_wrapper form-section">
                <h3 class="form-section__title">Issue Info</h3>
                <div class="row mt-3">
                    <div class="form-group col-lg-8 p-field form-section__field">
                        <span class="p-float-label">
                            <input pInputText  type="text" class="form-control" placeholder="Issue" 
                                    formControlName="issue"
                                    [class.invalid]="!inputForm.get('issueInfo.issue').valid && submited">
                            <label>Issue *</label>
                        </span>
                        <small class="red-font" [class.d-none]=" inputForm.get('issueInfo.issue').valid || !submited">Please fill Issue</small>

                    </div>
                    <div class="form-group col-lg-4 p-field form-section__field">
                        <span class="p-float-label">
                            <input pInputText type="text" class="form-control" placeholder="Reported By" 
                                    formControlName="repertedBy"
                                    [class.invalid]="!inputForm.get('issueInfo.repertedBy').valid && submited">
                            <label>Reported By *</label>
                        </span>
                        <small class="red-font" [class.d-none]=" inputForm.get('issueInfo.repertedBy').valid || !submited">Please fill ReportedBy</small>
                    </div>
                    <div class="form-group col-lg-12 p-field form-section__field mt-3">
                        <span class="p-float-label">
                            <input pInputText type="text" class="form-control" placeholder="Description " formControlName="description"
                                    [class.invalid]="!inputForm.get('issueInfo.description').valid && submited">
                            <label>Description *</label>
                        </span>
                        <small class="red-font" [class.d-none]=" inputForm.get('issueInfo.description').valid || !submited">Please fill Description</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="component_wrapper form-section">
                <div class="row mt-3">
                    <h3 class="col-3 form-section__title">Priority</h3>
                    <div class="col-lg-9">
                        <div class="row form-group select-level">
                            <div class="col-lg-2">
                                <input class="form-check-input" type="radio" name="priority" id="urgent" value="urgent" formControlName="priority">
                                <label class="form-check-label flag" for="urgent" (click)="changePriority('urgent')">
                                    <svg-icon src="../../../../../assets/icons/flag-solid.svg" [svgStyle]="{ 'width.px':24 , 'fill': '#F75A4A' , 'height': '100%', 'opacity': activePriority == 'urgent' ? 1 : 0.2}"></svg-icon>
                                    <span>Urgent</span>
                                </label>
                            </div>
                            <div class="col-lg-2">
                                <input class="form-check-input" type="radio" name="priority" id="high" value="high" formControlName="priority">
                                <label class="form-check-label flag" for="high" (click)="changePriority('high')">
                                    <svg-icon src="../../../../../assets/icons/flag-solid.svg" [svgStyle]="{ 'width.px':24 , 'fill': '#FCB614' , 'height': '100%', 'opacity': activePriority == 'high' ? 1 : 0.2}"></svg-icon>
                                    <span>High</span>
                                </label>
                            </div>
                            <div class="col-lg-2">
                                <input class="form-check-input" type="radio" name="priority" id="normal" value="normal" formControlName="priority">
                                <label class="form-check-label flag" for="normal" (click)="changePriority('normal')">
                                    <svg-icon src="../../../../../assets/icons/flag-solid.svg" [svgStyle]="{ 'width.px':24 , 'fill': '#00CBB2' , 'height': '100%', 'opacity': activePriority == 'normal' ? 1 : 0.2}"></svg-icon>
                                    <span>Normal</span>
                                </label>
                            </div>
                            <div class="col-lg-2">
                                <input class="form-check-input" type="radio" name="priority" id="low" value="low" formControlName="priority">
                                <label class="form-check-label flag" for="low" (click)="changePriority('low')">
                                    <svg-icon src="../../../../../assets/icons/flag-solid.svg" [svgStyle]="{ 'width.px':24 , 'fill': '#707070' , 'height': '100%', 'opacity': activePriority == 'low' ? 1 : 0.2}"></svg-icon>
                                    <span>Low</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="component_wrapper form-section">
                <h3 class="form-section__title">Attach Picture</h3>
                <div class="upload-box">
                    <div class="row">
                    <div class="col-12 d-flex justify-content-between file-name-size">
                        <span>Nte1234567_Report.pdf</span>
                        <span>00 MG</span>
                    </div>
                    <div class="col-lg-12 ">
                        <mat-progress-bar [value]="progressBarValue" mode="determinate" class="upload-progress"></mat-progress-bar>                </div>
                    <div class="col-lg-12 mt-2">
                        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <label (click)="openFileSelector()" style="cursor: pointer;">
                                <svg-icon  class="drop-icon" src="../../../../../assets/icons/cloud-computing.svg"
                                    [svgStyle]="{ 'width.px':24 , 'fill': '#707070' , 'height': '100%'}"></svg-icon>
                                    <small calss="drag-and-drop">Drag and drop a file or Click here</small>
                                </label>
                            </ng-template>
                        </ngx-file-drop>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</form>