<form [formGroup]="inputForm" (ngSubmit)="addRequest()">
    <div class="button-container">
        <button class="btn-primary-medium btn-scondary-green" type="button"
            (click)="cancelForm()">{{'forms.cancel' | translate}}</button>
        <button class="btn-primary-medium add" type="submit">{{ (isEdit?'forms.edit':'forms.add') | translate }}</button>
    </div>

    <div class="row">
        <!-- <ng-container *ngIf=" !inputForm.get('assetId').value.name"> -->
        <ng-container>
            <div class="col-12 overflow-visible">
                <div class="component_wrapper form-section p-3">
                    <h3 class="form-section__title">{{'workshop.body_shop.requests.asset_info'
                        | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="form-group p-field form-section__field">
                                <div class="input-group">
                                    <div class="autocomplete-select w-100">
                                        <span class="p-float-label">
                                            <p-autoComplete
                                                [suggestions]="newAssets"
                                                formControlName="assetId"
                                                (completeMethod)="searchAsset($event)"
                                                field="name"
                                                [disabled]="isEdit"
                                                [minLength]="1"
                                                (onSelect)="selectedAsset($event)"
                                                [class.invalid]="!inputForm.get('assetId').valid
                                                && submited"></p-autoComplete>
                                            <i class="pi pi-search"></i>
                                            <label>{{'workshop.body_shop.requests.asset'
                                                | translate}}</label>
                                        </span>
                                    </div>
                                    <small class="red-font" [class.d-none]="inputForm.get('assetId').valid
                                        || !submited">{{'workshop.body_shop.requests.asset_validation_error'
                                        | translate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- <ng-container *ngIf=" inputForm.get('assetId').value.name">
            <div class="col-12 " [formGroupName]="'assetInfo'">
                <div class="component_wrapper">
                    <h3 class="form-section__title">{{'workshop.body_shop.requests.asset_info' | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col-12 col-md-5">
                            <div class="form-group p-field form-section__field">
                                <div class="input-group">
                                    <span class="p-float-label w-100">
                                        <input type="text" class="form-control  border" formControlName="asset" readonly>
                                        <label>{{'workshop.body_shop.requests.asset' | translate}}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="row">
                                <div class="col-7">
                                    <div class="form-group p-field form-section__field">
                                        <div class="input-group">
                                            <span class="p-float-label w-100">
                                                <input type="text" class="form-control border" formControlName="gpsMeterSource" readonly>
                                                <label>{{'workshop.body_shop.requests.gps_meter_source' | translate}}</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <a>{{'workshop.body_shop.requests.manual_update' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 d-flex pr-0">
                <div class="component_wrapper table-container mr-2">
                    <app-table [setting]="tableSettingServie"></app-table>
                </div>
            </div>
            <div class="col-4 col-md-4 d-flex pl-0">
                <div class="component_wrapper table-container ml-2">
                    <app-table [setting]="tableSettingWarranty"></app-table>
                </div>
            </div>
        </ng-container> -->
        <div class="col-12">
            <div class="component_wrapper form-section pl-4">
                <div class="row mt-3">
                    <h3 class="col-1 mt-3 form-section__title">{{'workshop.body_shop.requests.reason'
                        | translate}}</h3>
                    <div class="col-3">
                        <div class="row form-group align-items-center">
                            <div class="custom-control custom-switch col-3">
                                <div class="toggle-select">
                                    <p-inputSwitch
                                        formControlName="hasAccident"></p-inputSwitch>
                                    <label>{{'workshop.body_shop.requests.accident'
                                        | translate}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <ng-container *ngIf="inputForm.get('hasAccident').value
                        == true">
                        <div class="row">
                            <div class="form-check col-3">
                                <input class="form-check-input" type="radio"
                                    id="MINOR" value="MINOR"
                                    formControlName="accidentType">
                                <label class="form-check-label" for="MINOR">
                                    {{'workshop.body_shop.requests.miner' |
                                    translate}}
                                </label>
                            </div>
                            <div class="form-check col-3">
                                <input class="form-check-input" type="radio"
                                    id="MAJOR" value="MAJOR"
                                    formControlName="accidentType">
                                <label class="form-check-label" for="MAJOR">
                                    {{'workshop.body_shop.requests.major' |
                                    translate}}
                                </label>
                            </div>
                        </div>
                    </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="component_wrapper form-section pl-4">
                <div class="row mt-3">
                    <h3 class="col-1 mt-3 form-section__title">{{'workshop.body_shop.requests.job_type'
                        | translate}}</h3>
                    <div class="col-lg-9">
                        <div class="row form-group">
                            <div class="form-check col-lg-2">
                                <input class="form-check-input" type="radio"
                                    id="Repair" value="NORMAL"
                                    formControlName="jobType">
                                <label class="form-check-label" for="Repair">
                                    {{'workshop.body_shop.requests.repair' |
                                    translate}}
                                </label>
                            </div>
                            <div class="form-check col-lg-3">
                                <input class="form-check-input" type="radio"
                                    id="Removal"
                                    value="REMOVAL"
                                    formControlName="jobType">
                                <label class="form-check-label"
                                    for="Technical_Report">
                                    {{'workshop.body_shop.requests.removal'
                                    | translate}}
                                </label>
                            </div>
                            <div class="form-check col-lg-2">
                                <input class="form-check-input" type="radio"
                                    id="INSTALLATION" value="INSTALLATION"
                                    formControlName="jobType">
                                <label class="form-check-label" for="INSTALLATION">
                                    {{'workshop.body_shop.requests.installation' |
                                    translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" [formGroupName]="'issueInfo'">
            <div class="component_wrapper form-section p-3">
                <h3 class="form-section__title">{{'workshop.body_shop.requests.issue_info'
                    | translate}}</h3>
                <div class="row mt-3">
                    <div class="form-group col-lg-4 p-field
                        form-section__field">
                        <span class="p-float-label">
                            <input pInputText type="text" class="form-control"
                                placeholder="{{'workshop.body_shop.requests.issue'
                                | translate}}"
                                formControlName="issue"
                                [class.invalid]="!inputForm.get('issueInfo.issue').valid
                                && submited">
                            <label>{{'workshop.body_shop.requests.issue' |
                                translate}} *</label>
                        </span>
                        <small class="red-font" [class.d-none]="inputForm.get('issueInfo.issue').valid
                            || !submited">{{'workshop.body_shop.requests.issue_validation_error'
                            | translate}}</small>

                    </div>
                    <div class="form-group col-lg-4 p-field
                        form-section__field">
                        <span class="p-float-label">
                            <input pInputText type="text" class="form-control"
                                   placeholder="{{'workshop.body_shop.requests.gps_meter_source'
                                | translate}} *"
                                   formControlName="gpsMeterSource"
                                   [class.invalid]="!inputForm.get('issueInfo.gpsMeterSource').valid
                                && submited">
                            <label>{{'workshop.body_shop.requests.gps_meter_source' |
                              translate}} *</label>
                        </span>
                    <small class="red-font" [class.d-none]="inputForm.get('issueInfo.gpsMeterSource').valid
                            || !submited">{{'workshop.body_shop.requests.issue_validation_error'
                      | translate}}</small>

                  </div>
                    <div class="form-group col-lg-4 p-field
                        form-section__field">
                        <span class="p-float-label">
                            <input pInputText type="text" class="form-control"
                                placeholder="{{'workshop.body_shop.requests.reported_by'
                                | translate}}"
                                formControlName="reportedBy"
                                [class.invalid]="!inputForm.get('issueInfo.reportedBy').valid
                                && submited">
                            <label>{{'workshop.body_shop.requests.reported_by' |
                                translate}} *</label>
                        </span>
                        <small class="red-font" [class.d-none]="inputForm.get('issueInfo.reportedBy').valid
                            || !submited">{{'workshop.body_shop.requests.reported_by_validation_error'
                            | translate}}</small>
                    </div>
                    <div class="form-group col-lg-12 p-field form-section__field
                        mt-3">
                        <span class="p-float-label">
                            <input pInputText type="text" class="form-control"
                                placeholder="{{'workshop.body_shop.requests.description'
                                | translate}}" formControlName="description"
                                [class.invalid]="!inputForm.get('issueInfo.description').valid
                                && submited">
                            <label>{{'workshop.body_shop.requests.description' |
                                translate}} *</label>
                        </span>
                        <small class="red-font" [class.d-none]="inputForm.get('issueInfo.description').valid
                            || !submited">{{'workshop.body_shop.requests.description_validation_error'
                            | translate}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="component_wrapper form-section">
                <div class="row">
                    <h3 class="col-2 pt-3 ml-4 form-section__title">{{'workshop.body_shop.requests.priority'
                        | translate}}</h3>
                    <div class="col-lg-7">
                        <div class="row form-group select-level">
                            <div class="col-lg-3">
                                <input class="form-check-input" type="radio"
                                    name="priority" id="urgent" value="URGENT"
                                    formControlName="priority">
                                <label class="form-check-label flag"
                                    for="urgent"
                                    (click)="changePriority('URGET')">
                                    <svg-icon
                                        src="../../../../../assets/icons/flag-solid.svg"
                                        [svgStyle]="{ 'width.px':24 , 'fill':
                                        '#F75A4A' , 'height': '100%', 'opacity':
                                        activePriority == 'URGET' ? 1 : 0.2}"></svg-icon>
                                    <span class="ml-2">{{'workshop.body_shop.requests.urgent'
                                        | translate}}</span>
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-check-input" type="radio"
                                    name="priority" id="high" value="HIGH"
                                    formControlName="priority">
                                <label class="form-check-label flag" for="high"
                                    (click)="changePriority('HIGH')">
                                    <svg-icon
                                        src="../../../../../assets/icons/flag-solid.svg"
                                        [svgStyle]="{ 'width.px':24 , 'fill':
                                        '#FCB614' , 'height': '100%', 'opacity':
                                        activePriority == 'HIGH' ? 1 : 0.2}"></svg-icon>
                                    <span class="ml-2">{{'workshop.body_shop.requests.high'
                                        | translate}}</span>
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-check-input" type="radio"
                                    name="priority" id="normal" value="NORMAL"
                                    formControlName="priority">
                                <label class="form-check-label flag"
                                    for="normal"
                                    (click)="changePriority('NORMAL')">
                                    <svg-icon
                                        src="../../../../../assets/icons/flag-solid.svg"
                                        [svgStyle]="{ 'width.px':24 , 'fill':
                                        '#00CBB2' , 'height': '100%', 'opacity':
                                        activePriority == 'NORMAL' ? 1 : 0.2}"></svg-icon>
                                    <span class="ml-2">{{'workshop.body_shop.requests.normal'
                                        | translate}}</span>
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-check-input" type="radio"
                                    name="priority" id="low" value="LOW"
                                    formControlName="priority">
                                <label class="form-check-label flag" for="low"
                                    (click)="changePriority('LOW')">
                                    <svg-icon
                                        src="../../../../../assets/icons/flag-solid.svg"
                                        [svgStyle]="{ 'width.px':24 , 'fill':
                                        '#707070' , 'height': '100%', 'opacity':
                                        activePriority == 'LOW' ? 1 : 0.2}"></svg-icon>
                                    <span class="ml-2">{{'workshop.body_shop.requests.low'
                                        | translate}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-12 d-flex'>
            <div class="form-section w-100">
              <div>
                <p class='font-weight-bold'>{{'workshop.body_shop.requests.upload_form.title'
                    | translate}}</p>
              </div>
              <anms-uploader [iconIsHidden]="false"  [multiple]="true"
                [preview]="false" [accept]="['.png', '.jpg']" (uploadedEvent)="uploadImage($event)" [files]="profileDocIds"></anms-uploader>
            </div>
          </div>
        <!-- <div class="col-12">
            <div class="component_wrapper p-4">
                <h3 class="form-section__title">{{'workshop.body_shop.requests.upload_form.title'
                    | translate}}</h3>
                <div class="upload-box">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between
                            file-name-size">
                            <span>{{'workshop.body_shop.requests.upload_form.title'
                                | translate}}</span>
                            <span>00 MG</span>
                        </div>
                        <div class="col-lg-12">
                            <mat-progress-bar [value]="progressBarValue"
                                mode="determinate" class="upload-progress"></mat-progress-bar>
                        </div>
                        <div class="col-lg-12 mt-2">
                            <ngx-file-drop dropZoneLabel="Drop files here"
                                (onFileDrop)="dropped($event)"
                                (onFileOver)="fileOver($event)"
                                (onFileLeave)="fileLeave($event)">
                                <ng-template ngx-file-drop-content-tmp
                                    let-openFileSelector="openFileSelector">
                                    <label (click)="openFileSelector()"
                                        style="cursor: pointer;">
                                        <svg-icon class="drop-icon"
                                            src="../../../../../assets/icons/cloud-computing.svg"
                                            [svgStyle]="{ 'width.px':24 ,
                                            'fill': '#707070' , 'height':
                                            '100%'}"></svg-icon>
                                        <small calss="drag-and-drop">{{'workshop.body_shop.requests.upload_form.content'
                                            | translate}}</small>
                                    </label>
                                </ng-template>
                            </ngx-file-drop>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</form>
<alert-dialog [settings]="dialogSetting" [displayModal]="dialogModal"
    (confirm)="dialogConfirm($event)"></alert-dialog>
<alert-dialog [settings]="errorDialogSetting" [displayModal]="errorDialogModal"
    (confirm)="errorDialogModal=false"></alert-dialog>
