@import '../../../../../../../themes/green-theme.scss';
@import '../../../../../../../assets/scss/form-section.scss';

.damage-history {
  .title {

  }
  .sort {
    span {
      background-color: #f3f3f3;
      padding: 5px 4px;
      height: 30px;
      width: 45px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
    }
  }
  .item-body {
    box-shadow:  0px 0px 10px #00000026;
    padding: 1em;
    &__title {
      font-weight: 600;
      font-size: 14px;
    }
    &__desc {
      font-size: 12px;
    }
    &__img {
      width: 180px;
      height: 180px;
      border-radius: 5px;
    }
    &__author {
      font-size: 12px;
    }
  }
}

.title {
  color: #0da06e;
  font-weight: 900;
  font-size: 1.2em;
}

.plus-icon {
  border: 1px solid #009c62;
  border-radius: 4px;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.edit-box {
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  display: flex;

  &__box {
    border: 3px solid $edit-box-primary;
    padding: 0;

    h3 {
      padding: 16px;
      font-size: 1rem;
      margin: 0;
      border-bottom: 1px solid $edit-box-list-border;
      color: $edit-box-title;
    }

    .task_specification, .task_master {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 8px 16px;
        border-bottom: 1px solid $edit-box-list-border;
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
        transition: background-color 0.3s;

        &:hover {
          background-color: $edit-box-list-hover;
        }

        .user-image {
          border-radius: 50%;
          margin-right: 5px;
          vertical-align: top;
          height: 25px;
        }

        strong {
          font-weight: normal;
          color: $edit-box-list-title;
        }
        span {
          font-weight: bold;
          color: $edit-box-list-value;
        }

        span.danger {
          color: $edit-box-list-value-danger;
        }
      }
    }

    &--first {
      border-radius: 5px 0 0 5px;
      border-right: 0;
    }

    &--last {
      border-radius: 0 5px 5px 0;
    }
  }

  ::ng-deep .mat-ripple {
    display: none;
  }
}

.activities-step {
  list-style: none;
  margin: 1.5em 2em;
  padding: 0 1em;
  border-inline-start: 2px solid #ccc;
  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    .info {
      margin-top: -1rem;
      display: flex;
      justify-content: space-between;
      &__date {
        font-size: 0.8em;
      }
    }
    .ago {
      font-size: 0.8em;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #0c9768;
      border: 3px solid white;
      margin: 0 -1.5rem;
      box-shadow: 0 0 6px -2px;
    }
  }
}
