<form [formGroup]='form' (submit)='onSubmit()'>
  <div class='button-container'>
    <button class='btn-primary-medium btn-scondary-green' type="button" (click)="cancelForm()">{{ 'forms.cancel' | translate }}</button>
    <button class='btn-primary-medium add'>{{ (isEdit?'forms.edit':'forms.add') | translate }}</button>
  </div>
  <div class="form-section">
    <div>
      <p class='font-weight-bold'>{{ 'part_store.order_list.request_form.request_info' | translate }}</p>
    </div>
    <div class="row form-section__row mt-4">
      <div class='col-4 p-field form-section__field'>
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="fleet" (completeMethod)="searchFleet($event)"
            [suggestions]="fleetFilterd" field="dpd" [minLength]="1"
            [dropdown]="true"
            (onSelect)="fleetSelect($event)">
            </p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ (isAsset ? 'part_store.order_list.form.asset' : 'part_store.order_list.form.sub_asset')| translate }} *</label>
          </span>
          <anms-error [showError]="hasError('fleet',form,submited)"
            error="forms.feedback.required"></anms-error>
          <anms-error [showError]="autocompleteErrorMessage(fleet) && submited"
            error="forms.feedback.autocomplete_select"></anms-error>
        </div>
      </div>
      <div class="col-4 p-field form-section__field options-select">
        <span class="p-float-label ">
          <p-dropdown [placeholder]="'part_store.order_list.form.asset' | translate" 
                      (onChange)="categorySelect($event.value)" [options]="category$ | async" 
                      optionLabel="name" optionValue="id"
                      formControlName="category" ></p-dropdown>
          <label>{{ 'part_store.order_list.form.category' | translate }} *</label>
        </span>
        <anms-error [showError]="hasError('category',form,submited)"
            error="forms.feedback.required"></anms-error>
      </div>
      <div class='col-4 p-field form-section__field'>
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="item" (completeMethod)="searchItem($event)"
            [suggestions]="itemFilterd" field="name" [minLength]="1"
            [dropdown]="true">
            </p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'part_store.order_list.form.item' | translate }} *</label>
          </span>
          <anms-error [showError]="hasError('item',form,submited)"
            error="forms.feedback.required"></anms-error>
          <anms-error [showError]="autocompleteErrorMessage(item) && submited"
            error="forms.feedback.autocomplete_select"></anms-error>
        </div>
      </div>
    </div>
    <div class="row form-section__row">
      <div class='col-4 p-field form-section__field'>
        <span class='p-float-label'>
          <input pInputText numbersOnly [placeholder]="'part_store.order_list.request_form.quantity' | translate" formControlName='quantity' type='text'>
          <label>{{ 'part_store.order_list.request_form.quantity' | translate }} *</label>
        </span>
        <anms-error [showError]="hasError('quantity', form, submited)"
          error='forms.feedback.required'></anms-error>
      </div>
      <div class='col-4 p-field form-section__field'>
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="technician" (completeMethod)="searchtechnician($event)"
            [suggestions]="technicianFilterd" field="user.firstName" [minLength]="1" dataKey="user.id"
            [dropdown]="true">
            </p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'part_store.order_list.form.technician' | translate }} *</label>
          </span>
          <anms-error [showError]="hasError('technician',form,submited)"
            error="forms.feedback.required"></anms-error>
          <anms-error [showError]="autocompleteErrorMessage(technician) && submited"
            error="forms.feedback.autocomplete_select"></anms-error>
        </div>
      </div>
    </div>
    <div class="row form-section__row">
      <div class='col-12 p-field form-section__field'>
        <span class='p-float-label'>
          <input pInputText [placeholder]="'part_store.order_list.request_form.description' | translate" formControlName='description' type='text'>
          <label>{{ 'part_store.order_list.request_form.description' | translate }} *</label>
        </span>
        <anms-error [showError]="hasError('description', form, submited)"
          error='forms.feedback.required'></anms-error>
      </div>
    </div>
  </div>
</form>

<alert-dialog [settings]='dialogSetting' [displayModal]='dialogModal'
              (confirm)='dialogConfirm($event)'>
</alert-dialog>
