<ng-container  *hasPermission="[{parent: 'FLEET' , permission : 'ASSET', permissionType:'MENU'}]">
    <ng-container  *hasPermission="['ASSET_VIEW_LIST_MASTER_OWN' , 'ASSET_VIEW_LIST_MASTER_OTHERS']"> 
        <div  class="filter-container" *ngIf="selectedTab == 'assetMasterTab'" >
            <app-filter [setting] = "filterSetting" [filterCardSettingDelegate]='this'></app-filter>
        </div>
    </ng-container>
    <div class="table-container component_wrapper">
        <div class="pt-1">
                <app-tab-view  (selectedIndex)="selectedTab=$event" [count]="[assetMasterCount$ , registrationCount$, customizationCount$]">
                    <span class="search-container card-table-header">
                        <div class="search-box">
                            <input id="searchInput" type="text" placeholder="{{'search.search_in_columns' | translate}}">
                            <button>
                                <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
                            </button>
                        </div>
                        <button class="btn-download" (click)='exportTable()'>
                            <svg-icon [src]="downloadBtn"></svg-icon>
                        </button>
                        <ng-container *hasPermission="['ASSET_ADD']">
                            <button class="btn-primary-small" (click)="add()" *ngIf="selectedTab == 'assetMasterTab'" ><i>+</i><a>{{'search.add' | translate}}</a></button>
                        </ng-container>
                    </span>
                    <div title="tabs.asset_master" id="assetMasterTab" *hasPermission="['ASSET_VIEW_LIST_MASTER_OWN' , 'ASSET_VIEW_LIST_MASTER_OTHERS']">
                        <app-table searchInput="searchInput" (onPagination)="eventPagination_assetmaster()" pagination="asset_asset-master" [setting]="assetMasterTableSetting" [tableData]="dataAssetMaster$"></app-table>
                    </div>
                    <div title="tabs.pending_registration" id="pendingRegistrationTab" *hasPermission="['ASSET_VIEW_LIST_PENDING_OWN' , 'ASSET_VIEW_LIST_PENDING_OTHERS']">
                        <app-table searchInput="searchInput" (onPagination)="eventPagination_registration()" pagination="asset_registration" [setting]="pendingRegistrationTableSetting" [tableData]="dataRegistration$"></app-table>
                    </div>
    
                    <div title="tabs.pending_customization" id="pendingCustomizationTab" *hasPermission="['ASSET_VIEW_LIST_CUSTOMIZATION_OWN' , 'ASSET_VIEW_LIST_CUSTOMIZATION_OTHERS']">
                        <app-table searchInput="searchInput" (onPagination)="eventPagination_customization()" pagination="asset_customization" [setting]="pendingCustomizationTableSetting" [tableData]="dataCustomization$"></app-table>
                    </div>
    
                </app-tab-view>
        </div>
    </div>
</ng-container>
