@import '../../../../themes/green-theme.scss';
$primary: map-get($anms-green-primary, 300);

:host ::ng-deep {
  td .thumb {
    width: 50px;
  }
  .p-datatable .p-datatable-thead > tr > th {
    background: none;
  }
  .tabs .tab-body {
    padding: 0 !important;
  }
  .tab.ng-star-inserted {
    font-weight: normal;
  }
  .tab.ng-star-inserted.active-tab {
    font-weight: bold;
  }
  .card.parent {
    height: 45px;
    margin: 20px 20px 20px 0px;
  }
}

.card-table {
  background: #ffff;
  box-shadow: 0px 0px 2px #0000003d;
  border-radius: 4px;
}
.card-table-header {
  position: relative;
}

