@import '../../../../../themes/green-theme.scss';
.container {
  height: auto;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e0e0e0;
  .top-container {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
  }

  .bottom-container {
    padding: 30px;
    h3 {
      margin: 0;
      font-family: $fms-green-h3-font-weight;
      font-weight: $fms-green-h3-color;
      font-size: $fms-green-h3-font-size;
      color: #008755;
    }
    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      padding: 0;
      margin: 25px 0;
      li {
        font-size: 0.6rem;
        strong {
          color: #005844;
        }
        margin-top: 5px;
      }
    }
  }
}
