

<div class="left-menu">
  <span class="vehicle-sec">
    <div class="toolbar">
      <img class="toolbar-edit" src="../../../../../assets/icons/edit.svg" alt="">
    </div>
    <div class="vehicle">
      <img src="../../../../../assets/vehicle.png" alt="">
    </div>
  </span>
  <hr class="seprator">
  <div class="vehicle-info">
    <span>
      <h5 class="title">{{ 'assets.overview.overview.vin_sn' | translate }}</h5>
      <h5 class="info">{{vehicle.vin_sn}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.license_plate' | translate }}</h5>
      <h5 class="info">{{vehicle.licensePlate}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.status' | translate }}</h5>
      <h5 class="info">{{vehicle.status}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.department' | translate }}</h5>
      <h5 class="info">{{vehicle.department}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.operator' | translate }}</h5>
      <h5 class="info">{{vehicle.operator}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.group' | translate }}</h5>
      <h5 class="info">{{vehicle.group}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.make' | translate }}</h5>
      <h5 class="info">{{vehicle.make}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.model' | translate }}</h5>
      <h5 class="info">{{vehicle.model}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.year' | translate }}</h5>
      <h5 class="info">{{vehicle.year}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.trim' | translate }}</h5>
      <h5 class="info">{{vehicle.trim}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.color' | translate }}</h5>
      <h5 class="info">{{vehicle.color}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.body_type' | translate }}</h5>
      <h5 class="info">{{vehicle.bodyType}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.salik' | translate }}</h5>
      <h5 class="info">{{vehicle.salik}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.warranty' | translate }}</h5>
      <h5 class="info">{{vehicle.warranty}}</h5>
    </span>
    <span>
      <h5 class="title">{{ 'assets.overview.overview.job_card_status' | translate }}</h5>
      <h5 class="info">Open</h5>
    </span>
  </div>

</div>