@font-face {
  font-family: '29LT Bukra';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/29LT-Bukra/29lt-bukra-regular.ttf') format('truetype');
}

@font-face {
  font-family: '29LT Bukra - Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/29LT-Bukra/29lt-bukra-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans - Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf')
    format('truetype');
}
