@import '../../themes/green-theme.scss';
.form-section {
  padding: 20px 20px 0 20px;
  margin: 10px;

  font-size: 0.9em;
  box-shadow: 0px 0px 2px #0000003d;
  border-radius: 5px;
  &__title {
    color: #333;
    font-size: 1em;
    margin-bottom: 25px;
  }

  &__field {
    margin-bottom: 20px;

    .toggle-select {
      height: 40px;
    }

    .addon-primary {
      i {
        font-size: 1.35em;
        font-weight: bold;
      }
    }

    .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label,
    .p-float-label input.ng-dirty ~ label {
      top: -0.15rem;
      font-size: 1em;
      left: 0.8rem;
      width: auto;
      padding: 0 5px;
      color: #0da06e;
    }
    .p-float-label input:hover {
      border-color: #0da06e;
    }
    .p-float-label {
      ::ng-deep {
        input:hover {
          border-color: #0da06e;
        }
      }
    }
    .p-float-label input:focus:not(.invalid) {
      border-color: #0da06e !important;
    }
    p-dropdown ~ label,
    p-autocomplete ~ label,
    p-calendar ~ label {
      height: 50%;
      width: max-content;
      background: #fff;
    }
    input[type='text'] {
      font-size: 1em;
      width: 100%;
      height: 40px;

      & ~ label {
        height: 50%;
        width: 75%;
        background: #fff;
      }

      &:focus {
        box-shadow: none;
      }

      &[disabled] {
        background-color: #fff;
      }
    }
  }

  // Radio Groups
  .radio-select {
    p-radioButton {
      margin-right: 30px;
    }

    ::ng-deep {
      .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
        box-shadow: none;
        border: none;
      }
    }
  }

  // Checkbox Groups
  .checkbox-select {
    p-checkbox {
      margin-right: 18px;
    }
    ::ng-deep {
      .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
        box-shadow: none;
        // border-color: #ced4da
      }
    }
  }

  // Switch
  .toggle-select {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;

    ::ng-deep {
      .p-inputswitch.p-focus .p-inputswitch-slider {
        box-shadow: none;
        border: none;
      }
    }
  }

  .dropdown-select {
    ::ng-deep {
      .p-dropdown {
        width: 100%;
        height: 40px;
        font-size: 1em;
        .p-inputtext {
          font-family: '29LT Bukra';
          font-size: 1em;
          //margin-top: 5px;
        }
      }
      .p-dropdown:not(.p-disabled):hover {
        border-color: #0da06e;
      }
      .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: none;
      }
    }
  }
  p-autocomplete {
    ::ng-deep {
      .autocomplete-select {
        position: relative;
        .p-inputwrapper-focus {
          box-shadow: none;
          border: none;
        }

        .p-autocomplete {
          width: 100%;
          height: 40px;
          .p-autocomplete-input {
            width: 100%;
            height: 40px;
          }
          .p-autocomplete-loader {
            display: none;
          }
        }
        .pi-search {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
    }
  }
  .autocomplete-select {
    position: relative;
    ::ng-deep {
      .p-inputwrapper-focus {
        box-shadow: none;
        border: none;
      }
      .p-autocomplete {
        width: 100%;
        height: 40px;
        .p-autocomplete-input {
          width: 100%;
          height: 40px;
        }
        .p-autocomplete-loader {
          display: none;
        }
      }
      .pi-search {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  /* Inline forms */
  &--inline {
    .form-section__title {
      margin-bottom: 0;
      line-height: 40px;
    }
  }
  .p-inputgroup-addon {
    background: none;
    color: #009c62;
    border-color: #009c62;
    .pi-plus {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/* AutoComplete */
.autocomplete-select {
  position: relative;
  ::ng-deep {
    .p-inputwrapper-focus {
      box-shadow: none;
      border: none;
    }
    .p-autocomplete {
      width: 100%;
      .p-autocomplete-input {
        width: 100%;
        height: 40px;
      }
      .p-autocomplete-loader {
        display: none;
      }
    }
    .pi-search {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0.5;
    }
    .p-inputtext:enabled:focus {
      box-shadow: none;
    }
  }
}

.dropdown-select-input {
  display: flex;
  ::ng-deep {
    .p-dropdown {
      border-color: #d3d3d3;
      height: 40px;
    }
    .p-dropdown:not(.p-disabled).p-focus {
      box-shadow: none;
    }
    .p-dropdown:not(.p-disabled):hover {
      border-color: #0da06e;
    }
  }
}

/* Validation */
.red-font {
  color: #dd5648 !important;
  margin-top: 0.7em;
  margin-left: 1em;
  font-size: 1em;
}
.error-input {
  color: #dd5648 !important;
  margin: 4px 0;
  font-size: 1em;
}
.invalid {
  border-color: #dd5648 !important;
}

/* invalid class */
:host ::ng-deep {
  input.invalid,
  input.invalid:focus {
    border-color: #dd5648 !important;
    & ~ label {
      color: #dd5648 !important;
    }
  }
}
p-dropdown.invalid {
  ::ng-deep {
    .p-component {
      border-color: #dd5648 !important;
    }
  }
  & ~ label {
    color: #dd5648 !important;
  }
}
p-autocomplete.invalid {
  ::ng-deep {
    .p-autocomplete-input {
      border-color: #dd5648 !important;
    }
  }
  & ~ label {
    color: #dd5648 !important;
  }
}
p-calendar.invalid {
  ::ng-deep {
    .p-calendar input {
      border-color: #dd5648 !important;
    }
  }
  & ~ label {
    color: #dd5648 !important;
  }
}

.options-select {
  ::ng-deep {
    .p-dropdown:not(.p-disabled).p-focus {
      box-shadow: none;
    }
    .p-dropdown {
      display: flex !important;
      height: 40px;
    }
  }
}
.date-input {
  ::ng-deep {
    .p-calendar {
      height: 40px;
      width: 100% !important;
    }
    .date-icon {
      position: absolute;
      right: 4%;
      top: 17%;
    }
  }
}

.margin-top {
  margin-top: 15px;
}
