<div class="lifecycle-container">
    <div class="lifecycle-header d-flex">
        <h3 class="lifecycle-title">{{ 'chart.lifecycle' |translate}}</h3>
        <div class="lifecycle-tabs d-flex mx-5">
            <p class="mx-3">{{ 'chart.all' | translate}}</p>
            <p class="mx-3">{{ 'chart.month' | translate}}</p>
            <p class="mx-3">{{ 'chart.week' | translate}}</p>
        </div>
        <p >{{ 'chart.this_month' | translate}}</p>
    </div>
    <div class="lifecycle-line">
        <ng-container *ngFor="let cycle of lifeCycleData; let index=index; let last=last; let first=first">
            <div [class]="'lifecycle-section-container' + (cycle.year < nowYears ? ' activated' : '')" [class.active-lifecycle]="cycle.year == nowYears" >
                <span class="lifecycle-section"></span>
                <div class="lifecycle-internal-section">
                    <span *ngFor="let subModule of cycle.service"></span>
                </div>
                <p class="lifecycle-title">
                    {{cycle.year}}
                </p>
                <p class="lifecycle-subtitle">
                    {{cycle.mileage}} <ng-container *ngIf = "!last && !first">{{ 'chart.service' | translate}}</ng-container>
                </p>
            </div>
        </ng-container>
    </div>
</div>