@import '../../../../../../themes/green-theme.scss';
  .vehicle-sec {
    display: block;
    padding-bottom: 20px;

    .image-sub-asset{
      display: flex;
      justify-content: center;
      img{
        width: 12.5em;
        height: auto;
      }
    }
  }
  .vehicle-title{
    font-size:1em;
    color: #0da06e;
    font-weight: bold;
  }
  .vehicle-info {
    padding: 20px;

    & > span {
      display: flex;
      flex-direction: row;
      padding: .5em 0;

      .title {
        font-size: 0.7em;
        font-weight: bold;
        width: 40%;
      }
      .info {
        font-size: 0.9em;
        font-weight: bold;
        margin: 0px 5px;
        width: 60%;
        color: #0da06e;
      }
    }
  }

  .location {
    .map {
      padding: 0px 15px 0px 15px;
    }
  }

.wrapper_cus {
  height: 181px;
  padding: 20px;
  margin-bottom: 15px;
}

.sub-item-warranty{
  margin: 0 1em;
}

.warranty{
  flex-direction: column !important;
  margin: -5px -20px !important;
  padding: 5px 20px !important;
  & > span{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
  }
  .item-warranty{
    cursor: pointer;
    &:hover{
      transform: scale(1.1) translateX(15px);
      transition: .4s all;
      background: #0DA06E14;
    }

  }
}

.backgorund-hover{
  background: #0DA06E14;
}

.toolbar-edit{
  cursor:pointer;
  margin: 0px -20px;
}
