
<div class="left-menu">
    <span class="vehicle-sec">
      <div class="row">
        <div class="col-10">
          <div class="mx-3">
            <h6 class="vehicle-title">{{ (subAsset$ |async).title }}</h6>
          </div>
        </div>
        <div class="col-1">
          <img class="toolbar-edit" [routerLink]="['/fleet/sub-asset/edit-sub-asset/' + id]" src="assets/icons/edit.svg" alt="">
        </div>
      </div>
      <div class="image-sub-asset">
        <img [src]="(subAsset$ |async).avatar " onerror="this.src='assets/thumb.png'">
      </div>
    </span>
    <hr class="seprator">
    <div class="vehicle-info">
      <span>
        <h5 class="title">{{ 'assets.overview.overview.vin_sn' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).vin_sn}}</h5>
      </span>
      <span>
        <h5 class="title">{{ 'sub_asset.sub_asset_type' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).subAssetType}}</h5>
      </span>
      <span>
        <h5 class="title">{{ 'sub_asset.make' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).make}}</h5>
      </span>
      <span>
        <h5 class="title">{{ 'sub_asset.model' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).model}}</h5>
      </span>
      <span>
        <h5 class="title">{{ 'sub_asset.year' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).created}}</h5>
      </span>
      <span>
        <h5 class="title">{{ 'sub_asset.policy_type' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).policyType}}</h5>
      </span>
      <span>
        <h5 class="title">{{ 'sub_asset.purchase_value' | translate }}</h5>
        <h5 class="info">{{(subAsset$ |async).purchaseValue}}</h5>
      </span>
      <span *ngFor="let warranty of warranty$ | async ; let index=index" [class]="'warranty '+ (index === selectedWaranty ? 'backgorund-hover' : '')">
        <span (click)="clickWarranty(index)" class="item-warranty">
          <h5 class="title">{{ 'sub_asset.warranty_item' | translate }}</h5>
          <h5 class="info">{{warranty.item}}</h5>
        </span>
        <ng-container *ngIf="index === selectedWaranty">
          <span class="sub-item-warranty">
            <h5 class="title">{{ 'sub_asset.warranty_start_date' | translate }}</h5>
            <h5 class="info">{{warranty.startDate}}</h5>
          </span>
          <span class="sub-item-warranty">
            <h5 class="title">{{ 'sub_asset.warranty_duration' | translate }}</h5>
            <h5 class="info">{{warranty.duration}} {{warranty.durationType}}</h5>
          </span>
        </ng-container>
      </span>
    </div>

  </div>
