<form #form='ngForm' (submit)='onSubmit(form)'>
  <div class='button-container'>
    <button class='btn-primary-medium btn-scondary-green' routerLink=".." [queryParams]="{id:'suppliers'}">{{ 'forms.cancel' | translate }}</button>
    <!--    TODO: for now add button acts as cancel for UI concerns but later has to change-->
    <button class='btn-primary-medium add'>{{ 'forms.add' | translate }}</button>
  </div>
  <div class="form-section">
    <div>
      <p class='font-weight-bold'>{{ 'part_store.order_list.add_supplier' | translate }}</p>
    </div>
    <div class='row form-section__row'>
      <div class='col-4 p-field form-section__field'>
                      <span class='p-float-label'>
                          <input pInputText [placeholder]="'part_store.order_list.company' | translate" name='company' type='text'>
                          <label>{{ 'part_store.order_list.company' | translate }}</label>
                      </span>
      </div>
      <div class='col-4 p-field form-section__field'>
                      <span class='p-float-label'>
                          <input pInputText [placeholder]="'part_store.order_list.name' | translate" name='name' type='text'>
                          <label>{{ 'part_store.order_list.name' | translate }}</label>
                      </span>
      </div>
      <div class='col-4 p-field form-section__field'>
                      <span class='p-float-label'>
                          <input pInputText [placeholder]="'part_store.order_list.phone' | translate" name='phone' type='text'>
                          <label>{{ 'part_store.order_list.phone' | translate }}</label>
                      </span>
      </div>
    </div>
  
    <div class='row form-section__row'>
      <div class='col-4 p-field form-section__field'>
                      <span class='p-float-label'>
                          <input pInputText [placeholder]=" 'part_store.order_list.email' | translate " name='email' type='text'>
                          <label>{{ 'part_store.order_list.email' | translate }}</label>
                      </span>
      </div>
    </div>
  
    <div class='row form-section__row'>
      <div class='col-8 p-field form-section__field'>
                      <span class='p-float-label'>
                          <input pInputText [placeholder]=" 'part_store.order_list.address' | translate " name='address' type='text'>
                          <label>{{ 'part_store.order_list.address' | translate }}</label>
                      </span>
      </div>
    </div>
  </div>
</form>

<div class="table-container">
  <app-table [setting]='suppliersTable'></app-table>
</div>
