<ng-container *ngIf="!openAdd">
  <div class="statistic-card">
    <app-filter [setting]='filterCard'></app-filter>
  </div>
</ng-container>

<div class="component_wrapper">
  <div class="card-table-header">
    <ng-container *ngIf="!openAdd;">
      <div class="search-box">
        <input type="text" placeholder="Search in Columns">
        <button>
          <img src="../../../assets/icons/search-solid.svg" alt="">
        </button>
      </div>
      <button class="btn-download" disabled>
        <svg-icon [src]="downloadBtn"></svg-icon>
      </button>
      <button class="btn-primary-small" routerLink="add"><i>+</i><a>Add</a></button>
    </ng-container>
  </div>
  <div class="table-wreapper">
    <app-table [setting]='accessory_Table'></app-table>
  </div>
</div>
