
<mat-card class="form-section m-0 pb-2">
    <h3 class="form-section__title">{{ 'part_store.part_master.category' | translate }}</h3>
    <span class="border"></span>
    <mat-card-content>
        <div class="category-item">
            <svg-icon [src]="folderRegularSvg" [svgStyle]="{ 'width.em':1.6 , 'fill': '#505050'}"></svg-icon>
            <span class="item">{{ 'part_store.part_master.engine' | translate }}</span>
            <button><a>+</a></button>
        </div>
        <div class="category-item">
            <svg-icon [src]="folderFillSvg" [svgStyle]="{  'width.em':1.6 , 'fill': '#505050'}"></svg-icon>
            <span class="item">{{ 'part_store.part_master.filters' | translate }}</span>
            <button><a>+</a></button>
        </div>
        <div class="category-subItem">
            <span class="item">{{ 'part_store.part_master.filter_and_fuel_pump' | translate }}</span>
            <button><a>+</a></button>
        </div>
        <div class="category-addItem">
            <button><a>+</a></button>
            <span class="item">{{ 'part_store.part_list.add_category' | translate }}</span>
        </div>
        <div class="category-item">
            <svg-icon [src]="folderRegularSvg" [svgStyle]="{ 'width.em':1.6 , 'fill': '#505050'}"></svg-icon>
            <span class="item">{{ 'part_store.part_master.engine' | translate }}</span>
            <button><a>+</a></button>
        </div>
        <div class="category-item">
            <svg-icon [src]="folderRegularSvg" [svgStyle]="{ 'width.em':1.6 , 'fill': '#505050'}"></svg-icon>
            <span class="item">{{ 'part_store.part_master.engine' | translate }}</span>
            <button><a>+</a></button>
        </div>
    </mat-card-content>

</mat-card>
