<mat-card class=" component_wrapper">
    <mat-card-header>
        <mat-card-title class="mat-card-title">Category</mat-card-title>
    </mat-card-header>
    <span class="border"></span>
    <mat-card-content>
        <div class="category-item">
            <svg-icon [src]="folderRegularSvg" [svgStyle]="{ 'width.px':25 , 'fill': '#505050'}"></svg-icon>
            <span class="item">Engine</span>
            <button><a>+</a></button>
        </div>
        <div class="category-item">
            <svg-icon [src]="folderFillSvg" [svgStyle]="{ 'width.px':25 , 'fill': '#505050'}"></svg-icon>
            <span class="item">Filters</span>
            <button><a>+</a></button>
        </div>
        <div class="category-subItem">
            <span class="item">Filter, Fuel pump</span>
            <button><a>+</a></button>
        </div>
        <div class="category-addItem">
            <button><a>+</a></button>
            <span class="item">Add Category</span>
        </div>
        <div class="category-item">
            <svg-icon [src]="folderRegularSvg" [svgStyle]="{ 'width.px':25 , 'fill': '#505050'}"></svg-icon>
            <span class="item">Engine</span>
            <button><a>+</a></button>
        </div>
        <div class="category-item">
            <svg-icon [src]="folderRegularSvg" [svgStyle]="{ 'width.px':25 , 'fill': '#505050'}"></svg-icon>
            <span class="item">Engine</span>
            <button><a>+</a></button>
        </div>
    </mat-card-content>

</mat-card>