@import '../../../../../themes/green-theme';
@import '../../../../../assets/scss/form-section.scss';
.form-section {
  margin: 0 auto !important;
}

.plus-icon {
  border: 1px solid #009c62;
  border-radius: 4px;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.remove-icon {
  border: 1px solid #f75a4a;
  border-radius: 4px;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.color-circle {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgb(116, 116, 116);
  display: block;
  cursor: pointer;
  flex-wrap: wrap;
  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .4)), to(rgba(0, 0, 0, 0)));
  }
}

.car-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.new-color-circle {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: white;
  box-shadow: 2px 2px 2px -2px black;
  cursor: pointer;
}

.add-color-icon {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.trim-box {
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: unset;
  }
}

.main-content {
  display: flex;
  .sidebar {
    width: 30%;
    & > * {
      margin-bottom: 20px;
    }
  }
  .content {
    width: 70%;

    .background {
      border-radius: 4px;
      padding: 20px;
    }
  }
}
