@import '../../../../../themes/green-theme';
@import '../../../../../assets/scss/form-section.scss';
.form-section {
  margin: 0 auto !important;
}

.plus-icon {
  border: 1px solid #009c62;
  border-radius: 4px;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.remove-icon {
  border: 1px solid #f75a4a;
  border-radius: 4px;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.color-circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-width: 0.2px;
  border-style: solid;
  cursor: pointer;
  flex-wrap: wrap;
}

.car-icon {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  margin-top: 2px;
  margin-left: 1.7px;
  margin-right: 1.7px;
}

.new-color-circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  box-shadow: 2px 2px 2px -2px black;
  cursor: pointer;
}

.add-color-icon {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 3px;
}

.trim-box {
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: unset;
  }
}

.main-content {
  display: flex;
  .sidebar {
    width: 30%;
    & > * {
      margin-bottom: 20px;
    }
  }
  .content {
    width: 70%;

    .background {
      border-radius: 4px;
      padding: 20px;
    }
  }
}
