<div class="form-section">
    <div class="d-flex justify-content-between filter-section">
        <h3 class="form-section__title ">{{ 'part_store.part_master.filter_setting' | translate}}</h3>
        <button class="btn-primary-small add">{{ 'forms.apply' | translate}}</button>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="p-field form-section__field dropdown-select">
                <span class="p-float-label">
                  <p-dropdown inputId="item" placeholder="{{ 'part_store.part_master.asset_type' | translate}}<" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                  <label for="item">{{ 'part_store.part_master.asset_type' | translate}}</label>
                </span>
            </div>
        </div>
        <div class="col-4">
            <div class="p-field form-section__field dropdown-select">
                <span class="p-float-label">
                  <p-dropdown inputId="make" placeholder="{{ 'part_store.part_master.make' | translate}}" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                  <label for="make">{{ 'part_store.part_master.make' | translate}}</label>
                </span>
            </div>
        </div>
        <div class="col-4">
            <div class="p-field form-section__field dropdown-select">
                <span class="p-float-label">
                  <p-dropdown inputId="model" placeholder="{{ 'part_store.part_master.model' | translate}}" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                  <label for="model">{{ 'part_store.part_master.model' | translate}}</label>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="table-container form-section">
    <h3 class="form-section__title">{{ title$  | async }}</h3>

    <div class="card-table-content">
        <app-table [setting]="partMastertableSetting" [tableData]="tableData$"></app-table>
    </div>
</div>