
<div class="filter-container">
  <app-filter [setting]="filterSetting"></app-filter>
</div>


<ng-container *ngIf="editOpen">
  <div class="edit-box">
    <div class="edit-box__box edit-box__box--first col-8">
      <h3>Specifications</h3>
      <ul>
        <li>
          <strong>{{ 'tables.column.created_by' | translate }}</strong>
          <span>Automatic</span>
        </li>
        <li>
          <strong>Reason</strong>
          <span class="danger">
            <svg-icon src="assets/icons/out-of-policy.svg" [svgStyle]="{ 'width.px':23 , 'fill': '#fff' , 'height': '100%'}"></svg-icon>
            {{ 'tables.column.out_of_policy' | translate }}
          </span>
        </li>
        <li>
          <strong>{{ 'tables.column.assignment' | translate }}</strong>
          <span>
            <img class="user-image" src="assets/mock-user.jpg"  />
            Sam Smith &nbsp;&nbsp; 1234567890
          </span>
        </li>
        <li>
          <strong>{{ 'tables.column.established_market_value' | translate }}</strong>
          <span>12000 AED</span>
        </li>
        <li>
          <strong>{{ 'tables.column.date' | translate }}</strong>
          <span>02/02/2020</span>
        </li>
        <li>
          <strong>{{ 'tables.column.location' | translate }}</strong>
          <span>Text text text text text text text</span>
        </li>
        <li>
          <strong>{{ 'tables.column.description' | translate }}</strong>
          <span>Text text text text text text text</span>
        </li>
      </ul>
    </div>
    <div class="edit-box__box edit-box__box--last col-4">
      <h3>{{ 'tables.column.remove_item' | translate }}</h3>
      <ul>
        <li>
          <strong>{{ 'tables.column.gps' | translate }}</strong>
          <span>
            <section class="selection">
              <mat-checkbox>{{ 'tables.column.remove' | translate }}</mat-checkbox>
            </section>
          </span>
        </li>
        <li>
          <strong>{{ 'tables.column.gps' | translate }}</strong>
          <span>
            <section class="selection">
              <mat-checkbox>{{ 'tables.column.remove' | translate }}</mat-checkbox>
            </section>
          </span>
        </li>
        <li>
          <strong>{{ 'tables.column.gps' | translate }}</strong>
          <span>
            <section class="selection">
              <mat-checkbox>{{ 'tables.column.remove' | translate }}</mat-checkbox>
            </section>
          </span>
        </li>
        <li>
          <strong>{{ 'tables.column.gps' | translate }}</strong>
          <span>
            <section class="selection">
              <mat-checkbox>{{ 'tables.column.remove' | translate }}</mat-checkbox>
            </section>
          </span>
        </li>
      </ul>
    </div>
  </div>
</ng-container>


<div class="table-container component_wrapper">
  <div class="pt-1">
    <app-tab-view>
      <span class="search-container card-table-header">
        <div class="search-box">
          <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
          <button>
            <img src="assets/icons/search-solid.svg" alt="">
          </button>
        </div>
        <button class="btn-download" disabled>
          <svg-icon [src]="downloadBtn"></svg-icon>
        </button>
      </span>
      <div title="tabs.auction" id="auctionTab">
        <app-table [setting]="settingTable1"></app-table>
      </div>
      <div title="tabs.sold" id="soldTab">
        <app-table [setting]="settingTable2"></app-table>
      </div>
    </app-tab-view>
  </div>
</div>
