<div class="component_cus_wrapper">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 side-panel">
      <div class="component_sec_wrapper">
        <span class="vehicle-sec">
          <div class="vehicle">
            <img src="assets/vehicle.png" alt="">
          </div>
        </span>
        <hr class="seprator">
        <div class="ml-3">
          <h6 class="font-weight-bold green">{{ ('workshop.body_shop.requests.fleet_no' | translate) + '. DPD 123' }}</h6>
        </div>
        <div class="vehicle-info">
          <span>
            <h5 class="title">{{ 'assets.overview.overview.vin_sn' | translate }}</h5>
            <h5 class="info">{{vehicle.vin_sn}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.license_plate' | translate }}</h5>
            <h5 class="info">{{vehicle.licensePlate}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.status' | translate }}</h5>
            <h5 class="info">{{vehicle.status}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.department' | translate }}</h5>
            <h5 class="info">{{vehicle.department}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.operator' | translate }}</h5>
            <h5 class="info">{{vehicle.operator}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'workshop.body_shop.requests.asset_type' | translate }}</h5>
            <h5 class="info">{{vehicle.group}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.make' | translate }}</h5>
            <h5 class="info">{{vehicle.make}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.model' | translate }}</h5>
            <h5 class="info">{{vehicle.model}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.year' | translate }}</h5>
            <h5 class="info">{{vehicle.year}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.trim' | translate }}</h5>
            <h5 class="info">{{vehicle.trim}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.color' | translate }}</h5>
            <h5 class="info">{{vehicle.color}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.body_type' | translate }}</h5>
            <h5 class="info">{{vehicle.bodyType}}</h5>
          </span>
          <span>
            <h5 class="title">{{ 'assets.overview.overview.warranty' | translate }}</h5>
            <h5 class="info">{{vehicle.warranty}}</h5>
          </span>
          <div class="position-relative button-container view_card_button mt-3 ml-1 mr-1">
            <button
              class="w-100 btn-primary-medium add">{{'workshop.body_shop.requests.view_card' | translate}}</button>
          </div>
        </div>
        <hr class="seprator">
        <div class="location">
          <h6 class="ml-3">{{ 'assets.overview.overview.latest_location' | translate }} </h6>
          <div class="map">
            <app-map-view-core [miniMap]="true" [iServeVehicles]="[]"
                               [location]="{latitude:25.014743,longitude:55.070165}"></app-map-view-core>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-9 main-panel">
      <div class="row">
        <div class="col-12">
          <div class="filter-container">
            <app-filter [setting]="filterSetting"></app-filter>
          </div>
          <div class="table-container">
            <div class="card-table">
              <span class="search-container card-table-header">
                <div class="search-box">
                  <input type="text" placeholder="{{'search.search_in_columns' | translate}}">
                  <button>
                    <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
                  </button>
                </div>
                <button class="btn-download">
                  <svg-icon [src]="downloadBtn"></svg-icon>
                </button>
                <button class="btn-primary-small" routerLink="/workshop/body-shop/add-request"><i>+</i><a>{{'search.add' | translate}}</a></button>
              </span>
              <app-table [setting]="jobCard_Table3"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
