<div class="filter-container" *ngIf="!hasForm">
    <app-filter [setting]="filterSetting"></app-filter>
</div>
<div class="row ml-0 card-wrapper">
    <div class="col-3 col-md-3 component_wrapper form-section">
        <h3 class="form-section__title">Category</h3>
        <div class="p-field form-section__field">
            <div class="autocomplete-select">
                <span class="p-float-label">
                  <p-autoComplete [minLength]="1" placeholder="Search ..."></p-autoComplete>
                  <i class="pi pi-search"></i>
                  <!-- <label>Search...</label> -->
                </span>
            </div>
        </div>
        <hr class="line">
        <div class="mt-5">
            <div class="p-field form-section__field dropdown-select mt-4">
                <span class="p-float-label">
                  <p-dropdown inputId="typeCategory" placeholder="Type Category" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                  <label for="typeCategory">Type Category</label>
                </span>
            </div>
        </div>
        <div class="p-field form-section__field dropdown-select mt-4">
            <span class="p-float-label">
              <p-dropdown inputId="assetType" placeholder="Asset Type" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
              <label for="assetType">Asset Type</label>
            </span>
        </div>
        <div class="category-list">
            <ul>
                <li [class.active-category]="index == selectedCategory" *ngFor="let item of categoryItem;let index=index;" (click)="categorySelect(index)">
                    {{item.name}}
                </li>
            </ul>
            <a class="d-flex add-category" [routerLink]="['add-category']" (click)="hasForm = true">
                <svg-icon class='cursor-pointer ml-2' src='assets/icons/add.svg' [svgStyle]="{ 'width.em':'1.2' , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
                <span>Add Category</span>
            </a>
        </div>
    </div>
    <div class="col-9 col-md-9 pr-0" >
        <router-outlet></router-outlet>
        <ng-container *ngIf="!hasForm">
            <div class="form-section">
                <div class="d-flex justify-content-between filter-section">
                    <h3 class="form-section__title ">Filter Setting</h3>
                    <button class="btn-primary-small add">Apply</button>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="p-field form-section__field dropdown-select">
                            <span class="p-float-label">
                              <p-dropdown inputId="item" placeholder="Asset Type" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                              <label for="item">Item</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-field form-section__field dropdown-select">
                            <span class="p-float-label">
                              <p-dropdown inputId="make" placeholder="Make" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                              <label for="make">Make</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-field form-section__field dropdown-select">
                            <span class="p-float-label">
                              <p-dropdown inputId="model" placeholder="Model" [options]="itemTypes" optionLabel="name" class="dropdown-select"></p-dropdown>
                              <label for="model">Model</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container form-section">
                <h3 class="form-section__title">{{ 'part_store.part_master.filter_and_fuel_pump' | translate }}</h3>
    
                <div class="card-table-content">
                    <app-table [setting]="partMasterTableSetting"></app-table>
                </div>
            </div>
        </ng-container>
        
    </div>
</div>
