<div class="filter-container">
    <app-filter [setting]="filterSetting"></app-filter>
</div>
<div class="row m-0">
    <div class="col-3 col-md-3" style="margin-top: 15px !important;">
        <part-store-asset-type></part-store-asset-type>
        <part-store-category></part-store-category>
    </div>
    <div class="col-9 col-md-9">
        <div class="table-container">
            <div class="pt-1">
                <div class="card-table-header">
                    <p>part_store.part_master.filter_and_fuel</p>
                    <span class="search-container">
                        <div class="search-box">
                            <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
                            <button>
                                <img _ngcontent-ylk-c262="" [src]="searchIcon" alt="">
                            </button>
                        </div>
                        <button class="btn-download" disabled>
                            <svg-icon [src]="downloadBtn"></svg-icon>
                        </button>
                        <button class="btn-primary-small" [routerLink]="'./add'"><i>+</i><a>{{ 'forms.add' | translate }}</a></button>
                    </span>
                </div>
                <div class="card-table-content">
                    <app-table [setting]="partMasterTableSetting"></app-table>
                </div>
            </div>
        </div>
    </div>
</div>
