.card-table-header {
  font-weight: bold;
}

.card-table-header {
  position: relative;
  display: flex;
  padding-left: 25px;
}
.search-container {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  margin-right: 15px;
  align-self: center;
}
