<form [formGroup]="requestForm">
    <div class="button-container">
        <button class="btn-primary-medium btn-scondary-green" type="button" routerLink="..">Cancel</button>
        <button class="btn-primary-medium add" type="submit" >Add</button>
    </div>
    <div class="form-section form-section--inline">
        <div class="row form-section__row">
            <div class="col-12 col-md-6 mb-2 align-self-center">
              <div class="row">
                <div class="col-12 col-md-4">
                  <h3 class="form-section__title m-0">Request Type</h3>
                </div>
                <div class="col-12 col-md-8 row">
                  <div class="form-check col-6">
                    <input class="form-check-input" formControlName="requestType" type="radio" name="requestType" id="New" value ="new">
                    <label class="form-check-label" for="New">New</label>
                  </div>
                  <div class="form-check col-6">
                    <input class="form-check-input" formControlName="requestType" type="radio" name="requestType" id="Replacement" value ="replacement">
                    <label class="form-check-label" for="Replacement">Replacement</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- start assetType -->
            <div class="col-12 col-md-6 p-field form-section__field options-select">
              <span class="p-float-label">
                <p-dropdown formControlName="assetType"
                            [options]="assetTypes" optionLabel="name"></p-dropdown>
                <label>Asset Type * </label>
              </span>
            </div>
            <!-- end assetType -->
        </div>
    </div>

    <div class="form-section">
        <!-- start resone -->
        <div class="row form-section__row">
            <div class="col-12 p-field form-section__field">
                <span class="p-float-label">
                    <input pInputText placeholder="Resone *"
                        formControlName="resone" required
                        type="text">
                    <label>Resone *</label>
                </span>
            </div>
        </div>
        <!-- end reasone -->
        <!-- start quantity -->
        <div class="row form-section__row">
            <div class="col-12 p-field form-section__field"
                *ngIf="requestForm.controls['requestType'].value === 'new'">
                <span class="p-float-label">
                    <input pInputText placeholder="Quantity *"
                        formControlName="quality" required
                        type="text">
                    <label>Quantity *</label>
                </span>
            </div>
        </div>
        <!-- end quantity -->
        <div class="row form-section__row">
            <!-- start oldAssetType -->
            <div class="col-12 col-md-5 p-field form-section__field
                justify-height"
                *ngIf="requestForm.controls['requestType'].value ===
                'replacement'">
                <div class="autocomplete-select">
                    <span class="p-float-label">
                        <p-autoComplete formControlName="oldAssetType"
                            (completeMethod)="filterAssets($event)"
                            [suggestions]="oldAssetSuggests" field="name"
                            [minLength]="1"></p-autoComplete>
                        <i class="pi pi-search"></i>
                        <label>Old Asset *</label>
                    </span>
                </div>
            </div>
            <!-- end oldAssetType -->
        </div>
    </div>
</form>
