@mixin table($tableHeadColor, $tableHeadBg, $tableCellColor, $tableCellBg) {
  .table-container {
    background-color: $fms-green-body2-bg;
    padding: 15px 0 0 0 !important;
    margin: 16px 0 20px 0;

    .card-table-header {
      padding-right: 15px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
    }

    p-table {
      .p-datatable .p-datatable-thead > tr > th {
        background-color: $tableHeadBg;
        color: $tableHeadColor;
      }

      .p-datatable .p-datatable-tbody > tr > td {
        background-color: $tableCellBg;
        color: $tableCellColor;
      }

      .tabs .tab-body {
        padding: 0 !important;
      }
      .tab.ng-star-inserted {
        font-weight: normal;
      }
      .tab.ng-star-inserted.active-tab {
        font-weight: bold;
      }
      .card.parent {
        height: 45px;
        margin: 20px 20px 20px 0px;
      }
      .ownership-badge {
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-size: 80%;
        background: #fcb614 0% 0% no-repeat padding-box;
        max-width: 4.3em;
      }
    }
  }
}
