<div class="box p-4">
    <div >
        <apx-chart #chartMovement
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [dataLabels]="chartOptions.dataLabels"
          [colors]="chartOptions.colors"
          [fill]="chartOptions.fill"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [responsive]="chartOptions.responsive"
        ></apx-chart>
    </div>
</div>