@import '../../../../../themes/green-theme.scss';
@import '../../../../../assets/scss/form-section.scss';

.button-container {
  top: -4em;
  right: 20px;
}
.upload-box {
  .file-name-size {
    font-size: 12px;
  }

  .space-drop {
    display: block;
    border: 2px dashed #0000005e;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;

    div {
      font-size: 12px;
    }
  }
}
$temp-border-color: null;
input[type='text']#currency {
  color: black;
  opacity: 1;
  font-weight: bold;
  width: 50px;
  border-left: 0;
  margin: 0 0 0 -7px;
  background: white;
}
input[type='text']#purchase_value {
  border-right: 0;
  outline: none;
}
#purchase_value:hover + #currency {
  @if $temp-border-color != $fms-green-invalid-input-border {
    $temp-border-color: $fms-green-hovered-input-border;
    border-color: $temp-border-color;
  } @else {
    $temp-border-color: $fms-green-invalid-input-border;
    border-color: $temp-border-color;
  }
}
#purchase_value.ng-invalid.ng-touched + #currency {
  $temp-border-color: $fms-green-invalid-input-label;
  border-color: $temp-border-color;
}
input:focus + #currency {
  $temp-border-color: $fms-green-hovered-input-border;
  border-color: $temp-border-color !important;
}
.btn-primary-small.calculate-button {
  padding: 1px 1em;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  & ~ .input-money-pipe {
    right: 25%;
  }
}
.add-warranty-button {
  border: 1px solid #009c62;
  border-radius: 3px;
  cursor: pointer;
}
.review-table {
  ::ng-deep {
    :is(.p-datatable .p-datatable-thead > tr) th,
    td {
      padding: 0.6em 1rem;
    }
  }
}
.green-color {
  color: #0da06e;
  font-weight: bold;
}
mat-horizontal-stepper {
  background: transparent !important;
  ::ng-deep {
    .mat-horizontal-stepper-header-container {
      padding: 20px 20px 0 20px;
      font-size: 0.9em;
      box-shadow: 0px 0px 2px #0000003d;
      border-radius: 5px;
      padding: 24px 24px 24px 24px;
      margin: 5px 23px !important;
    }
    .mat-horizontal-content-container {
      overflow: visible;
    }
  }
}

ngx-file-drop {
  display: block;
  margin-bottom: 10px;
}
.drag-and-drop-form {
  ngx-file-drop {
    ::ng-deep {
      .ngx-file-drop__drop-zone {
        height: 40px;
      }
    }
  }
}
