<div class="row">
  <div class="col-12">
    <div class="position-relative">
        <div class="button-container">
          <button class="btn-primary-medium btn-scondary-green" type="button" (click)="cancelForm()">{{ 'forms.cancel' | translate }}</button>
          <button *ngIf="stepper.selectedIndex > 0" class="btn-primary-medium btn-scondary-green" type="button" (click)="previous()">{{ 'forms.back' | translate }}</button>
          <button class="btn-primary-medium add" *ngIf="stepper.selectedIndex != 3"  (click)="next()">{{ 'forms.next' | translate }}</button>
          <button *ngIf="stepper.selectedIndex == 3 && !uploadReview && !singleAsset" class="btn-primary-medium add" (click)="buttonUpload()">{{ 'forms.upload' | translate }}</button>
          <button *ngIf="uploadReview || (stepper.selectedIndex == 3 && singleAsset)" class="btn-primary-medium add" (click)="generateForm()">{{ (isEdit ? 'forms.edit' : 'forms.generate') | translate }}</button>
        </div>
        <div class="row form-section__row">
          <div class="col-12 px-0">
            <ng-container>
              <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
                <mat-step [editable]="isEditable" state="">
                  <form [formGroup]="formGroupAssetDetail">
                    <ng-template matStepLabel>{{ 'assets.asset_details' | translate }}</ng-template>
                    <!-- form-section -->
                    <div class="form-section component_wrapper" [formGroupName]="'businessInfo'">
                      <h3 class="form-section__title">{{ 'assets.business_info' | translate }}</h3>
                      <div class="row form-section__row">
                        <div class="col-12 col-md-4 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="businessCategory" [placeholder]="'assets.business_category' | translate"  [options]="businessCategory$ | async" optionLabel="name" dataKey="id" formControlName="businessCategory" (onChange)='onBusinessCategoryChange($event.value)'></p-dropdown>
                            <label for="businessCategory">{{ 'assets.business_category' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('businessInfo.businessCategory',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                        <div class="col-12 col-md-4 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="ownerShip" [placeholder]="'assets.ownership' | translate" [options]="ownerShip$ | async" optionLabel="name" dataKey="id" formControlName="ownership"></p-dropdown>
                            <label for="ownerShip">{{ 'assets.ownership' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('businessInfo.ownership',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                      </div>
                    </div>
                    <!-- end form-section -->
                    <!-- form-section -->
                    <div class="form-section component_wrapper" [formGroupName]="'assetDetails'">
                      <h3 class="form-section__title">{{ 'assets.asset_details' | translate }}</h3>
                      <div class="row form-section__row">
                        <div class="col-12 col-md-2 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="year" [placeholder]="'assets.year' | translate" [options]="years" optionLabel="name" optionValue="id"  formControlName="year"></p-dropdown>
                            <label for="year">{{ 'assets.year' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('assetDetails.year',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                        <div class="col-12 col-md-3 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="make"  [placeholder]="'assets.make' | translate " [options]="make$ | async" optionLabel="name" dataKey="id"  formControlName="make" (onChange)="onChangeAssetMake($event.value)"></p-dropdown>
                            <label for="make">{{ 'assets.make' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('assetDetails.make',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                        <div class="col-12 col-md-4 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="model" [placeholder]="'assets.model' | translate"  [options]="model$ | async" optionLabel="name" dataKey="id" formControlName="model"  (onChange)="onChangeAssetModel($event.value)"></p-dropdown>
                            <label for="model">{{ 'assets.model' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('assetDetails.model',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>


                        <div class="col-12 col-md-3 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="trim" [placeholder]="'assets.trim' | translate" [options]="trim$ | async" optionLabel="name" dataKey="id" formControlName="trim" (onChange)='onChangeAssetTrim($event.value)'></p-dropdown>
                            <label>{{ 'assets.trim' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('assetDetails.trim',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>

                        <div class="col-12 col-md-2 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="color" [placeholder]="'assets.color' | translate" [options]="color$ | async" optionLabel="name" dataKey="id" formControlName="color"></p-dropdown>
                            <label for="color">{{ 'assets.color' | translate }}</label>
                          </span>
                          <anms-error
                            [showError]="hasError('assetDetails.color',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>

                        <div class="col-12 col-md-3 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="origin"  [placeholder]="'assets.origin' | translate " [options]="origin$ | async" optionLabel="name" dataKey="name"  formControlName="origin"></p-dropdown>
                            <label>{{ 'assets.origin' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('assetDetails.origin', formGroupAssetDetail, submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                        <div class="col-12 col-md-4 mb-2 align-selft-center ">
                          <div class="row">
                            <div class="col-12 col-md-4 mt-3">
                              <h3 class="form-section__title m-0">{{ 'assets.meterType' | translate }}</h3>
                            </div>
                            <div class="col-12 col-md-8 row mt-2 pt-1">
                              <div class="form-check col-6">
                                <input class="form-check-input" type="radio" id="Kilometers"  formControlName="meterType" value ="KILOMETER">
                                <label class="form-check-label" for="Kilometers">{{ 'assets.kilometers' | translate }}</label>
                              </div>
                              <div class="form-check col-6">
                                <input class="form-check-input" type="radio"  id="By_Hours" formControlName="meterType" value ="HOUR">
                                <label class="form-check-label" for="By_Hours">{{ 'assets.by_hour' | translate }}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end form-section -->
                    <!-- form-section -->
                    <div class="form-section component_wrapper" [formGroupName]="'purchasedFor'" >
                      <h3 class="form-section__title">{{ 'assets.purchased_for' | translate }}</h3>
                      <div class="row form-section__row">
<!--                        <div class="col-12 col-md-3 p-field form-section__field options-select">-->
<!--                          <span class="p-float-label">-->
<!--                            <p-dropdown inputId="department" [placeholder]="'assets.department' | translate"  [options]="department$ | async" optionLabel="organizationName" dataKey="id" formControlName="department" dataKey="id"></p-dropdown>-->
<!--                            <label for="department">{{ 'assets.department' | translate }} *</label>-->
<!--                          </span>-->
<!--                          <anms-error-->
<!--                            [showError]="hasError('purchasedFor.department',formGroupAssetDetail,submitted_AssetDetail)"-->
<!--                            error="forms.feedback.required">-->
<!--                          </anms-error>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-md-3 p-field form-section__field options-select">-->
<!--                          <span class="p-float-label">-->
<!--                            <p-dropdown inputId="section" [placeholder]="'assets.section' | translate"  [options]="section$ | async" optionLabel="name" dataKey="id" formControlName="section" dataKey="id"></p-dropdown>-->
<!--                            <label for="section">{{ 'assets.section' | translate }} *</label>-->
<!--                          </span>-->
<!--                          <anms-error-->
<!--                            [showError]="hasError('purchasedFor.section',formGroupAssetDetail,submitted_AssetDetail)"-->
<!--                            error="forms.feedback.required">-->
<!--                          </anms-error>-->
<!--                        </div>-->
                        <div class="col-12 col-md-3 p-field form-section__field">
                          <div class="autocomplete-select">
                            <span class="p-float-label">
                              <p-autoComplete formControlName="department" (completeMethod)="searchDepartment($event)"
                                              [suggestions]="departmentFiltered" field="organizationName" [minLength]="1"
                                              (onSelect)="departmentChanged($event)"
                                              [dropdown]="true">
                              </p-autoComplete>
                              <i class="pi pi-search"></i>
                              <label>{{ 'configuration.users.department' | translate }} *</label>
                            </span>
                            <anms-error [showError]="hasError('department',formGroupAssetDetail.get('purchasedFor'),submitted_AssetDetail)"
                                        error="forms.feedback.required"></anms-error>
                          </div>
                        </div>
                        <div class="col-12 col-md-3 p-field form-section__field">
                          <div class="autocomplete-select">
                            <span class="p-float-label">
                              <p-autoComplete formControlName="section" (completeMethod)="searchSection($event)"
                                              [suggestions]="sectionFiltered" field="name" [minLength]="1"
                                              (onSelect)="sectionChanged($event)"
                                              [dropdown]="true">
                              </p-autoComplete>
                              <i class="pi pi-search"></i>
                              <label>{{ 'configuration.users.section' | translate }} *</label>
                            </span>
                            <anms-error [showError]="hasError('section',formGroupAssetDetail.get('purchasedFor'),submitted_AssetDetail)"
                                        error="forms.feedback.required"></anms-error>
                          </div>
                        </div>
                        <div class="col-12 col-md-3 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <p-dropdown inputId="operator"  [placeholder]="'assets.operator' | translate" [options]="operator$ | async" optionLabel="firstName" dataKey="id" formControlName="operator"></p-dropdown>
                            <label for="operator">{{ 'assets.operator' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('purchasedFor.operator',formGroupAssetDetail,submitted_AssetDetail)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                      </div>
                    </div>
                    <!-- end form-section -->
                    <!-- form-section -->
                    <div class="form-section component_wrapper">
                      <h3 class="form-section__title">{{ 'assets.upload_form.title' | translate }}</h3>
                      <anms-uploader [files]="vehicleDoc" [multiple]="true" [preview]="true" [hasError]="vehicleDocRequired" (uploadedEvent)="uploadVehicleFiles($event)" ></anms-uploader>
                    </div>
                    <!-- end form-section -->
                  </form>
                </mat-step>
                <mat-step [editable]="isEditable">
                  <form [formGroup]="formGroupFinancial">
                    <ng-template matStepLabel>{{ 'assets.financial' | translate }}</ng-template>
                    <div class="row">
                      <div class="col">
                        <div class="form-section component_wrapper" [formGroupName]="'assetFinancialPlan'">
                          <h3 class="form-section__title">{{ 'assets.asset_financial_plan' | translate }}</h3>
                          <div class="row">
                            <div class="col-12 col-md-5 p-field form-section__field options-select"
                                  [class.col-md-12]="policyType.value != ''" >
                              <span class="p-float-label">
                                <p-dropdown inputId="policyType" formControlName="policyType" [placeholder]="'assets.policy_type' | translate " [options]="policyType$ | async" optionLabel="name" dataKey="id" (onChange)="onChangePolicyType($event.value)"></p-dropdown>
                                <label for="policyType">{{ 'assets.policy_type' | translate }} *</label>
                              </span>
                              <anms-error
                                [showError]="hasError('assetFinancialPlan.policyType',formGroupFinancial,submitted_Financial)"
                                error="forms.feedback.required">
                              </anms-error>
                            </div>
                            <div class="col-md-3 p-field form-section__field" [class.col-md-9]="policyType.value != ''" >
                              <span class="p-inputgroup p-float-label d-flex">
                                <input id="purchase_value" pInputText numbersOnly formControlName="purchaseValue" [placeholder]=" 'assets.purchase_value' | translate"  type="text" (keyup)="calculate = false">
                                <input [hidden]='policyType.value === ""' pInputText type="text" id="currency" value="AED" disabled/>
                                <label>{{ 'assets.purchase_value' | translate }} *</label>
                                <button *ngIf="!calculate" class="btn-primary-small calculate-button" (click)="calculateAssetPolicy()">{{ 'assets.calculate' | translate }} </button>
                              </span>
                              <anms-error
                                [showError]="hasError('assetFinancialPlan.purchaseValue',formGroupFinancial,submitted_Financial)"
                                error="forms.feedback.required">
                              </anms-error>
                            </div>
                          </div>
                        </div>
                        <div class="form-section component_wrapper" [formGroupName]="'lifeCycle'">
                          <h3 class="form-section__title">{{ 'assets.life_cycle' | translate }}</h3>
                          <div class="row">
                            <div class="col-12 col-md-3 p-field form-section__field date-input" [class.col-md-6]="policyType.value != ''" [class.col-md-12]="lifeCylceDate.value == '' && lifeCylceOdometer.value != '' && policyType.value != ''">
                              <span class="p-float-label">
                                <p-calendar inputId="basic" formControlName="inServiceDate" [readonlyInput]="true"></p-calendar>
                                <svg-icon class="date-icon"  [src]="calenderIcon" [svgStyle]="{ 'width.px':20 , 'fill': 'rgb(161 161 161)' ,'height': '100%'}"></svg-icon>
                                <label>{{ 'assets.in_service_date' | translate }} * </label>
                              </span>
                              <anms-error
                                [showError]="hasError('lifeCycle.inServiceDate',formGroupFinancial,submitted_Financial)"
                                error="forms.feedback.required">
                              </anms-error>
                            </div>
                            <div *ngIf="lifeCylceDate.value != '' " class="col-md-3 form-section__field" [class.col-md-6]="policyType.value != ''" >
                              <div class="toggle-select">
                                <p-inputSwitch formControlName="inServiceDateReminder"></p-inputSwitch>
                                <label>{{ 'assets.set_reminder' | translate }} </label>
                              </div>
                            </div>
                            <div *ngIf="inServiceDateReminder.value == true " class="col-12 col-md-4" [class.col-md-12]="policyType.value != ''">
                              <div class="row">
                                <div class="col-5 p-field form-section__field options-select">
                                  <span class="p-float-label ">
                                    <p-dropdown inputId="lifeCycleDateReminder" [placeholder]="'assets.week' | translate " [options]="itemTypes" optionLabel="name" optionValue="id"></p-dropdown>
                                    <label for="lifeCycleDateReminder">{{ 'assets.week' | translate }} </label>
                                  </span>
                                </div>
                                <div class="col-7 pl-0 p-field form-section__field">
                                  <span class="p-float-label">
                                    <input pInputText  [placeholder]="'assets.reminder_before' | translate " type="text">
                                    <label>{{ 'assets.reminder_before' | translate }}</label>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3 p-field form-section__field" [class.col-md-6]="policyType.value != ''" >
                              <span class="p-float-label">
                                <input pInputText numbersOnly formControlName="inServiceOdometer"  [placeholder]="('assets.in_service_odometer' | translate) + ' *'" type="text">
                                <label>{{ 'assets.in_service_odometer' | translate }} *</label>
                              </span>
                              <anms-error [showError]="hasError('lifeCycle.inServiceOdometer', formGroupFinancial, submitted_Financial)"
                                          error="forms.feedback.required">
                              </anms-error>
                            </div>
                            <div *ngIf="lifeCylceOdometer.value != '' " class="col-md-3 form-section__field" [class.col-md-6]="policyType.value != ''">
                              <div class="toggle-select">
                                <p-inputSwitch formControlName="inServiceOdometerReminder"></p-inputSwitch>
                                <label>{{ 'assets.set_reminder' | translate }} </label>
                              </div>
                            </div>
                            <div *ngIf="inServiceOdometerReminder.value == true " class="col-12 col-md-4" [class.col-md-12]="policyType.value != ''">
                              <div class="row">
                                <div class="col-5 p-field form-section__field options-select">
                                  <span class="p-float-label ">
                                    <p-dropdown inputId="lifeCycleDateReminder" [placeholder]="'assets.week' | translate " [options]="itemTypes" optionLabel="name" optionValue="id"></p-dropdown>
                                    <label for="lifeCycleDateReminder">{{ 'assets.week' | translate }} </label>
                                  </span>
                                </div>
                                <div class="col-7 pl-0 p-field form-section__field">
                                  <span class="p-float-label">
                                    <input pInputText  [placeholder]="'assets.reminder_before' | translate " type="text">
                                    <label>{{ 'assets.reminder_before' | translate }}</label>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section component_wrapper">
                          <h3 class="form-section__title">{{ 'assets.upload_purchase_order' | translate }}</h3>
                          <anms-uploader [files]="purchaseDoc" [multiple]="false" [preview]="true" [hasError]="purchaseDocRequired" (uploadedEvent)="uploadPurchaseFiles($event)"></anms-uploader>
                        </div>
                      </div>
                      <div *ngIf="policyType.value != '' " class="col-12 col-md-7">
                        <div class="form-section component_wrapper pb-3">
                          <h3 class="form-section__title">{{ 'assets.review_your_plan' | translate }}</h3>
                          <div class="table-container p-0 review-table">
                            <app-table [setting]="reviewPlaneSettingTable" [tableData]="policyTypeTableData$"></app-table>
                          </div>
                          <ng-container *ngIf="calculate">
                            <div  class="table-container p-0 review-table">
                              <app-table [setting]="reviewPlaneSettingTable2"></app-table>
                            </div>
                            <!-- <div class="row">
                              <div class="col-12 col-md-8  p-field form-section__field" [class.col-md-9]="policyType.value != ''" >
                                <span class="p-float-label d-flex">
                                  <input pInputText [placeholder]=" 'assets.estimate_market_value' | translate"  type="text">
                                  <label>{{ 'assets.estimate_market_value' | translate }} *</label>
                                  <span class="input-money-pipe">AED</span>
                                </span>
                              </div>
                            </div> -->
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </form>

                </mat-step>
                <mat-step [editable]="isEditable">
                  <form [formGroup]="formGroupMaintenance">
                    <ng-template matStepLabel>{{ 'assets.maintenance' | translate }}</ng-template>
                    <div class="row">
                      <div class="col d-flex">
                        <div class="row m-0 w-100">
                          <div class="col p-0 d-flex">
                            <div class="form-section component_wrapper w-100">
                              <h3 class="form-section__title">{{ 'assets.maintenance_service' | translate }}</h3>
                              <div class="row">
                                <div class="col-12 p-field form-section__field options-select" [class.col-md-8]="periodicService.value == '' ">
                                  <span class="p-float-label">
                                    <p-dropdown inputId="periodicService" formControlName="periodicService" [placeholder]=" 'assets.periodic_service' | translate" [options]="periodicService$ | async" optionLabel="name" dataKey="id" (onChange)="onChangePeriodicService($event.value)"></p-dropdown>
                                    <label for="periodicService">{{ 'assets.periodic_service' | translate }} *</label>
                                  </span>
                                  <anms-error
                                    [showError]="hasError('periodicService',formGroupMaintenance,submitted_Maintenance)"
                                    error="forms.feedback.required">
                                  </anms-error>
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="col-12 p-0 d-flex">
                              <div class="form-section component_wrapper w-100" >
                                <span class="d-flex mb-4">
                                  <span class="p-inputgroup-addon  add-warranty-button" (click)="addWarrantyItem()"><i class="pi pi-plus"></i></span>
                                  <h3 class="form-section__title align-self-center m-2">{{ 'assets.warranty_items' | translate }}</h3>
                                </span>
                                <div  formArrayName="warrantyItems" *ngFor="let warranty of formGroupMaintenance.get('warrantyItems')['controls']; let i=index">
                                  <div class="row mt-2" [formGroupName]="i">
                                    <div class="col-12 col-md-6" [class.col-md-12]="periodicService.value != '' ">
                                      <div class="row">
                                        <div class="col-12 col-md-6 p-field form-section__field options-select">
                                          <span class="p-float-label">
                                            <input pInputText formControlName="item" [placeholder]="('assets.item' | translate) + '*'"  (ngModelChange)="selectWarrantyDate()" type="text">
                                            <label>{{ 'assets.item' | translate }}</label>
                                          </span>
                                          <anms-error
                                            [showError]="formArrayHasError(submitted_Maintenance, warrantyItems,i,'item')"
                                            error="forms.feedback.required">
                                          </anms-error>
                                        </div>
                                        <div class="col-12 col-md-3 p-field form-section__field options-select">
                                          <span class="p-float-label">
                                            <p-dropdown inputId="periodicService" formControlName="periodType" (onChange)="selectWarrantyDate()" [placeholder]="'assets.period_type' | translate" [options]="periodType" optionLabel="name" optionValue="id"></p-dropdown>
                                            <label for="periodicService">{{ 'assets.period_type' | translate }}</label>
                                          </span>
                                          <anms-error
                                            [showError]="formArrayHasError(submitted_Maintenance, warrantyItems,i,'periodType')"
                                            error="forms.feedback.required">
                                          </anms-error>
                                        </div>
                                        <div class="col-12 col-md-3 pl-0 p-field form-section__field options-select">
                                          <span class="p-float-label">
                                            <input pInputText numbersOnly [placeholder]="'assets.duration' | translate" (ngModelChange)="selectWarrantyDate()" formControlName="duration"  type="number">
                                            <label>{{ 'assets.duration' | translate }}</label>
                                          </span>
                                          <anms-error
                                            [showError]="formArrayHasError(submitted_Maintenance, warrantyItems,i,'duration')"
                                            error="forms.feedback.required">
                                          </anms-error>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-3" [class.col-md-12]="periodicService.value != '' " [class.col-md-6]="periodicService.value == '' && getWarrantyStartDat(i) != ''">
                                      <div class="row">
                                        <div class="col" [class.col-6]="periodicService.value != ''">
                                          <div class="p-field form-section__field date-input">
                                            <span class="p-float-label">
                                              <p-calendar inputId="basic" (onSelect)="selectWarrantyDate()" formControlName="startDate" [readonlyInput]="true" ></p-calendar>
                                              <svg-icon class="date-icon" [src]="calenderIcon" [svgStyle]="{ 'width.px':20 , 'fill': 'rgb(161 161 161)' ,'height': '100%'}"></svg-icon>
                                              <label>{{ 'assets.warranty_start_date' | translate }}</label>
                                            </span>
                                            <anms-error
                                              [showError]="formArrayHasError(submitted_Maintenance, warrantyItems,i,'startDate')"
                                              error="forms.feedback.required">
                                            </anms-error>
                                          </div>
                                        </div>
                                        <div class="col-12 col-md-6 p-field form-section__field" *ngIf="getWarrantyStartDat(i) != ''">
                                          <div class="toggle-select">
                                            <p-inputSwitch formControlName="hasReminder"></p-inputSwitch>
                                            <label>{{ 'assets.set_reminder' | translate }} </label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-6 col-md-3" [class.col-md-6]="periodicService.value != '' ">
                                      <anms-uploader [files]="[warrantyDocs[i]]" [multiple]="false" [preview]="true" [hasError]="(formGroupMaintenance.get('warrantyItems')['controls'][i]['controls'].docId.errors !== null) && formGroupMaintenance.get('warrantyItems')['controls'][i]['controls'].docId.touched" (uploadedEvent)="uploadWarrantyFiles($event , i)"></anms-uploader>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 d-flex" *ngIf="periodicService.value != '' ">
                        <div class="form-section">
                          <div class="table-container p-0 review-table">
                            <app-table [setting]="periodicServiceSettingTable" [tableData]="periodicServiceTableData$"></app-table>
                          </div>
                          <p class="green-color" *ngIf="getWarrantyStartDat(0) != ''">
                            Job Cards For Maintenance Services Automatically Will Create After This Step
                          </p>
                          <div class="table-container p-0 mt-2 review-table" *ngIf="getWarrantyStartDat(0) != ''">
                            <app-table [setting]="warrantySettingTable" [tableData]="warrantyTableData$"></app-table>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="form-section component_wrapper">
                      <div class="row">
                        <div class="col-12 p-field form-section__field options-select">
                          <span class="p-float-label">
                            <input  formControlName="description" pInputTextarea   [placeholder]="('assets.description' | translate) + '*'"  type="text">
                            <label>{{ 'assets.description' | translate }} *</label>
                          </span>
                          <anms-error
                            [showError]="hasError('description',formGroupMaintenance,submitted_Maintenance)"
                            error="forms.feedback.required">
                          </anms-error>
                        </div>
                      </div>
                    </div>
                  </form>
                </mat-step>
                <mat-step [editable]="isEditable">
                  <div >
                    <form *ngIf="!uploadReview" [formGroup]="formGroupGenerate">
                      <ng-template matStepLabel>{{ 'assets.generate' | translate }}</ng-template>
                      <div class="form-section component_wrapper pb-1">
                        <div class="row">
                          <div class="col-2">
                            <h3 class="form-section__title">{{ 'assets.asset_quantity' | translate }}</h3>
                          </div>
                          <div class="col-2">
                            <div class="form-check" *ngIf="!isEdit">
                              <input class="form-check-input" formControlName="quantity"  type="radio" name="quantity" id="multipleAsset" value ="multipleAsset" (click)="assetQuantity($event)">
                              <label class="form-check-label" for="multipleAsset">{{ 'assets.multiple_assets' | translate }}</label>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="form-check" *ngIf="!isEdit">
                              <input class="form-check-input" formControlName="quantity" type="radio" name="quantity" id="singleAsset" value ="singleAsset" (click)="assetQuantity($event)">
                              <label class="form-check-label" for="singleAsset">{{ 'assets.single_asset' | translate }}</label>
                            </div>
                          </div>
                          <div *ngIf="this.formGroupGenerate.get('quantity').value == 'singleAsset'" class="col-3 p-field form-section__field">
                            <span class="p-float-label">
                              <input pInputText numbersOnly [placeholder]="'assets.serial_number' | translate" formControlName="serialNumber" type="text">
                              <label>{{ 'assets.serial_number' | translate }}</label>
                            </span>
                            <anms-error
                            [showError]="hasError('serialNumber',formGroupGenerate,submitted_Generate)"
                            error="forms.feedback.required">
                            </anms-error>
                          </div>
                        </div>
                        <anms-uploader *ngIf="this.formGroupGenerate.get('quantity').value == 'multipleAsset'" [readCSVFile]="true" [multiple]="false" [preview]="true" [accept]="'.csv'" [hasError]="maintenanceServiceDocRequired" (uploadedEvent)="maintenanceServiceFiles($event)" (csvTextEvent)="csvReader($event)"></anms-uploader>
                      </div>
                      <div class="form-section">
                        <div class="row form-section__row">
                          <div class="col-2">
                            <h3 class="form-section__title">{{ 'assets.thumbnail' | translate }}</h3>
                          </div>
                          <div class="col-12">
                            <anms-uploader [multiple]="false" [preview]="true" [isImage]="true" [accept]="['.png', '.jpg']" [hasError]="thumbnailRequired" (uploadedEvent)="uploadImage($event)" [files]="[avatarDocId]"></anms-uploader>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div *ngIf="uploadReview">
                      <div class="table-container p-0 mt-2 review-table">
                        <h3 class="form-section__title px-4 pt-4">{{ formReviewSettingTable.data.length }} {{ "assets.asset_found" | translate }}</h3>
                        <app-table [setting]="formReviewSettingTable"></app-table>
                      </div>
                    </div>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </ng-container>
          </div>
        </div>
      </div>
  </div>
</div>