@import '../../../../../themes/green-theme.scss';
@import '../../../../../assets/scss/form-section.scss';

.upload-box {
  .file-name-size {
    font-size: 12px;
  }

  .space-drop {
    display: block;
    border: 2px dashed #0000005e;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;

    div {

      font-size: 12px;
    }
  }
}

ngx-file-drop {
  display: block;
  margin-bottom: 10px;
}
