.tabs {
  display: flex;
  flex-direction: column;

  .tab-titles {
    width: 100%;
    // background: #fff;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 16px;
    height: 3.25em;
    .tab {
      border-radius: 5px;
      width: fit-content;
      padding: 0 16px;
      margin: 0 2px 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      .count {
        color: #475F7B;
        margin: 0 0.4em;
        padding: 0 0.3em;
        border-radius: 3px;
        background-color: #fff;
        font-size: 15px;
        font-family: "IBM Plex Sans", "29LT Bukra";
      }
      &:first-child {
        margin-left: 7px;
      }
    }

    .active-tab {
      color: #0da06e;
      margin-bottom: 0px;
      border-radius: 5px 5px 0px 0px;
      .count {
        border: 1px solid #0DA06E;
        color: #0DA06E;
        background-color: transparent;
      }
    }
  }
  @media only screen and (max-width: 1600px) {
    .tab-titles {
      font-size: 13px;
    }
    @media only screen and (max-width: 1366px) {
      .tab-titles {
        font-size: 11px;
      }
    }
  }
  .tab-body {
    min-height: 50px;
    margin-top: 0px;
    padding: 0px;
  }
}
