<div class="tabs">
  <div class="tab-titles" #tabsHeader>
    <ng-template [ngIf]="true">
      <div [class]="'tab'+(tab.index==selectedTab?(container?' active-tab-w':' active-tab'):'')" *ngFor="let tab of tabs"
           (click)="selectTab(tab.index, tab.id != null ?  tab.id : tab.title , $event)">
        {{tab.title | translate}}
        <span *ngIf="tab.count != null" class="count">{{tab.count | async}}</span>
        <!-- <span class="count">{{count[0] | async }}</span> -->
      </div>
      <ng-content select=".search-container"></ng-content>
    </ng-template>
  </div>
  <div [class]="container?'tab-body-w':'tab-body'" #content>
    <ng-content select="div"></ng-content>
  </div>
</div>
