.toolbar {
  display: flex;
  flex-direction: row-reverse;

  .search {
    margin: 5px;
  }

  .btn-group {
    margin-top: 10px;
    border: 1px solid rgba(70, 70, 70, 0.068);
    border-radius: 5px;
    height: 35px;
    background: #dedede;

    button {
      background: transparent;
      border: none;
      height: 100%;
      max-height: 100%;
      min-height: 100%;
    }

    button:nth-child(2) {
      border-left: 1px solid rgba(75, 75, 75, 0.23);
      border-right: 1px solid rgba(75, 75, 75, 0.23);
    }
  }
}

.info-box {
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  border-radius: 5px;

  .thumb-span {
    width: 100%;
    img {
      display: block;
      width:  1.6em;
      height:  1.6em;
      margin: 5px;
      border-radius: 5px;
    }
  }
}

.search input {
  height: 26px;
  border: 1px solid rgba(82, 82, 82, 0.301);
  border-radius: 5px;
  padding: 15px;
}

.color-button {
  padding: 5px;
  background: #0da06e;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;

  img {
    width:  1.6em;
    height:  1.6em;
  }
}

.color-button-invert {
  padding: 5px;
  background: transparent;
  box-shadow: 0px 0px 2px #0000003D;
  border-radius: 8px;
  margin: 5px;
  img {
    width: 1.6em;
    height:  1.6em;
  }
}

.overview {
  .status-bar {
    ._row {
      display: flex;
      flex-direction: row;

      .status-box {
        display: flex;
        flex-direction: row;
        padding: 15px;
        flex: 1 18%;

        .text {
          flex: 1 60%;

          .amount {
            font-size: 0.7em;
            font-weight: bold;
            color: #008755;
          }

          .unit {
            font-size: 0.8em;
          }
        }

        .icon {
          flex: 2 1.6em;
          display: flex;
          align-items: center;

          img {
            width: 100%;
            height: max-content;
            max-height: 3em;
          }
        }
      }
    }
    .width-4 {
      min-width: 24%;
    }
  }

  .contain {
    border: 1px solid rgb(77 77 77 / 27%);
    margin: 20px 10px;
    border-radius: 5px;
    padding: 10px;
    .title {
      display: flex;
      justify-content: space-between;
      h4 {
        font-size: 1em;
        color: #008755;
        font-weight: bold;
      }
      .summary {
        display: flex;
        flex-direction: column;
        &-title {
          font-size: 0.6em;
        }
        &-value {
          color: #008755;
        }
      }
    }
  }

  .traffic-fine {
    display: flex;
    flex-direction: column;
    .chart {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
    }
  }

  .damage-history {
    .title {

    }
    .sort {
      span {
        background-color: #f3f3f3;
        padding: 5px 4px;
        height: 30px;
        width: 45px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
      }
    }
    .item-body {
      box-shadow:  0px 0px 10px #00000026;
      padding: 1em;
      &__title {
        font-weight: 600;
        font-size: 14px;
      }
      &__desc {
        font-size: 12px;
      }
      &__img {
        width: 180px;
        height: 180px;
        border-radius: 5px;
      }
      &__author {
        font-size: 12px;
      }
    }
  }

  .workout-statics {
    flex: 2 60%;
  }

  .reminders {
    .reminders-box {
      .reminder {
        border: 1px solid #64646480;
        display: flex;
        border-radius: 5px;
        padding: 12px;
        margin: 4px;
        justify-content: space-between;
        font-size: 0.6rem;

        .text {
          .date {
            display: inline-flex;
          }
        }

        .action {
          display: flex;
          align-items: center;
        }
      }

      .legend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .border-override {
          border: none;
          padding: 5px 5px 0px 5px;

          .bullet {
            width: 10px !important;
            height: 10px !important;
            margin: 4px !important;
          }
        }

        span {
          display: flex;
          flex-direction: row;
        }
      }

      .bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 4px;
      }

      .over {
        border: 1px solid #ff0000;
        .bullet {
          margin: 1px 4px !important;
          width: 15px !important;
          height: 15px !important;
          background: #ff0000;
        }

        .action {
          color: #ff0000;
        }
      }

      .normal {
        border: 1px solid #26d07c;
        .bullet {
          background: #26d07c;
        }

        .action {
          color: #26d07c;
        }
      }

      .urgent {
        border: 1px solid #f17105;
        .bullet {
          margin: 1px 4px !important;
          width: 15px !important;
          height: 15px !important;
          background: #f17105;
        }

        .action {
          color: #f17105;
        }
      }

      .normal2 {
        border: 1px solid #6665dd;
        .bullet {
          background: #6665dd;
        }

        .action {
          color: #6665dd;
        }
      }
    }
  }

  .vehicle-details {
    display: flex;
    flex-direction: column;

    .flex-container {
      display: flex;
      flex-direction: row;

      .infos {
        flex: 1 30%;
        display: flex;
        flex-direction: column;

        .info {
          margin: 10px;
        }
      }
      .details {
        flex: 2 40%;
        padding: 10px;
        border: 1px solid #4644441f;
        border-radius: 5px;
        margin: 10px;

        .detail {
          .details-box {
            .detail-box {
              display: flex;
              flex-direction: row;

              .inner-details {
                padding: 0px 15px 10px 12px;
                border-radius: 5px;
              }
            }
          }
        }

        .speed-box {
          .speed-section {
            margin: 22px 0px;
          }
        }
      }
    }

    .car {
      flex: 3 30%;
      position: relative;
      justify-content: flex-end;
      display: flex;
      .driver {
        top: 50%;
        position: absolute;
        width: 100%;
        display: flex;
        .color-button-invert {
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 12rem;
          margin: 0;
          img {
            width: 2.6em;
            height: 2.6em;
            border-radius: 0.5em;
          }
          .seprator {
            margin: 0 0.1em;
          }
          .fullname {
            font-size: 0.8em;
            font-weight: bold;
          }
          .desc {
            font-size: 0.7em;
          }
        }
        .connect-line {
          width: 6rem;
          background-color: #008755;
          height: 2px;
          margin-top: 1.5rem;
        }
      }
    }

  }
}

.tabs-specific {
  padding: 1em 0;
  span {
    padding: 1em 0.5em;
    cursor: pointer;
    &.active {
      color: #008755;
      border-bottom: 2px solid #008755;
    }
  }
}

._row {
  display: flex;
  flex-direction: row;

}

#chart apx-chart{
  ::ng-deep{
    .apexcharts-legend{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 1410px) {
  ._row-custom-wrap {
    display: flex;
    flex-direction: row;
  }
  .vehicle-details {
    .car {
      flex-direction: column;
      img {
        height: 25rem;
        width: 100%;
      }
      .driver {
        justify-content: center;
        position: initial !important;
        .connect-line {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1410px) {
  ._row-custom-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
