<div class="statistic-card">
  <app-filter [setting]='filterCard'></app-filter>
</div>
<div class="table-container component_wrapper">
  <div class="search-container card-table-header">
    <div class="search-box">
      <input type="text" placeholder="{{ 'search.search_in_columns' | translate }}">
      <button>
        <img src="assets/icons/search-solid.svg" alt="">
      </button>
    </div>
    <button class="btn-download" (click)="exportTable()">
      <svg-icon [src]="downloadBtn"></svg-icon>
    </button>
    <button class="btn-primary-small" routerLink='add-new-user'><i>+</i><a>{{ 'search.add' | translate }}</a></button>
  </div>
  <div class="table-wreapper">
    <app-table *ngIf="this.users_Table?.data" [setting]='users_Table' [tableData]="data$"></app-table>
  </div>
</div>
