<div class="part-overview">
  <div class="row">
    <div class="col-12 col-md-4 mt-3">
      <div class="part-overview__images">
        <div class="selected-image">
          <img #selectedImage src="https://via.placeholder.com/500x500?text=A" alt="Selected Image">
        </div>
        <ul>
          <li><img (click)="changeImage($event)" src="https://via.placeholder.com/500x500?text=A" alt=""></li>
          <li><img (click)="changeImage($event)" src="https://via.placeholder.com/500x500?text=B" alt=""></li>
          <li><img (click)="changeImage($event)" src="https://via.placeholder.com/500x500?text=C" alt=""></li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="component_wrapper">
        <div class="button-container">
          <button class="btn-primary-medium btn-scondary-green" type="button" routerLink="..">{{ 'forms.cancel' | translate }}</button>
          <button class="btn-primary-medium add">{{ 'forms.order' | translate }}</button>
        </div>

        <div class="overview-container">
          <h3 class="part-overview__title">{{ 'part_store.part_overview.item_no' | translate }} 123456</h3>

          <button class="btn-download"><a></a></button>
          <table class="part-overview__info">
          <tr>
            <th>{{ 'tables.column.category' | translate }}</th>
            <td>Name is here</td>
          </tr>
          <tr>
            <th>{{ 'tables.column.model' | translate }}</th>
            <td>BMW</td>
          </tr>
          <tr>
            <th>{{ 'tables.column.quantity' | translate }}</th>
            <td>123</td>
          </tr>
          <tr>
            <th>{{ 'tables.column.warranty_expire' | translate }}</th>
            <td>00/00/0000</td>
          </tr>
          <tr>
            <th>{{ 'tables.column.total_cost' | translate }}</th>
            <td>0000 AED</td>
          </tr>
          <tr>
            <th>{{ 'tables.column.storage_location' | translate }}</th>
            <td>Room 1 | Aisle 4 | Shelf 1 | Box 9</td>
          </tr>
          <tr>
            <th>{{ 'tables.column.description' | translate }}</th>
            <td>Description</td>
          </tr>

        </table>
        </div>
      </div>
    </div>

  </div>
</div>
