<div class="part-overview">
  <div class="row">
    <div class="col-3">
      <div class="form-section">
        <div class="carousel-component">
          <p-carousel [value]="images$ | async" [numVisible]="1" [numScroll]="1" [circular]="true">
            <ng-template let-image pTemplate="item">
                <div class="image-item">
                    <div class="image-item-content">
                        <div class="p-mb-3 d-flex justify-content-center">
                            <img src="{{image.address}}" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        </div>
        <div class="overview-container">
          <hr class="line">
          <div class='row justify-content-between mt-4'>
            <h3 class="part-overview__title ml-4">{{(item$ | async).name}}</h3>
          </div>
          <table class="part-overview__info">
            <tr>
              <th>{{ 'tables.column.category' | translate }}</th>
              <td>{{(item$ | async).categoryName}}</td>
            </tr>
            <tr>
              <th>{{ 'tables.column.make' | translate }}</th>
              <td>{{(item$ | async).makeName}}</td>
            </tr>
            <tr>
              <th>{{ 'tables.column.model' | translate }}</th>
              <td>{{(item$ | async).modelName}}</td>
            </tr>
            <tr>
              <th>{{ 'tables.column.description' | translate }}</th>
              <td>{{(item$ | async).description}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-9 d-flex">
      <div *ngIf="route.snapshot.children.length > 0" class="w-100">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="route.snapshot.children.length === 0" class="component_wrapper table-container">
        <div class="card-table-header">
          <!-- <div class="search-box">
            <input id="searchInput" placeholder="{{'search.search_in_columns' | translate}}" type="text">
            <button>
              <img src="assets/icons/search-solid.svg" alt="">
            </button>
          </div>
          <button class="btn-download">
            <svg-icon [src]="downloadBtn"></svg-icon>
          </button> -->
          <button class="btn-primary-small" routerLink="/part-store/order-list/add-order-list"><i>+</i><a>{{'forms.order' | translate}}</a></button>
        </div>
        <app-table (onPagination)="eventPagination_partListItem()" pagination="part-list-item" [setting]="partListItemTable" [tableData]="partListItemTableData$"></app-table>
      </div>
    </div>
  </div>
</div>
