.part-overview {
  margin-top: 16px;
  padding-bottom: 25px;
  &__images {
    .parallax-slider {
      transition: opacity 0.4s ease-in;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      opacity: 1;
    }
    .transitioning-src {
      transition: opacity 0.4s ease-out;
      -webkit-transition: opacity 0.4s ease-out;
      -moz-transition: opacity 0.4s ease-out;
      -ms-transition: opacity 0.4s ease-out;
      -o-transition: opacity 0.4s ease-out;
      opacity: 0;
    }

    .selected-image {
      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      margin: 15px 0 0;
      padding: 0;

      li {
        padding-right: 15px;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        border-radius: 2px;
        cursor: pointer;
        max-width: 100%;
      }
    }
  }

  &__title {
    color: #0da06e;
    font-size: 20px;
  }

  &__info {
    th {
      width: 15em;
      color: #707070;
    }

    td {
      color: #005844;
    }
    td,
    th {
      padding: 10px;
      font-size: 15px;
    }
  }

  .component_wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    font-size: 16px;

    //.btn-download {
    //  position: absolute;
    //  right: 16px;
    //  top: 20px;
    //  height: 45px;
    //  width: 45px;
    //  border: 2px solid #a2a2a2;
    //  margin: 0 5px;
    //  border-radius: 4px;
    //  background: #ffff;
    //  a {
    //    background: url('../../../../assets/icons/download-solid.svg');
    //    position: absolute;
    //    height: 100%;
    //    width: 100%;
    //    background-repeat: no-repeat;
    //    top: 5px;
    //    left: 6px;
    //  }
    //}
    .btn-download {
      height: 40px !important;
      width: 40px !important;
      position: relative;
      bottom: 1px;
    }
  }
}

.overview-container {
  padding: 10px;
}
