app-filter {
  ::ng-deep {
    .filter-wrapper-container {
      .filter-wrapper {
        margin-bottom: 1rem !important;
      }
    }
  }
}
.side-panel {
  .location {
    .map {
      padding: 0px 15px 0px 15px;
    }
  }
}

.wrapper_cus {
  height: 181px;
  padding: 20px;
  margin-bottom: 15px;
}

.lifecycle {
  padding: 20px;
  padding-top: 5px;
}

.filter-date {
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px #ccc;
  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    li {
      cursor: pointer;
      border-inline-start: 1px solid #ccc;
      padding: 0.7em 1.5em;
      font-size: 0.9em;
      span {
        margin: 0 0.5em;
        label {
          cursor: pointer;
        }
      }
      &.active {
        color: #008755;
      }
    }
  }
}
