.side-panel {
  .location {
    .map {
      padding: 0px 15px 0px 15px;
    }
  }
}

.wrapper_cus {
  height: 181px;
  padding: 20px;
  margin-bottom: 15px;
}

.lifecycle{
  padding: 20px;
  padding-top: 5px;
}
:host ::ng-deep{
  h4{
  font-size:.8em;
  font-weight: bold;
}
}