:host ::ng-deep {
    .mat-form-field-label-wrapper{
        overflow:visible;
    }
    .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        transform: translateY(-1.1em) scale(0.75);
        width: max-content;
        background: #fff;
        font-size: 22px;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex{
        background-color:#fff;
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        height: 52px;
    }
    .mat-form-field-underline{
        display: none;
    }
    .mat-form-field-infix{
        border-top: 0;
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper{
        transform: translateY(0%);
    }
    .mat-select-value-text{
        font-weight: bold;
    }
    .mat-form-field{
        width: 100%;
        margin-top: 25px !important;
    }
}



