<div *ngIf="col.renderer=='userRenderer'">
  <table-user-renderer [user]="data"></table-user-renderer>
</div>
<div *ngIf="col.renderer=='vehicleRenderer'">
  <table-vehicle-renderer [vehicle]="data[col.field]"></table-vehicle-renderer>
</div>
<div *ngIf="col.renderer=='assetRenderer'">
  <table-asset-renderer [asset]="data"></table-asset-renderer>
</div>
<div *ngIf="col.renderer=='doubleLineRenderer'">
  <table-double-line-renderer [user]="data" [column]="col"></table-double-line-renderer>
</div>
<div *ngIf="context.showButton(col,index)">
  <table-general-button-renderer [setting]="setting.rowSettings" [row]="data[index]" [button]="data" [col]="col">
  </table-general-button-renderer>
</div>
<div *ngIf="col.renderer == 'subtextRenderer'">
  <table-subText-renderer [data]="data[col.field]"></table-subText-renderer>
</div>
<div *ngIf="col.renderer == 'informationRenderer'">
  <table-information-renderer [data]="data[col.field]"></table-information-renderer>
</div>
<div *ngIf="col.renderer == 'statusRenderer'">
  <table-status-renderer [status]="data"></table-status-renderer>
</div>
<div *ngIf="col.renderer == 'thumbTextRenderer'">
  <table-thumb-text-renderer [data]="data"></table-thumb-text-renderer>
</div>
<div *ngIf="col.renderer == 'booleanRenderer'">
  <table-boolean-renderer [setting]="setting.rowSettings" (selectTR)="context.selectTR($event)" [allData]="data"
    [data]="data[col.field]" [indexTR]="index" [hover]="context.rowIndexTable"></table-boolean-renderer>
</div>
<div *ngIf="col.renderer == 'externalLinkRenderer'">
  <table-external-link-renderer [link]="data[col.field]"></table-external-link-renderer>
</div>
<div *ngIf="col.renderer == 'routeLinkRenderer' && index == context.rowIndexTable">
  <table-route-link-renderer [link]="data['id']"></table-route-link-renderer>
</div>
<div *ngIf="col.renderer=='assetsRenderer'">
  <table-assets-renderer [data]="data[col.field]"></table-assets-renderer>
</div>
<div *ngIf="col.renderer=='fuelCardRenderer'">
  <fuel-card-renderer [data]="data[col.field]"></fuel-card-renderer>
</div>
<div *ngIf="col.renderer=='companyRenderer'">
  <table-company-renderer [company]="data"></table-company-renderer>
</div>
<div *ngIf="col.renderer=='assignNow'">
  <table-assign-now-renderer [data]="data"></table-assign-now-renderer>
</div>
<div *ngIf="col.renderer == 'priorityRenderer'">
  <table-priority-renderer [data]="data[col.field]"></table-priority-renderer>
</div>
<div *ngIf="col.renderer=='floatButton' && index == context.rowIndexTable">
  <float-button-renderer [lang]="activeLang" [col]="col" [setting]="setting.rowSettings" [data]="data">
  </float-button-renderer>
</div>
<div *ngIf="col.renderer=='colorize'">
  <table-colorize-renderer [lang]="activeLang" [data]="data[col.field]" [options]="col.rendererOptions">
  </table-colorize-renderer>
</div>
<div *ngIf="col.renderer=='trimColorRenderer'">
  <table-trim-color-renderer [colors]="data[col.field]"></table-trim-color-renderer>
</div>
<div *ngIf="col.renderer=='checkboxRenderer'">
  <table-checkbox-renderer (onChange)="context.updatedSelectedIds($event,col.field)" [data]='data' [field]="col.field">
  </table-checkbox-renderer>
  <!-- <table-checkbox-renderer (onChange)="updatedSelectedIds($event)" [data]='data[col.field]'></table-checkbox-renderer> -->
</div>
<div *ngIf="col.renderer=='toggleRenderer'">
  <table-toggle-renderer [data]='data' [setting]="setting.rowSettings" [field]="col.field"></table-toggle-renderer>
</div>
<div *ngIf="col.renderer=='downloadButtonRenderer'">
  <table-download-button-renderer [link]='data[col.field]'></table-download-button-renderer>
</div>
<div *ngIf="col.renderer=='dropdownRenderer'">
  <table-dropdown-renderer [rowIndexTable]="context.dropdownItemSelected" [data]="data" [index]="index"
    (selected)="context.changeItemDropdownSelected($event)"></table-dropdown-renderer>
</div>
<div *ngIf="col.renderer=='radialBar'">
  <radialBar-renderer [percent]='data[col.field]'></radialBar-renderer>
</div>
<div *ngIf="col.renderer=='dateRenderer'">
  <table-date-renderer [data]='data[col.field]'></table-date-renderer>
</div>
<div class='text-center' *ngIf="col.renderer=='receivedButton' && (index === context.rowIndexTable)">
  <table-received-button-renderer [setting]="setting.rowSettings" [data]="data" [col]="col">
  </table-received-button-renderer>
</div>
<div class='text-center'
  *ngIf="(col.renderer=='approveButton' || col.renderer=='rejectButton') && (index === context.rowIndexTable)">
  <table-approve-button-renderer [setting]="setting.rowSettings" [data]="data" [col]="col">
  </table-approve-button-renderer>
</div>

<div *ngIf="col.renderer=='lowOpacityRenderer'">
  <table-low-opacity-renderer [data]='data[col.field]'></table-low-opacity-renderer>
</div>

<div *ngIf="col.renderer=='progressRenderer'">
  <table-progress-renderer [data]='data[col.field]'></table-progress-renderer>
</div>

<div *ngIf="col.renderer=='plusMinusRenderer'">
  <anms-table-plus-minus-renderer [rowIndex]='index' [setting]='setting.rowSettings'></anms-table-plus-minus-renderer>
</div>
