<form [formGroup]="addCategoryForm">
  <div class="button-container">
    <button class="btn-primary-medium btn-scondary-green" type="button" (click)="goToList()">{{ 'forms.cancel' | translate }}</button>
    <button class="btn-primary-medium add" (click)="submit()">{{ 'search.add' | translate }}</button>
  </div>
  <div class="form-section mx-0">
    <h3 class="form-section__title">{{ 'configuration.business_category.business_category_info' | translate }}</h3>

    <div class="row form-section__row">
      <div class="col-12 col-md-4 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="name" pInputText
            placeholder="{{ 'configuration.business_category.business_category_name' | translate }}*" required type="text">
          <label>{{ 'configuration.business_category.business_category_name' | translate }}*</label>
          <anms-error
            [showError]="hasError('name',addCategoryForm,submited)"
            error="forms.feedback.required"></anms-error>
        </span>
      </div>
      <div class="col-12 col-md-4 p-field form-section__field">
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="assetType"
              (completeMethod)="filterAssets($event)"
              [suggestions]="assetTypes" field="name"
              [minLength]="1"></p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'configuration.business_category.asset_type' | translate }} *</label>
          </span>
          <anms-error
            [showError]="hasError('assetType',addCategoryForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </div>
      </div>
      <div class="col-12 col-md-3 form-section__field toggle-select">
        <p-inputSwitch formControlName="activeCategory"></p-inputSwitch>
        <span>{{ 'configuration.business_category.active_category' | translate }}</span>
      </div>
    </div>
    <div class="row form-section__row">
      <div class="col-12 col-md-12 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="description" pInputText
            placeholder="{{ 'configuration.business_category.description' | translate }}" type="text">
          <label>{{ 'configuration.business_category.description' | translate }}</label>
        </span>
      </div>
    </div>


  </div>
  <div class="form-section mx-0">
    <h3 class="form-section__title">
      <span class='plus-icon'>
        <svg-icon src='../../../../../assets/icons/add.svg'
          [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
      </span>
      {{ 'configuration.business_category.assign_sub_asset' | translate }}
    </h3>

    <div class="row form-section__row">
      <div class="col-12 col-md-6 p-field form-section__field">
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="subAsset"
              (completeMethod)="filterSubAssets($event)"
              [suggestions]="subAssets" field="name"
              [minLength]="1"></p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'configuration.business_category.sub_asset' | translate }} *</label>
          </span>
          <anms-error
            [showError]="hasError('subAsset',addCategoryForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </div>
      </div>
      <div class='col-lg-3'>
        <div class='upload-box'>
          <label class='space-drop' for='attach_picture_sub-asset'>
            <div>{{ 'configuration.business_category.upload_form.content' | translate }}</div>
          </label>
          <input type='file' hidden id='attach_picture_sub-asset'>
        </div>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="assetQuantity" pInputText
            placeholder="{{ 'configuration.business_category.quantity' | translate }}" type="text">
          <label>{{ 'configuration.business_category.quantity' | translate }}</label>
        </span>
      </div>
    </div>
  </div>
  <div class="form-section mx-0">
    <h3 class="form-section__title"><span class='plus-icon'>
        <svg-icon src='../../../../../assets/icons/add.svg'
          [svgStyle]="{ 'width.px':24 , 'fill': '#0DA06E' , 'height': '100%'}"></svg-icon>
      </span>
      {{ 'configuration.business_category.assign_accessory' | translate }}
    </h3>

    <div class="row form-section__row">
      <div class="col-12 col-md-6 p-field form-section__field">
        <div class="autocomplete-select">
          <span class="p-float-label">
            <p-autoComplete formControlName="accessory"
              (completeMethod)="filterAccessories($event)"
              [suggestions]="accessories" field="name"
              [minLength]="1"></p-autoComplete>
            <i class="pi pi-search"></i>
            <label>{{ 'configuration.business_category.accessory' | translate }} *</label>
          </span>
          <anms-error
            [showError]="hasError('accessory',addCategoryForm,submited)"
            error="forms.feedback.required">
          </anms-error>
        </div>
      </div>
      <div class='col-lg-3'>
        <div class='upload-box'>
          <label class='space-drop' for='attach_picture_sub-asset'>
            <div>{{ 'configuration.business_category.upload_form.content' | translate }}</div>
          </label>
          <input type='file' hidden id='attach_picture_sub-asset'>
        </div>
      </div>
      <div class="col-12 col-md-3 p-field form-section__field">
        <span class="p-float-label">
          <input formControlName="accessoryQuantity" pInputText
            placeholder="{{ 'configuration.business_category.quantity' | translate }}" type="text">
          <label>{{ 'configuration.business_category.quantity' | translate }}</label>
        </span>
      </div>
    </div>
  </div>
</form>
<div class='table-container component_wrapper'>
  <app-table [setting]='addCategory_Table'></app-table>
</div>
