@import '../part-master.component.scss';


.form-section{
    .item-info{
        height: 40px;
    }
    .add-button{
        width: 40px;
        border: 1px solid;
        height: 40px;
        border-radius: .3em;
    }
}
.drag-and-drop-form {
    ::ng-deep  ngx-file-drop {
      ::ng-deep {
        .ngx-file-drop__drop-zone {
          height: 40px;
        }
      }
    }
}
.remove-icon{
  width: 40px;
}
.item-info .remove-icon {
  border-radius:.3em;
}
hr.line{
  bottom:0;
}